<template>
  <div id="verification-action-btn" class="action" :class="{ 'end': !isBack }">
    <button v-if="isBack" @click="$emit('prev')" class="btn btn-clear"><img style="margin-right: 4px;" src="../../static/images/arrow_back-black.svg" alt="arrow-right"> Previous</button>
    <button @click="$emit('next')" :disabled="disabled" class="btn">next step <img style="margin-left: 4px;" src="../../static/images/arrow-right.svg" alt="arrow-right"></button>
  </div>
</template>

<script>

export default {
  name: 'v-action',
  props: {
    isBack: {
      default: true,
      type: Boolean
    },
    disabled: {
      default: false,
      type: Boolean,
    }
  }
}
</script>

<style scoped lang="scss">
.action{
  height: 80px;
  width: 80%;
  border-top: 1px solid #E4E6E8;
  align-items: center;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 420px) {
  .btn{
    width: 120px;
  }
}
</style>
