<template>
  <div class="sidebar">
    <div class="logo">
      <img src="../../static/images/Logo.svg" alt="logo">
    </div>
    <div class="menu">
      <div class="menu__inner">
        <div class="menu__title">
          <h2>Get started</h2>
        </div>
        <div class="menu__list steps" v-if="windowWidth > 1200">
          <div class="menu__item" v-for="(menuItem, index) in menu" :key="menuItem.name">
            <svg v-if="menuItem.step <= step" class="circle" xmlns="http://www.w3.org/2000/svg" version="1.1" height="28px" width="28px">
              <circle cx="13" cy="13" r="12" stroke="white" stroke-width="2" fill="#d9d9d980" />
            </svg>
            <svg v-else class="circle" xmlns="http://www.w3.org/2000/svg" version="1.1" height="28px" width="28px">
              <circle cx="13" cy="13" r="12" stroke="white" stroke-width="2" fill="none" />
            </svg>
            <span v-if="index !== menu.length - 1" class="line"></span>
            <span>{{ menuItem.name }}</span>
          </div>
        </div>
        <div v-else-if="getCurrentStep !== undefined" class="menu__item">
          <svg class="circle" xmlns="http://www.w3.org/2000/svg" version="1.1" height="28px" width="28px">
            <circle cx="13" cy="13" r="12" stroke="white" stroke-width="2" fill="#d9d9d980" />
          </svg>
          <span>{{ getCurrentStep.name }}</span>
        </div>
      </div>
    </div>
  </div>
</template>

  <script>
  import { mapGetters } from "vuex";

  export default {
    name: "v-verification-sidebar",
    props: ['step'],
    computed: {
      ...mapGetters(['getUser']),
      getCurrentStep() {
        return this.menu.find(el => el.step === this.step);
      },
    },
    data() {
      return {
        windowWidth: null,
        menu: [
          {
            name: 'Create a profiles',
            step: 1
          },
          {
            name: 'Documentation',
            step: 2
          },
          {
            name: 'Company details',
            step: 3
          },
          {
            name: 'Billing information',
            step: 4
          },
          {
            name: 'Cooperation agreement',
            step: 5
          },
        ]
      }
    },
    mounted() {
      this.windowWidth = window.innerWidth
    }
  }
  </script>

  <style scoped lang="scss">
  .sidebar{
    background: #1F1F1F;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
    height: 100%;
    min-height: 98%;
    z-index: 10;
    width: 100%;
    border-radius: 16px;
    padding: 30% 0 0 14%;
  }
  .logo{
    width: 80%;
    margin: 0 0 30px 0;
    img{
      width: 100%;
    }
  }
  .menu{
    &__title{
      h2{
        color: #FFF;
        font-family: Poppins, sans-serif;
        font-size: 36px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
    }
    &__list{
      margin-top: 40px;
      width: 100%;
      display: flex;
      flex-direction: column;
    }
    &__item{
      font-family: 'NunitoSans', sans-serif;
      height: 46px;
      text-decoration: none;
      color: white;
      font-size: 18px;
      line-height: 40px;
      display: flex;
      align-items: center;
      position: relative;
      margin-bottom: 16px;
      .line{
        width: 2px;
        height: 26px;
        position: absolute;
        background: white;
        left: 12px;
        top: 86%;
      }
      .circle{
        margin-right: 16px;
      }
    }
  }
  @media (max-width: 1200px) {
    .sidebar{
      padding: 24px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .menu{
      &__title{
        text-align: center;
      }
    }
    .logo{
      width: 180px;
      position: relative;
      margin: 0 0 20px 0;
    }
  }
  @media (max-width: 600px) {
    .logo{
      margin: 10px 0 0 0;
    }
  }
  </style>
