<template>
  <v-content-header
      :items="['Booking number', 'Date', 'From', 'To', 'Service class', 'Chaufeur/Vehicle', 'Status']"
  />
  <div class="planned__rides">
    <div class="planned__rides_main">
      <div class="planned__rides_list">
        <div class="planned__rides_item" v-for="completeItem in complete" :key="completeItem.id">
          <div class="planned__rides_booking-number planned__rides_cell">
            <span>{{ normalizeDate(completeItem.created_at) }}</span>
          </div>
          <div class="planned__rides_date planned__rides_cell">
            <span class="font__medium">{{ normalizeDate(completeItem.created_at) }}qweqwe</span>
          </div>
          <div class="planned__rides_pickup planned__rides_cell">
            <span>Prague, Vip Service Clib Continental, K Letišti 1029/32 Ruzyně, 161 00, Praha 6</span>
          </div>
          <div class="planned__rides_dropoff planned__rides_cell">
            <span>Vip Service Club Continental, K Letišti 1029/32 Ruzyně, 161 00, Praha 6</span>
          </div>
          <div class="planned__rides_service planned__rides_cell">
            <span>Sedan</span>
          </div>
          <div class="planned__rides_chaufeur-vehicle planned__rides_cell">
            <span class="font__medium">23.00€</span>
          </div>
          <div class="planned__rides_status planned__rides_cell">
            <span @click="$router.push('/bookings/planned-rides/123')">Details</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import normalizeDate from "../../../mixins/normalizeDate.js";
import VContentHeader from "../../../components/v-content-header.vue";
export default {
  name: "planned-rides",
  props: ['complete'],
  components: {VContentHeader},
  mixins: [normalizeDate],
  methods: {
    calculatePrice(price, action){
      return Math.round(eval(price + action))
    }
  },
}
</script>

<style scoped lang="scss">
.main__block{
  max-height: calc(100vh - 248px);
  overflow-y: auto;
}
</style>