<template>
  <v-content-header
      :items="['Order #', 'Departure', 'Route', 'Vehicles', 'Driver/Vehicle']"
      :buttons=true
      :buttonsWidth="5"
  />
  <div class="content-table">
    <div class="content-table__main">
      <div class="content-table__list">
        <div class="content-table__item" v-for="finishedItem in finished" :key="finishedItem.id">
          <div class="content-table__item-value" style="width: 10%">
            <span>{{ finishedItem.id }}</span>
          </div>
          <div class="content-table__item-value" style="width: 20%">
            <span class="font__medium">{{ normalizeDate(finishedItem.route_date) }}</span>
          </div>
          <div class="content-table__item-value" style="width: 30%">
            <span>{{ finishedItem['pickup_address'] }}</span>
          </div>
          <div class="content-table__item-value" style="width: 15%">
            <span>{{ finishedItem['get_cars'][0].title }}</span>
          </div>
          <div class="content-table__item-value" style="width: 15%">
            <span>{{ finishedItem.driver?.first_name + '' + finishedItem.driver?.last_name }}</span>
          </div>
          <div class="content-table__item-value" style="width: 15%">
            <a @click="$router.push(`/bookings/planned-rides/${finishedItem.id}`)" class="link">Details</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VContentHeader from "../../../components/v-content-header.vue";
import normalizeDate from "../../../mixins/normalizeDate.js";
import calculatePrice from "../../../mixins/calculatePrice.js";
export default {
  name: "planned-rides",
  props: ['finished'],
  mixins: [normalizeDate, calculatePrice],
  components: {VContentHeader},
}
</script>

<style scoped lang="scss">
</style>
