<template>
  <v-nav-menu
      :user="getUser"
  />
  <section class="booking">
    <router-view
        :offers="bookings.market"
        :finished="bookings.complete"
        :planned="bookings.planned"
        @bookingsUpdate="getBookings()"
    />
    <span v-if="this.bookings.market?.length > 0 || this.bookings.planned?.length > 0 || this.bookings.complete?.length > 0" class="count" :class="{
      'fixed-count': (this.$route.name === 'offers' && bookings.market?.length > 8) ||
      (this.$route.name === 'planned-rides' && bookings.planned?.length > 8) ||
      (this.$route.name === 'finished-rides' && bookings.complete.length > 8)
    }">
      Total
      <template v-if="this.$route.name === 'offers'">
        offers: {{ bookings.market?.length }}
      </template>
      <template v-if="this.$route.name === 'planned-rides'">
        planned rides: {{ bookings.planned.length }}
      </template>
      <template v-if="this.$route.name === 'finished-rides'">
        finished rides: {{ bookings.complete.length }}
      </template>
    </span>
  </section>
</template>

<script>
import VNavMenu from "../../components/v-nav-menu.vue";
import {mapGetters} from "vuex";
import { api as axios } from '@/helpers/axios';

export default {
  name: "p-bookings",
  components: {VNavMenu},
  computed: {
    ...mapGetters(['getUser'])
  },
  data() {
    return {
      bookings: [],
    }
  },
  methods: {
    getBookings(){
      axios.post(process.env.VUE_APP_API_DOMAIN + 'bookings/all', {user_id: this.getUser.id}).then( resp => {
        this.bookings = resp.data
      })
    }
  },
  created() {
    this.getBookings()
  }
}
</script>

<style scoped>
.count{
  color: #515150;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: block;
  margin-top: 20px;
}
.fixed-count{
  position: absolute;
  bottom: 0;
}
.booking{
  position: relative;
}
@media (max-width: 1200px) {
  .booking{
    margin-top: 10px;
    overflow: hidden;
  }
}
</style>
