<template>
  <v-content-header
      class="content-header"
      :items="['Departure', 'Route', 'Vehicles', 'Note', 'Price']"
      :buttons=true
  />
  <div class="content-table">
    <div class="content-table__main">
      <div class="content-table__list">
        <div class="content-table__item" v-for="offersItem in resultingArray" :key="offersItem.id">
          <div class="content-table__item-value mobile-list__item-value" style="width: 20%">
            <span class="mobile-list__title">Departure</span>
            <span>{{ normalizeDate(offersItem.route_date) }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 30%">
            <span class="mobile-list__title">Route</span>
            <span>{{ offersItem.route?.title || '-' }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 15%">
            <span class="mobile-list__title">Vehicles</span>
            <span style="color: #0E855B;text-transform: uppercase">{{ offersItem['get_cars'][0].title }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 10%">
            <span class="mobile-list__title">Note</span>
            <img class="note-img" v-if="offersItem.comment.length === 0" src="../../static/images/note-clear.svg" alt="note">
            <img class="note-img" v-else src="../../static/images/note-black.svg" alt="note">
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 10%">
            <span class="mobile-list__title">Price</span>
            <span class="font__medium">{{ calculatePrice(offersItem.amount, '/100 * 77') }}€</span>
          </div>
          <div class="content-table__item-value" style="width: 15%; justify-content: center">
            <button @click="changeStatus(offersItem.id)" class="btn-orange">
              <span>Accept offer</span>
            </button>
          </div>
        </div>
      </div>
      <div class="pagination" v-if="showPagination">
        <div class="pagination__inner">
          <img v-if="currentPage !== 1" @click="getCurrentPageArray(currentPage - 1, offers)" style="transform: rotate(180deg);" src="../../static/images/pagination-arrow.svg" alt="pagination-arrow">
          <template v-for="index in countPages" :key="index">
            <span v-if="currentPage !== 1 && currentPage !== 2 && index === currentPage - 1" class="pagination__ellipsis">...</span>
            <span v-if="getStatusShowPaginationItem(index)" :class="{ 'current-page':index === currentPage }" class="pagination__page" @click="getCurrentPageArray(index, offers)">{{ index }}</span>
            <span v-if="currentPage !== countPages && currentPage !== countPages - 1 && index === currentPage + 1" class="pagination__ellipsis">...</span>
          </template>
          <img v-if="currentPage !== countPages" @click="getCurrentPageArray(currentPage + 1, offers)" src="../../static/images/pagination-arrow.svg" alt="pagination-arrow">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VContentHeader from "../../components/v-content-header.vue";
import { api as axios } from '@/helpers/axios';
import {mapGetters} from "vuex";
import pagination from "../../mixins/pagination.js";
import normalizeDate from "../../mixins/normalizeDate.js";
import calculatePrice from "../../mixins/calculatePrice.js";
export default {
  name: "p-offers",
  props: ['offers'],
  mixins: [pagination, normalizeDate, calculatePrice],
  components: {VContentHeader},
  computed: {
    ...mapGetters(['getUser']),
  },
  methods: {
    changeStatus(id) {
      this.$store.commit('CHANGE_STATUS_LOAD', true)
      axios.post(`${process.env.VUE_APP_API_DOMAIN}bookings/update-status`, {id: id, user_id: this.getUser.id, status: 'planned'}).then( resp => {
        if (resp.data.status){
          this.$emit('bookingsUpdate')
          this.$store.commit('CHANGE_STATUS_LOAD', false)
        }
      })
    },
  },
  created() {
    if (!this.$store.state.isShowBooking) {
      this.$router.replace('/bookings/planned-rides')
    }
    if (window.innerWidth < 600) {
      this.setElementsOnPage(2);
    }
    if (this.offers?.length) {
      this.startPagination(this.offers);
    }
  },
  watch: {
    offers: function (){
      this.startPagination(this.offers);
    },
  }
}
</script>

<style scoped lang="scss">
.offers{
  &__item{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 64px;
    & > div{
      padding-right: 20px;
      & > span{
        font-family: 'NunitoSans', sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}
.note-img{
  margin: 0 4px;
  padding: 0 14px;
}
@media (max-width: 1200px) {
  .content-table__item{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: auto;
    padding-left: 20px;
    background: white;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 24px;
    border-radius: 4px;
    & > div{
      width: 100% !important;
      align-items: start !important;
      img{
        padding-left: 0;
        margin-left: 4px;
      }
      span, a{
        padding: 6px 0;
      }
    }
  }
  .content-table__item-value{
    display: flex;
    justify-content: start !important;
  }
  .content-header{
    display: none;
  }
  .content-table{
    background: #E6E6E3;
  }
  .btn-orange{
    margin-top: 14px;
  }
}
</style>
