<template>
    <v-login-form/>
</template>

<script>
import VLoginForm from "../../components/v-login-form.vue";

export default {
  name: "p-login",
  components: {VLoginForm},
}
</script>

<style scoped lang="scss">
</style>
