<template>
  <teleport to="body">
    <div class="notification" v-show="isShow">
      <div class="notification__inner">
        <div class="notification__close">
          <img @click="$emit('closeNotification')"
               class="notification__close-btn"
               src="../../static/images/close2.svg"
               alt="close"
          >
        </div>
        <div class="notification__icon">
          <img v-if="type !== 'success'" src="../../static/images/warning-notification.svg" alt="warning">
          <img v-else src="../../static/images/verification-success.svg" alt="warning" />
        </div>
        <div class="notification__text">
          <span v-if="type === 'success'">Record has been save successfully</span>
          <span v-if="type === 'cancel'">Are you sure want to cancel this entry?</span>
          <span v-if="type === 'save'">Are you sure want to save this entry?</span>
        </div>
        <div v-show="type !== 'success'" class="notification__btns">
          <button class="notification__btn notification__btn1" :class="{'red': type === 'cancel', 'green': type === 'save'}">
            <span v-if="type === 'cancel'">YES</span>
            <span v-if="type === 'save'">SAVE</span>
          </button>
          <button class="notification__btn notification__btn2">
            <span>CANCEL</span>
          </button>
        </div>
      </div>
    </div>
  </teleport>
</template>

<script>
export default {
  name: "v-notification",
  props: {
    isShow: {
      default: false,
      type: Boolean
    },
    type: {
      default: 'save',
      type: String
    }
  }
}
</script>

<style scoped lang="scss">
.notification{
  width: 100%;
  height: 100lvh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(44, 44, 44, 0.4);
  z-index: 10000000;
  position: fixed;
  top: 0;
  left: 0;
  span{
    color: #000;
    font-family: Poppins, sans-serif;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
  }
  &__inner{
    max-width: 96%;
    width: 460px;
    height: 320px;
    border-radius: 10px;
    background: #FFF;
    padding: 32px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  &__btns{
    width: 260px;
    display: flex;
    justify-content: space-between;
  }
  &__btns button{
    padding: 8px 16px;
    border-radius: 8px;
    border: 1px solid #232321;
    width: 120px;
    background: none;
    span{
      font-size: 14px;
    }
  }
  &__icon{
    height: 100px;
    width: 100%;
    img{
      width: 100%;
      height: 100%;
    }
  }
  &__close{
    width: 100%;
    display: flex;
    justify-content: end;
    img{
      cursor: pointer;
    }
  }
}
.red{
  background: #DA1E28 !important;
  border: none !important;
  span{
    color: white !important;
  }
}
.green{
  background: #008B28 !important;
  border: none !important;
  span{
    color: white !important;
  }
}
</style>