<template>
  <div class="verification-select">
    <div class="city form__btn_select select select__touch" ref="select">
      <label for="city">{{ label }}</label>
      <div class="select__touch input__select" id="city">
        <input @blur="blurSelect('cityName', city)"
               @focus="toggleSelect('city', 'focus', cityName, cities, 'filteredCities', 'city')"
               @input="toggleSelect('city', 'input', cityName, cities, 'filteredCities', 'city')"
               v-model="cityName"
               placeholder="Enter city*"
               :class="{ 'input-error': errors.city.length, 'input-valid': city.name !== undefined && errors.city.length === 0 && city.name.length > 0}"
               class="select__touch" type="text"
               :disabled="!Object.keys(country).length">
        <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
      </div>
      <transition name="anime-select">
        <div class="cities select__options select__touch" v-if="selects.city">
          <div v-if="isLoadingCities" class="loader"></div>
          <ul v-else class="city__list select__options_list select__touch">
            <template v-if="filteredCities.length || cityName.length > 0">
              <template v-if="filteredCities.length">
                <li @click="changeSelect('city', city, 'city', undefined, 'cityName')" class="city__item select__options_item select__touch" v-for="city in filteredCities" :key="city">{{ city.name }}</li>
              </template>
              <template v-else>
                <span>Not found</span>
              </template>
            </template>
            <template v-else>
              <li @click="changeSelect('city', city, 'city', undefined, 'cityName')" class="city__item select__options_item select__touch" v-for="city in cities" :key="city">{{ city.name }}</li>
            </template>
          </ul>
        </div>
      </transition>
    </div>
    <div v-if="errors.city.length" class="error">
      <span>{{ errors.city[0] }}</span>
    </div>
  </div>
</template>

<script>
export default {
  name: "SelectInput",
  props: ['errors', 'label', ''],
}
</script>

<style scoped>

</style>
