<template>
  <div class="verification-content">
    <div class="agreement">
      <div class="title">
        <h2>Cooperation agreement</h2>
      </div>
      <div class="content">
        <div>Cooperation Agreement<br/>(hereinafter referred to as the "<strong>Agreement</strong>”)<br/>by and
          between<br/>
          <strong>MYTRIPLINE s.r.o.</strong><br/>
          ID. No. 07388489
          <br/>
          With registered office: Roháčova 145/14, 130 00 Prague 3, Czech Republic
          <br/>Represented by Mr Erik Lehuta, the Director
          <br/>
          E-mail: <a href="mailto:ceo@mytripline.com">ceo@mytripline.com</a>
          <br/>
          (hereinafter referred to as the "<strong>MYTRIPLINE</strong>")
          <br/><br/>
          and
          <br/><br/>
          …………..
          <br/>
          ID. No. ……..
          <br/>
          With registered office: ………….
          <br/>
          E-mail:…….
          <br/>(hereinafter referred to as the "<strong>Driver</strong>")
          <br/>/<br/>
          …………..
          <br/>
          ID. No. ……..
          <br/>
          With registered office: ………….
          <br/>Represented by …….
          <br/>E-mail:…….
          <br/>(hereinafter referred to as the "<strong>Partner</strong>")
          <br/><br/>
          (MYTRIPLINE and Driver/Partner hereinafter referred to as the “<strong>Party</strong>" and together the
          "<strong>Parties</strong>”)
          <br/>
          <br/><br/>
          <strong>Preamble</strong>
          <br/><br/>
          1)MYTRIPLINE is the operator of a platform that brings together passengers and drivers who independently offer
          transport services;
          <br/><br/>
          2) the Driver/Partneris an independent transport service provider who wishes to provide transport services in
          countries where MYTRIPLINE operates (hereinafter collectively referred to as the “<strong>Driver</strong>”);
          the Driver has all necessary means, including, but not limited to, licenses, permits and insurance, required
          to provide transport services in accordance with the Agreement;
          <br/><br/>
          3) the Driver and MYTRIPLINE wish to enter into this Agreement which describes in detail the rights and
          obligations of the Parties in relation to the provision of transport services by the Driver to passengers.
          <br/><br/>
          <strong>I. Introduction</strong>
          <br/><br/>
          1) MYTRIPLINE operates the www.mytripline.com website and other applications and booking tools(hereinafter
          collectively referred to as the “<strong>Platform</strong>”),which are subject to MYTRIPLINE’s Terms of Use
          (hereinafter referred to as the “<strong>Terms of Use</strong>”),which provide reservation services
          (hereinafter referred to as the “<strong>Reservation Services</strong>” or the “<strong>Booking
            Services</strong>”) that allow a user (hereinafter referred to as the “<strong>User</strong>”) to book a
          selected ride with a Driver (hereinafter referred to as the “<strong>Transport Service</strong>”). The
          Platform also includes any websites, applications or booking tools of third parties in cooperation with
          MYTRIPLINE which refer to the Terms of Use or to MYTRIPLINE as the ultimate provider of Booking Services
          (hereinafter referred to as the “<strong>Third Party Platform</strong>”).
          <br/><br/>
          2) The Users book the Transport Services through the Platform by selecting place, date and time of departure,
          destination, method of payment and confirming the order. If available, the User may also select for the Driver
          to make stops along the way and the places where these stops shall be made. For the purposes of this
          Agreement, the passenger (hereinafter referred to as the “<strong>Passenger</strong>”)is a person who will
          travel in the Driver’s vehicle and use the Transport Service booked through the Platform (who may include the
          User).
          <br/><br/>
          3) The Driver wishes to provide his/her Transport Services to the Passengers.
          <br/><br/>
          4) This Agreement sets out the terms of cooperation under which MYTRIPLINE shall provide the Driver with
          opportunities to provide Transport Services to Passengers. TheDriver shall comply with the obligations set out
          in this Agreement.
          <br/><br/>
          <strong>II. Online Driver’s profile</strong>
          <br/><br/>
          1) For the purposes of cooperation under this Agreement, the Driver and MYTRIPLINE shall communicate via an
          online profile on the Platform and accessible via a link provided to the Driver prior to or upon conclusion of
          this Agreement (hereinafter the "<strong>Driver’s Profile</strong>").
          <br/><br/>
          2) The Driver undertakes to keep the access data to the Driver’s Profile confidential and to notify MYTRIPLINE
          immediately of any actual or suspected breach or improper use or disclosure of the Driver’s Profile
          information.
          <br/><br/>
          <strong>III. Driver’s declarations and general obligations</strong>
          <br/><br/>
          1) The Driver confirms by the signing the Agreement that he/she is familiar with the Terms of Use of the
          Platform applicable to the Booking and Transport Services offered through the Platform, which are available at
          https://mytripline.com/terms, and undertakes to comply with them and any amendments and/or changes thereto.
          <br/><br/>
          2) The Driver undertakes to hold all licenses, permits, insurance, etc. required to provide the Transport
          Services as an independent business in all countries in which the Driver wishes to provide the Transport
          Services, as notified to MYTRIPLINE upon conclusion of this Agreement or via the Profile (hereinafter the
          “<strong>Permits</strong>”). If the Driver is a legal entity and/or if the Driver employs other individuals to
          provide the Transport Services, the Driver must ensure that all the individual drivers providing Transport
          Services on behalf of the Driver hold the Permits. The scope of the Transport Services is defined in the Terms
          of Use.
          <br/><br/>
          3) The Driver shall be in possession of the Permits no later than the date on which the Driver provides the
          first Transport Service to a User based on a booking made through the Platform.The Driver undertakes to
          maintain the Permits for the duration of the provision of Transport Services to Users and to notify MYTRIPLINE
          immediately in the event that the Permitsare lost, suspended or the Driver ceases to be in business.
          <br/><br/>
          4) The Driver undertakes to keep all information relating to the Driver in Driver's Profile accurate and
          up-to-date and to provide all information and documents via the Driver’s Profile that MYTRIPLINE may
          reasonably request in connection with the cooperation under this Agreement, in particular, details of the
          Driver's preferences and availability and copies of documents relating to Permits.
          <br/><br/>
          5) The Driver agrees that MYTRIPLINE may pass on (share)the Driver’s name, photograph and contact details to
          Users who have booked a Transport Services, as well as theDriver’s information and documents to MYTRIPLINE’s
          partners, to the extent that is reasonably necessary in the context of the cooperation between MYTRIPLINE and
          MYTRIPLINE’s partners.
          <br/><br/>
          6) The Driver undertakes to provide MYTRIPLINE with proof of his/her personal liability insurance in
          connection with Transport Services, accident insurance for the vehicle and, if applicable, any other
          insurance, if such insurance is compulsory in the country where the Driver intends to provide the Transport
          Services, before commencing the provision of the Transport Services.
          <br/><br/>
          7) The Driver agrees to regularly check the Driver’s Profile for any updates from MYTRIPLINE, at least once a
          week.
          <br/><br/>
          8) The Driver agrees to complete the MYTRIPLINE Safety & Training Program for Drivers prior to the provision
          of Transport Services and then to duly comply with all rules with which he/she will be familiar.
          <br/><br/>
          9) The Driver also confirms by the signing the Agreement that he/she is familiar with the MYTRIPLINE
          Non-compliance Policy which includes Zero Tolerance Policy Statement and undertakes to comply with them and
          any amendments and/or changes thereto.
          <br/><br/>
          <strong>IV. Resales</strong>
          <br/><br/>
          MYTRIPLINE may use third parties in arranging opportunities for the Driver to provide Transport Services, such
          as Third PartyPlatform operators or other resellers and agents (hereinafter referred to as the “<strong>MYTRIPLINE
            Partners</strong>”), to which Driver expressly consents. If MYTRIPLINE informs the Driver of the terms and
          conditions of cooperation with a particular MYTRIPLINE Partner, which include additional obligations for the
          Driver, the Driver also undertakes to comply with these terms and conditions.
          <br/><br/>
          <strong>V. Booking of Transport Services</strong>
          <br/><br/>
          1) If a User makes a booking via the Platform (hereinafter referred to as the “<strong>Booking</strong>” or
          the “<strong>Reservation</strong>”) which matches the availability of the Driver, MYTRIPLINE may send the
          details of theBooking to the Driver via the Driver’s Profile. In urgent cases, MYTRIPLINE may contact the
          Driver directly by telephone, email, or messaging application.
          <br/><br/>
          2) The Driver shall have 14 hours (unless a shorter period is specified in the communication from MYTRIPLINE)
          to either accept or decline the Booking via the same channel as used by MYTRIPLINE. The Driver will endeavour
          to accept or decline the Booking as soon as possible after receiving the indicative Booking.
          <br/><br/>
          3) If the Driver refuses the Booking or does not accept the Booking within the specified time, MYTRIPLINE may
          offer the Booking to another transport service provider.
          <br/><br/>
          4) MYTRIPLINE reserves the right to decide whether to offer the User's Reservation to the Driver or not.
          MYTRIPLINE is free to determine the number or frequency of Reservations offered to the Driver, regardless of
          Driver's preference or availability. MYTRIPLINE may cancel a Reservation offered to a Driver at any time
          before the Driver accepts or declines the Reservation or misses a confirmation deadline; MYTRIPLINE will make
          reasonable efforts to limit such cancellations to only necessary cases.
          <br/><br/>
          <strong>VI. Transport Services</strong>
          <br/><br/>
          <br/>1) After acceptance of the Reservation by the Driver and confirmation by MYTRIPLINE, the Driver must
          contact the User directly or via the Platform (depending on the option of MYTRIPLINE) to agree on the details
          of the departure location (e.g. detailed address in the selected city) for each Reservation accepted by the
          Driver. If the Driver does not agree the details with the User, MYTRIPLINE is entitled to agree these details
          with the User on behalf of the Driver and will communicate these details to the Driver via the Driver's
          Profile.
          <br/>2) The agreed pick-up details are binding on the Driver. The Passenger enters into a contract onTransport
          Service with the Driver; MYTRIPLINE is not a party to such contract.MYTRIPLINE only represents the Driver in
          communicating with the User (either directly or through a MYTRIPLINE's Partner) about the Transport Service.
          <br/>3) Upon acceptance of the Reservation, the Driver shall perform the Transport Service to the Passenger as
          specified in the Reservation and in accordance with the Terms of Use, this Agreement and all applicable laws
          and regulations. The Driver agrees not to offer or sell any additional services or goods to the Passenger.
          <br/><br/>
          4) Car:The Driver must comply with the following requirements for the vehicles that may be used to provide the
          Transport Services, i.e.the Driver must ensure that the vehicle used for the specific Transport Service:
          <br/>- corresponds to the category of vehicle booked and to the rules issued by MYTRIPLINE and communicated to
          the Driver via the Driver’s Profile;
          <br/>- is not more than 10 years old at the time of the scheduled termination of the ride;
          <br/>- meets all legal requirements for Transport Services in all countries where the Driver intends to
          provide Transport Services;
          <br/>- complies with such other requirements as may be issued and updated by MYTRIPLINE from time to time as
          notified to the Driver by MYTRIPLINE via the Driver’s Profile;
          <br/>- is clean and in good working order.
          <br/><br/>
          5) Time: The Driver must arrive with the vehicle at the agreed pick-up location at least 60 minutes prior to
          the agreed pick-up time. The Driver will make every effort to arrive at the destination at the agreed time and
          will ensure that he/she can be contacted by MYTRIPLINE and the Passenger by telephone before, during, and
          after the trip.
          <br/><br/>
          <strong>VII. Driver’s liability</strong>
          <br/><br/>
          1) For each instance in which (i) the Driver fails to arrive at the agreed pick-up location at least at the
          agreed pick-up time with a vehicle that fully complies with this Agreement, or (ii) the Driver is unable to
          complete the Transport Service for any reason (including damage to the vehicle), the Driver authorises
          MYTRIPLINE, at MYTRIPLINE 's discretion and at the Driver's expense, to do any of the following:
          - to offer the Transport Service to the Passenger and/or the User with another transport service provider;
          - to offer the Passenger and/or the User a replacement transport at up to 300% of the price agreed for the
          Transport Service not provided by the Driver.
          <br/><br/>
          2) If the Passenger and/or the User accepts one of the above offers, MYTRIPLINE is authorised to arrange the
          accepted alternative transport on behalf of the Driver. MYTRIPLINE will use reasonable endeavours to select
          the most cost-effective available alternative means of transport.
          <br/><br/>
          3) The Driver must always inform MYTRIPLINE of any event that may prevent the Driver from completing a
          Transport Service without undue delay, but at the latest within 15 minutes of the event occurring.
          <br/><br/>
          4) In the event that the Driver breaches the obligation to arrive on time at the pick-up location with a
          suitable vehicle, the Driver shall, upon MYTRIPLINE's request, pay to MYTRIPLINE a contractual penalty equal
          to 50% of the price agreed for the Driver's missed Transport Service, but at least EUR 100 or the equivalent
          amount converted from the invoicing (settlement) currency. MYTRIPLINE shall be entitled to claim damages in
          excess of the contractual penalty.
          <br/><br/>
          5)If the User or the Passenger cancels the Transport Service in accordance with the Terms of Use, the Driver
          undertakes to refund any sums paid by the User or the Passenger in accordance with the Terms of Use.
          <br/><br/>
          6) The Driver authorises MYTRIPLINE to reimburse (compensate) the User or the Passenger on the Driver's
          behalf. The Driver agrees to reimburse (recompensate) MYTRIPLINE for any payments made by MYTRIPLINE on behalf
          of the Driver.
          <br/><br/>
          <strong>VIII. Other Driver’s obligations and contractual penalties</strong>
          <br/><br/>
          1) By signing the Agreement, the Driver acknowledges that he/she has been informed by MYTRIPLINE of the terms
          and conditions of the MYTRIPLINE dress code and the terms and conditions of use of the MYTRIPLINER Application
          (hereinafter referred to as the “<strong>MYTRIPLINER App</strong>”)and agrees to comply with these terms and
          conditionsand any amendments and/or changes thereto.
          <br/><br/>
          2) The Driver is required to attend rides dressed decently and follow the prescribed dress code if it is a
          business ride. In case of business ride, the Driver is required to wear black trousers, black shoes, white
          shirt, black jacket, black tie (no other colors are allowed). In the case of the economy category, the Driver
          is obliged to wear decent and clean clothes (no tracksuits, etc.).
          <br/><br/>
          3) The Driver is obliged to purchase MYTRIPLINE's dress code without delay after entering into this Agreement
          by placing an order with MYTRIPLINE for the supply of the dress code clothing. MYTRIPLINE will provide the
          ordered clothing to the Driver as a new transport partner based on the Driver's order.
          <br/><br/>
          4) After confirming the Reservation, the Driver is obliged to ride with the Passenger himself/herself; the
          Driver is not entitled to have anyone else (even under Driver’s Profile) ride for him.
          <br/><br/>
          5) TheDriver is obliged to inform MYTRIPLINE’s support service without delay in case of any ambiguity or
          changes on the part of the User (e.g. if the User wants to change the pick-up time or the loading/unloading
          point, wants an extra stop or to add an extra stop, or if the User wants to change the type of car, increase
          the number of Passengers, etc.). The Driver can contact the MYTRIPLINE’s support service directly via the
          MYTRIPLINER App, where there is a support/chat button.
          <br/><br/>
          6) The Driver is obliged to duly observe all traffic regulations of the individual countries in which he/she
          will provide Transport Services. The Driver shall also be obliged to drive safely and to be properly slept and
          prepared for each rideso as to be able to point out points of interest to Passengers during their journey,
          even if no stops have been arranged.
          <br/><br/>
          7) The Driver is aware that his/her Driver's fee includes parking fees, motorway tolls, tips from Passengers
          and any other costs associated with the ride; the Driver is therefore not entitled to any compensation from
          MYTRIPLINE in this respect. In the event that the Passenger is satisfied with the Driver, the Passenger is
          entitled to give the Driver an extra tip during or after the ride and such amount shall automatically be the
          Driver's.
          <br/><br/>
          8) The Driver is obliged to familiarize himself thoroughly with the terms of use of the MYTRIPLINER Appand to
          comply with them. If the Driver fails to use MYTRIPLINER App correctly, MYTRIPLINE shall be entitled to
          require the Driver to pay a contractual penalty of up to 100% of the booking price of each Reservation where
          the Driver fails to use MYTRIPLINER App during the ride correctly.
          <br/><br/>
          9) If the Driver fails to arrive on time at the agreed pick-up location to perform the ride, MYTRIPLINE shall
          be entitled to require the Driver to pay a contractual penalty of up to 100% of the booking price of the
          Reservation plus 300 % of the booking price of the Reservation.
          <br/><br/>
          10) The Driver is obliged to warn the Passenger at the beginning of the ride that if he/she wishes to stay
          longer at a stop (e.g. at a historical monument selected by the Passenger at the time of Booking), he/she will
          be automatically charged for the extra time. The Driver is obliged to inform MYTRIPLINE immediately of the
          extension of the stop. MYTRIPLINE will then inform the Driver of the increase in the price for the extended
          stop, which the Driver must inform the Passenger immediately. The amount of the increase shall be paid by the
          Passenger to the Driver in cash. In the event that the Driver does not inform the Passenger of the increase in
          the stop extension price, the Driver shall not be entitled to any compensation for the extra time spent
          waiting for the Passenger during the stop extension and MYTRIPLINE shall be entitled to demand from the Driver
          a contractual penalty of EUR 500. If the Driver requests the Passenger to pay the amount for the stop
          extension without the Driver informing MYTRIPLINE in advance of the stop extension, MYTRIPLINE shall be
          entitled to terminate immediately cooperation with the Driver under this Agreement and require the Driver to
          pay a contractual penalty of EUR 5,000.
          <br/><br/>
          11) The Driver is not allowed to resell/assign User’s Reservations to other drivers outside MYTRIPLINE. The
          Driver is prohibited from creating private social chats and communications where this reselling/assigning of
          Reservations would take place. In the event of a breach of this contractual provision by the Driver,
          MYTRIPLINE shall be entitled to terminate immediately cooperation with the Driver under this Agreementand
          require the Driver to pay a contractual penalty of up to EUR 10,000.
          <br/><br/>
          12) If the Driver does not use a car that is registered and fulfills all the conditions of this Agreement, in
          such case MYTRIPLINE shall be entitled to terminate immediately cooperation with the Driver under this
          Agreement and require the Driver to pay a contractual penalty of up to EUR 10,000.
          <br/><br/>
          13) The Driver must maintain the vehicle clean inside and outside, properly prepared for each ride and in
          perfect technical order (e.g. no lights on the dashboard, no brake wear, etc.). If the Driver fails to comply
          with these conditions for the proper condition of the vehicle, MYTRIPLINE shall be entitled to terminate
          immediately cooperation with the Driver under this Agreement and require the Driver to pay a contractual
          penalty of up to EUR 10,000.
          <br/><br/>
          14) The Driver shall not distribute advertising and promotional items (e.g. business cards, promotional
          products, etc.) of other companies than MYTRIPLINE to Passengers inside or outside the vehicle. In the event
          of a breach of this provision, MYTRIPLINE shall be entitled to immediately terminate cooperation with the
          Driver under this Agreement and require the Driver to pay a contractual penalty of up to EUR 10,000.
          <br/><br/>
          15) The Driver is prohibited from making Reservations directly with the Passenger inside or outside the
          vehicle in lieu of MYTRIPLINE; the Driver is also prohibited from storing and using the Passenger's telephone
          contact information after the termination of the ride. If the Driver violates this, MYTRIPLINE shall be
          entitled to immediately terminate cooperation with the Driver under this Agreement and require the Driver to
          pay a contractual penalty of up to EUR 10,000.
          <br/><br/>
          16) In the event that the Driver is informed by the Passenger during the ride that he/she wishes to arrange
          another ride with MYTRIPLINE and the Driver transporting him/her, the Driver must inform MYTRIPLINE during or
          after the ride in order for MYTRIPLINE to make a new Reservation for the Passenger. In the event that the
          Driver fails to do so or is unwilling to assist and advise the Passenger, MYTRIPLINE shall be entitled to
          require the Driver to pay a contractual penalty of up to EUR 10,000. In the event of repeated breaches,
          MYTRIPLINE shall be entitled to immediately terminate cooperation with the Driver under this Agreement.
          <br/><br/>
          17) The Driver must not have any advertisements or advertising stickers on his/her car from other companies
          than MYTRIPLINE. In the event of a breach of this obligation, MYTRIPLINE shall be entitled to immediately
          terminate cooperation with the Driver under this Agreement and require the Driver to pay a contractual penalty
          of up to EUR 20,000.
          <br/><br/>
          18) If a child seat (or a booster seat or a toddler carrier) is specified as a condition in the User's
          Reservation, the Driver is obliged to fulfil this condition. If the Driver fails to comply with this
          condition, MYTRIPLINE shall be entitled to require the Driver to pay a contractual penalty of up to EUR
          100,000.
          <br/><br/>
          19) If the Driver provides MYTRIPLINE with false or invalid vehicle or Driver's documents, or MYTRIPLINE
          discovers that someone else is driving under the Driver's name, MYTRIPLINE shall be entitled to terminate
          immediately cooperation with the Driver under this Agreement and require the Driver to pay a contractual
          penalty of up to EUR 100,000.
          <br/><br/>
          20) The Driver must not get into a confrontation/conflict with the User/Passenger. If this still happens, the
          Driver must immediately contact MYTRIPLINE support service via the MYTRIPLINER App and MYTRIPLINE support
          service will then resolve the problem directly with the User/Passenger. If the Driver fails to comply with
          this obligation and tries to resolve the situation with the User/Passenger directly on his/her own without
          MYTRIPLINE support service, MYTRIPLINE shall be entitled to terminate immediately cooperation with the Driver
          under this Agreement and require the Driver to pay a contractual penalty of up to EUR 100,000.
          <br/><br/>
          21) The Driver is obliged since the beginning of cooperation with MYTRIPLINE under this Agreement to have a
          valid personal liability insurance in connection with Transport Services with an insurance limit of an
          adequate amount and accident insurance for the vehicle and, if applicable, any other insurance, if such
          insurance is compulsory in the countries where the Driver provides the Transport Services. If the Driver is a
          legal entity and/or if the Driver employs other individuals to provide the Transport Services, the Driver must
          ensure that all the individual drivers providing Transport Services on behalf of the Driver have the required
          insurance coverage. If MYTRIPLINE finds out that the Driver or the individual drivers providing Transport
          Services on behalf of the Driver does not have the required insurance coverage, MYTRIPLINE shall be entitled
          to terminate immediately cooperation with the Driver under this Agreement and require the Driver to pay a
          contractual penalty of up to EUR 100,000.
          <br/><br/>
          22) The contractual penalties are payable 14 days after the Driver has received a notice from MYTRIPLINE to
          pay the relevant contractual penalty.
          <br/><br/>
          <strong>IX. Terms and conditions of MYTRIPLINE Partners</strong>
          <br/><br/>
          1) By signing the Agreement, the Driver acknowledges that he/she has been informed by MYTRIPLINE of the terms
          and conditions of the MYTRIPLINE Partners for Drivers providing Transport Services to their customers and the
          compensations/penalties for violation of these terms and conditions.
          <br/><br/>
          2) The current list of MYTRIPLINE Partners’ terms and conditions and compensations/penalties for breach of
          these terms and conditions is attached as Annex 2 to this Agreement.
          <br/><br/>
          3) The Driver undertakes to comply with the terms and conditions of MYTRIPLINE Partners as communicated to
          him/her by MYTRIPLINE and to pay the required compensations/penalties to MYTRIPLINE Partner through MYTRIPLINE
          in the event of a breach of such terms and conditions, without delay after the Driver has been requested by
          MYTRIPLINE to pay such compensations/penalties.
          <br/><br/>
          4) In the event of any change in the terms and conditions of MYTRIPLINE Partners, MYTRIPLINE will inform the
          Driver of such changes through Driver’s Profile and the Driver agrees to comply with the new amended terms and
          conditions since they were announced to the Driver through Driver’s Profile.
          <br/><br/>
          5) In the event that MYTRIPLINE starts to cooperate with a new MYTRIPLINE Partner with new terms and
          conditions, MYTRIPLINE will notify the Driver and the Parties shall promptly execute an amendment to this
          Agreement containing the terms and conditions of the new MYTRIPLINE Partner which the Driver undertakes to
          comply with by executing the amendment of this Agreement.
          <br/><br/>
          <strong> X. Incidents</strong>
          <br/><br/>
          1) If the Driver is involved in any serious incident, including a traffic accident of any nature, related to
          his/her Transport Services, he/she must immediately report the incident to MYTRIPLINE by email or telephone no
          later than one hour after the incident occurs.
          <br/><br/>
          2) The Driver agrees to provide MYTRIPLINE and MYTRIPLINE's Partners, if applicable, with any assistance
          reasonably requested in connection with the investigation of the incident and the settlement of any claims
          related to the incident. In particular, if requested by MYTRIPLINE, the Driver shall introduce MYTRIPLINE to
          the Driver's insurer and include MYTRIPLINE in communications related to any claims arising from the incident.
          If any Passenger is injured in an accident, the Driver shall: (i) provide reasonable medical support and
          assistance to Passengers who need such assistance, (ii) provide appropriate language translation services to
          Passengers if they do not speak the local language and the Driver does, and (iii) obtain all relevant
          Passenger insurance details and provide them to MYTRIPLINE upon MYTRIPLINE’s request, including the name and
          contact information of the insurer and the relevant policy number.
          <br/><br/>
          <strong>XI. Indemnification</strong>
          <br/><br/>
          The Driver shall indemnify and hold MYTRIPLINE harmless from and against any and all claims, actions, suits,
          damages, costs and expenses, including reasonable legal fees and expenses, asserted against MYTRIPLINE or
          incurred by MYTRIPLINE in connection with or arising out of the Driver's Transport Services.
          <br/><br/>
          <strong>XII. Driver’s fee</strong>
          <br/><br/>
          1) The Driver shall be paid for the Transport Service provided in an amount calculated by MYTRIPLINE according
          to the formula disclosedin the Driver’s Profile. The Driver confirms that he/she is familiar with the formula
          as of the date of this Agreement and instructs MYTRIPLINE to submit the price calculated according to the
          formula to the Users via the Platform for the purpose of indicative Bookings. If the Driver shall not agree
          with such prices in the future, the Drivermay always:(i) reduce his/her availability to zero, or(ii) request
          MYTRIPLINE to offer the Driver's Transport Services fora price indicated by the Driver if such option is
          technically feasible for MYTRIPLINE's booking system.
          <br/><br/>2)Once the Driver, or MYTRIPLINE on the Driver’s behalf, confirms the Booking of the Transport
          Service for a specific price, such price is binding and the Driver agrees not to change such price and not to
          require any further payment for the Transport Service from the User.
          <br/><br/>
          <strong>XIII. Payment settlements</strong>
          <br/><br/>
          1) The Driver agrees to use apayment servicesprovider (hereinafter referred to as the “Payment processor”) of
          MYTRIPLINE’s choice to collect payments from the Users and the Passengers for the Transport Services in
          accordance with the Terms of Use. The Driver shall comply with the terms and conditions of the Payment
          processor to the extent applicable. The Driver shall provide all details necessary for payment processing, in
          particular to comply with any anti-money laundering requirements. In exceptional cases where such collection
          is not possible or where the User or the Passenger opts for cash payment, the Driver shall collect the cash
          payment directly from the Passenger.
          <br/><br/>
          2) The Driver authorises MYTRIPLINE to issue a receipt for payment to the Passenger on behalf of the Driver at
          MYTRIPLINE's discretion. The Driver must inform MYTRIPLINE whether he/she is or will become a VAT payer.
          <br/><br/>
          <strong>XIV. MYTRIPLINE’s fee</strong>
          <br/><br/>
          1) Unless agreed otherwise between the Driver and MYTRIPLINE, Driver shall pay MYTRIPLINE a fee for
          MYTRIPLINE's Booking Services under this Agreement from the fee foreach Transport Service provided (here in
          after referred to as the “MYTRIPLINE’s fee”), except in the case of fully refunded Transport Services. The
          MYTRIPLINE’s fee is generally 30% of the fee paid for Driver's Transport Services, the exact rate or amount of
          MYTRIPLINE’s fee shall be agreed by way of the Driver accepting the Booking which indicates MYTRIPLINE’s fee.
          The Driver and MYTRIPLINE may agree otherwise, in particular by MYTRIPLINE proposing a different MYTRIPLINE’s
          fee in the Booking offer and the Driver accepting such Booking.
          <br/><br/>
          2) Unless agreed otherwise between the Driver and MYTRIPLINE, the MYTRIPLINE’s fee shall be payable as
          follows:
          <br/>- the Payment processor shall deduct the MYTRIPLINE’s fee directly from the collected fees for Transport
          Services and remit it to MYTRIPLINE; the Driver authorises MYTRIPLINE to agree to such terms and conditions
          with the Payment processor and agrees to provide all assistance necessary to make such adjustment;
          <br/>- if direct deduction is not possible (for example, if the fee for Transport Service is collected by the
          Driver and other fees are insufficient to cover the MYTRIPLINE’s fee), then the Driver shall pay the
          MYTRIPLINE’s fee within fourteen days after the date of the Transport Service to MYTRIPLINE's bank account as
          notified to the Driver via Driver’s Profile or otherwise.
          <br/><br/>
          <strong>XV. Confidentiality</strong>
          <br/><br/>
          The Parties agree that all information contained in this Agreement and all information provided by a Party in
          connection with its cooperation under this Agreement, whether or not delivered prior to the date of this
          Agreement, is confidential (hereinafter referred to asthe“<strong>Confidential Information</strong>”). Each
          Party agrees to keep the Confidential Information reserved and not to disclose it to any person or entity
          without the prior written consent of the other Party, except that: (i) each Party may use the Confidential
          Information to the extent required to provide the Booking Services and Transport Services, (ii) each Party may
          disclose Confidential Information to its agents and affiliates if such agents and affiliates have been
          instructed to maintain Confidential Information reserved in accordance with the terms of this Agreement, and
          (iii) MYTRIPLINE may use Confidential Information to the extent required to assert any claims under this
          Agreement or the Terms of Use. This clause shall not apply to any disclosure, notice or written statement
          required by law or regulation of any governmental entity, except that the Party required to make such notice
          shall consult with the other Party as to the timing and content of such notice prior to making such notice.
          <br/><br/>
          <strong>XVI. Final provisions</strong>
          <br/><br/>1) This Agreement is made for an indefinite period and may be terminated without any reason by
          either Party on one month's notice.
          <br/><br/>2) MYTRIPLINE shall also be entitled to terminate this Agreement with immediate effect in the
          circumstances expressly set out in this Agreement or in the event of any other gross or repeated breach of any
          provision of this Agreement by the Driver.
          <br/><br/>3) Except for communications through the Driver’s Profile that relate to communications about the
          services under this Agreement and their terms and conditions, any communications related to this Agreement
          (such as a termination notice or penalty notice) must be written in English and sent by email to the address
          specified by the Party at the head of this Agreement.
          <br/><br/>4) Communications are deemed received on the date they are sent unless the sending Party receives an
          out-of-office reply or failure to deliver the message. In such case the Party may attempt to redeliver the
          email or use the other Party's mailing address listed in the head of this Agreement. Such notice sent to a
          mailing address is deemed received on the tenth business day after posting, unless in fact the addressee
          receives the notice earlier.Either Party may update its communication address by giving notice in accordance
          with this article.
          <br/><br/>5) No amendment or modification to this Agreement shall be valid unless it is made in writing and
          signed by both Parties or their authorized representatives.
          <br/><br/>6) In the event that any provision of this Agreement is or becomes invalid or ineffective, the
          validity and effectiveness of the remaining provisions of this Agreement shall remain unaffected. The Parties
          agree to replace such invalid or ineffective provision with a valid and effective provision that comes as
          close as possible to the legal and economic intent of the original provision.
          <br/><br/>7) The Parties agree that neither Party shall be relieved of its obligations under this Agreement in
          the event of a change in circumstances.
          <br/><br/>8) This Agreement and the relationships arising from it shall be governed by laws of the Czech
          Republic to the exclusion of conflict of laws rules and to the exclusion of the UN Convention on Contracts for
          the International Sale of Goods. Any and all disputes arising out of or relating to this Agreement between the
          Parties shall be resolved exclusively by the competent courts of the Czech Republic.The Parties agree on the
          local jurisdiction of the District Court for Prague 1.
          <br/><br/>9) This Agreement is drawn up in two original copies, one of which shall be given to each of the
          Parties. This Agreement may be executed by ink signature of the Parties or by electronic means, including the
          exchange of scanned copies of signed documents or by DocuSign or similar electronic tools.This procedure shall
          also apply in the case of amendments to this Agreement.
          <br/><br/>10) Integral parts of this Agreement are Information about processing of personal data, which forms
          Annex 1 to this Agreement, and List of the terms and conditions and the compensations of MYTRIPLINE’s
          Partners, which forms Annex 2 to this Agreement.
          <br/><br/>
          11) The Parties hereto declare that they have duly read the Agreement and that it expresses their true and
          free will, and in witness whereof they affix their signatures below.
          <br/><br/>
          In ………………….. on ……………&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;In
          ………………….. on ……………
          <br/><br/>
          ……………………………………….&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;……………………………………….<br/>
          <strong>MYTRIPLINE s.r.o.</strong><br/>
          Mr Erik Lehuta, the Director
          <br/><br/> <br/><br/>
          <strong>Annex 1</strong>
          <br/><br/>
          <span class="text-center"><strong>
            INFORMATION ABOUT PROCESSING OF PERSONAL DATA<br/>for MYTRIPLINE employees, suppliers and business partners
          </strong></span>
          <br/>
          Please refer to the information below on how we handle your personal data if you are interested in cooperation
          with MYTRIPLINE:
          <br/><br/>
          <strong>(1) Who shall handle your data:</strong> <br/>
          The company MYTRIPLINE s.r.o., ID. No. 07388489, with registered office at Roháčova 145/14, 130 00 Praha 3,
          Czech Republic (hereinafter “<strong>MYTRIPLINE</strong>”)is a data controller. MYTRIPLINE uses services of
          various suppliers who handle your data as data processors. MYTRIPLINE may release your data to public
          authorities or other third parties if there is such statutory obligation. Some data may be shared with Users,
          Passengers and MYTRIPLINE’sPartners.
          <br/><br/>
          <strong>(2) What data we process, for what purpose and on what grounds:</strong> <br/>
          <br/>A. When we start talking about your cooperation with us, we process your data which you gave us (usually
          your CV) and data which you published (such as in your LinkedIn or Facebook profile). Such processing
          qualifies as pre-contractual steps and it is our legitimate interest.
          <br/>B. We comply with the statutory obligations related to our cooperation. We process the data as it is
          required by law. In particular, such data includes identification data, data on your remuneration and other
          data on our mutual relationship.
          <br/>C. We process your data in a way so that we can perform the contract concluded between us. In doing so,
          for example, we process your name, photo, contact details, availability, information about your position and
          your experience (hereinafter the “Service Information”). Service Information is passed on to the Passengers
          and also to our clients, provided that we offer to provide them with the services in which you
          participate.This is, alongside with the performance of the contract, also our legitimate interest - we need
          this for our business development and contract procurement.
          <br/>D. To be able to evaluate our mutual cooperation, we process your identification details and details
          about the cooperation, in particular details about your Transport Services and relevant remuneration. Such
          processing is our legitimate interest - needed for effective management and development of our company and
          Booking Services provided.
          <br/>E. In order to protect our legitimate interests, in particular to protect our property and to provide
          services to our clients, we process your identification data and data about your services. Such processing is
          our legitimate interest.
          <br/><br/>
          <strong>(3) What is the period for which we will process your data:</strong> <br/>
          For the period of 5 years from the termination of our cooperation, unless the law prescribes a longer period
          or we agree otherwise.
          <br/><br/>
          <strong>(4) Where will your data be processed:</strong> <br/>
          Some of the processors may process your data in another state both within or outside the EU. If transferred
          outside the EU, your data will be transferred under the standard contractual clauses - more detailed
          information is available on the European Commission's website.
          <br/><br/>
          <strong>(5) Your rights:</strong> <br/>
          The data protection laws grant to you a variety of rights in the field of data protection. To the extent
          provided by applicable data protection regulations - in particular the GDPR - you have the following rights:
          <br/><br/>
          <ul>
            <li>- You may ask for access to your data processed by us (it means that you may ask what data we process
              and how we process them);
            </li>
            <li>- You may ask for a restriction of the processing of your data (it means that we do not delete the data
              now, but we will not work with it) if the applicable legal conditions are met;
            </li>
            <li>- You may request the deletion of your data if the applicable legal conditions are met;</li>
            <li>- You may object to the processing (if you object to processing where we rely on legitimate interest, we
              will restrict such processing unless we prove serious and qualified legitimate interest for the
              processing).
            </li>
          </ul>
          <br/><br/>
          If you wish to exercise any of these rights, please contact us. If you believe that we are violating the law
          by processing your personal data, you have the right to file a complaint with the national supervisory
          authority (for the Czech Republic, the Office for Personal Data Protection - www.uoou.cz).
          <br/><br/>
          For more information on the processing of personal data, please refer to MYTRIPLINE PartnerPrivacy Policy.
          <br/><br/>
          You may contact us at: <a href="mailto:info@mytripline.com">info@mytripline.com</a>
        </div>
      </div>
      <div class="text-title">
        <svg width="25" height="24" viewBox="0 0 25 24" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path
              d="M18.5 10.5V19.125C18.5 19.3712 18.4515 19.615 18.3573 19.8425C18.263 20.07 18.1249 20.2767 17.9508 20.4508C17.7767 20.6249 17.57 20.763 17.3425 20.8573C17.115 20.9515 16.8712 21 16.625 21H5.375C4.87772 21 4.40081 20.8025 4.04917 20.4508C3.69754 20.0992 3.5 19.6223 3.5 19.125V7.875C3.5 7.37772 3.69754 6.90081 4.04917 6.54917C4.40081 6.19754 4.87772 6 5.375 6H13.2256"
              stroke="#2C2C2C" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          <path
              d="M22.0424 2.51192L22.0424 2.51188C21.976 2.43896 21.8956 2.38026 21.8059 2.33931C21.7162 2.29836 21.6191 2.27603 21.5206 2.27365C21.422 2.27127 21.324 2.2889 21.2324 2.32548C21.1409 2.36206 21.0577 2.41682 20.9879 2.48645L20.9878 2.48647L20.408 3.06346L22.0424 2.51192ZM22.0424 2.51192C22.3062 2.80059 22.2811 3.25133 22.0033 3.52858L21.4381 4.09106L21.438 4.09114C21.4053 4.12395 21.3665 4.15 21.3237 4.16777C21.281 4.18554 21.2351 4.19468 21.1888 4.19468C21.1425 4.19468 21.0967 4.18554 21.0539 4.16777C21.0111 4.15 20.9723 4.12395 20.9396 4.09114L20.9396 4.09108M22.0424 2.51192L20.9396 4.09108M20.9396 4.09108L20.408 3.56048C20.3422 3.49455 20.3052 3.40517 20.3052 3.31197C20.3052 3.21879 20.3421 3.12942 20.408 3.0635L20.9396 4.09108ZM10.7738 12.6822L10.7738 12.6822L19.2357 4.23536C19.3104 4.16088 19.4115 4.11906 19.517 4.11906C19.6225 4.11906 19.7236 4.16087 19.7983 4.23532C19.7983 4.23533 19.7983 4.23535 19.7984 4.23536L20.2646 4.704C20.3385 4.77859 20.3799 4.87929 20.3799 4.98423C20.3799 5.08916 20.3385 5.18986 20.2647 5.26446C20.2647 5.26446 20.2647 5.26446 20.2646 5.26447L11.8178 13.7272L11.8178 13.7272C11.7696 13.7757 11.7097 13.8109 11.6438 13.8295L11.6438 13.8295L11.6427 13.8298L10.4783 14.2211C10.4509 14.2292 10.4217 14.2297 10.394 14.2227C10.3661 14.2156 10.3406 14.2011 10.3203 14.1808C10.2999 14.1604 10.2854 14.1349 10.2784 14.1071C10.2713 14.0793 10.2718 14.0502 10.2799 14.0227L10.6712 12.8573L10.6712 12.8573L10.6715 12.8562C10.6901 12.7904 10.7253 12.7305 10.7738 12.6822Z"
              fill="#2C2C2C" stroke="#2C2C2C" stroke-width="0.046875"/>
        </svg>
        <span>Contract Signature</span>
      </div>
      <div class="text-description">Please download the agreement, review it, and sign it here.</div>
      <a :href="VUE_APP_BACKEND_DOMAIN + '/storage/MYTRIPLINE_Driver_Agreement.docx'" target="_blank" style="width: 100%">
        <button class="download-btn">
          <svg width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M13 6.91406V13C13 13.3978 12.842 13.7794 12.5607 14.0607C12.2794 14.342 11.8978 14.5 11.5 14.5H4.5C4.10218 14.5 3.72064 14.342 3.43934 14.0607C3.15804 13.7794 3 13.3978 3 13V3C3 2.60218 3.15804 2.22064 3.43934 1.93934C3.72064 1.65804 4.10218 1.5 4.5 1.5H7.58594C7.85106 1.50004 8.10532 1.60536 8.29281 1.79281L12.7072 6.20719C12.8946 6.39468 13 6.64894 13 6.91406Z"
                stroke="white" stroke-width="1.5" stroke-linejoin="round"/>
            <path
                d="M8 1.75V5.5C8 5.76522 8.10536 6.01957 8.29289 6.20711C8.48043 6.39464 8.73478 6.5 9 6.5H12.75M5.5 9H10.5M5.5 11.5H10.5"
                stroke="#F8F8F8" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
          Download here
        </button>
      </a>
      <div
          class="upload-area"
          @dragover.prevent
          @drop.prevent="handleDrop"
          @click="triggerFileInput"
      >
        <input
            type="file"
            ref="fileInput"
            @change="handleFileChange"
            style="display: none;"
        />
        <div class="upload-svg">
          <svg width="24" height="25" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path
                d="M21 15.5V19.5C21 20.0304 20.7893 20.5391 20.4142 20.9142C20.0391 21.2893 19.5304 21.5 19 21.5H5C4.46957 21.5 3.96086 21.2893 3.58579 20.9142C3.21071 20.5391 3 20.0304 3 19.5V15.5"
                stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            <path d="M17 8.5L12 3.5L7 8.5" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round"
                  stroke-linejoin="round"/>
            <path d="M12 3.5V15.5" stroke="#2C2C2C" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
        </div>
        <p v-if="!file">Please insert the signed contract here.</p>
        <p v-if="file">Contract was inserted.</p>
      </div>
      <div v-if="errors.file.length" class="error">
        <span>{{ errors.file[0] }}</span>
      </div>
    </div>
  </div>
  <v-verification-action

      @next="toNextForm"
      @prev="toPrevForm"
  />
</template>

<script>
import VVerificationAction from "../../components/verification/v-action.vue";
import { api as axios } from '@/helpers/axios';

export default {
  name: 'p-verification-agreement',
  props: ['user'],
  components: {
    VVerificationAction,
  },
  data() {
    return {
      disabled: true,
      file: null,
      VUE_APP_BACKEND_DOMAIN: process.env.VUE_APP_BACKEND_DOMAIN,
      errors: {
        file: [],
      }
    };
  },
  computed: {
    isDisabled() {
      return this.disabled || Object.values(this.$store.state.verificationLoadingList).some((val) => val < 100)
    }
  },
  methods: {
    toNextForm() {
      if (!this.file) {
        this.errors.file.push('Please insert file');
        return
      }

      this.$store.commit('CHANGE_STATUS_LOAD', true);
      axios.post(`${process.env.VUE_APP_API_DOMAIN}user/update-status`, {
        user_id: this.user.id,
        status: 'checking'
      }).then(resp => {
        this.$store.commit('CHANGE_STATUS_LOAD', false);
        if (resp.data) {
          this.$router.replace('/verification/success');
          this.$emit('setStep', 0);
        }
      })
    },
    toPrevForm() {
      this.$router.replace({name: 'verification-billing', query: {prev: 'true'}});
      this.$emit('setStep', 4);
    },
    handleDrop(event) {
      const files = event.dataTransfer.files;
      if (files.length) {
        this.loadImage(files[0]);
      }
    },
    handleFileChange(event) {
      const files = event.target.files;
      if (files.length) {
        this.loadImage(files[0]);
      }
    },
    loadImage(file) {
      const reader = new FileReader();
      reader.onload = (e) => {
        this.file = e.target.result;
        this.uploadFile(file);
      };
      reader.readAsDataURL(file);
    },
    triggerFileInput() {
      this.$refs.fileInput.click();
    },
    async uploadFile(file) {
      const formData = new FormData();
      formData.append('user_id', this.user.id);
      formData.append('agreement', file);

      try {
        this.$store.commit('CHANGE_STATUS_LOAD', true);
        await axios.post(`${process.env.VUE_APP_API_DOMAIN}profile/update`, formData, {
          headers: {
            'Content-Type': 'multipart/form-data',
          },
          onUploadProgress: (progressEvent) => {
            const percent = Math.round((progressEvent.loaded * 100) / progressEvent.total);
            this.$store.state.loadPercent = percent;
          }
        });
        this.$store.commit('CHANGE_STATUS_LOAD', false);
        this.disabled = false;
        this.errors.file = [];

      } catch (error) {
        console.error(error);
      }
    },
  }
}
</script>

<style scoped lang="scss">
.upload-svg {
  margin-bottom: 1rem;
}

.upload-area {
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 1px dotted #C1C1C1;
  min-height: 147px;
  border-radius: 8px;
  padding: 10px;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  font-size: 16px;
  font-weight: 400;
  line-height: 20.8px;
  color: #212121;
}

.download-btn {
  background: #4370FF;
  width: 70%;
  min-height: 48px;
  border-radius: 8px;
  transition: 0.5s;
  font-size: 14px;
  font-weight: 500;
  line-height: 16.09px;
  letter-spacing: 0.0025em;
  margin-right: auto;
  margin-left: auto;
  border: 0;
  color: #fff;
  margin-bottom: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;

  svg {
    margin-right: 0.25rem;
  }
}

.download-btn:hover {
  background: #2848b3;
}

.text-title {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  color: #05060B;
  display: flex;
  align-items: center;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 2rem;

  svg {
    margin-right: 0.5rem;
  }
}

.text-description {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
  color: #828285;
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

.agreement {
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding-bottom: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  width: 70%;
  border-radius: 15px;
  background: #FFF;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.25), 0px 1px 2px 0px rgba(0, 0, 0, 0.25);
  padding: 40px 44px;
  height: 100%;
  overflow-y: scroll;

  a {
    text-decoration: underline;
  }

  .text-center {
    display: table;
    text-align: center;
    width: 100%;
  }
}

h2 {
  text-align: center;
}

.title {
  margin-bottom: 30px;
}

.btn-upload {
  label {
    border-radius: 8px;
    border: 1px solid var(--dark-gray, #232321);
    padding: 8px 16px;
  }
}

.no__image {
  background: url("../../static/images/empty-avatar.svg");
}

@media (max-width: 1200px) {
  .content {
    width: 80%;
    padding: 10px;
  }
}
</style>
