<template>
  <div class="verification-content">
    <div class="billing">
      <div class="title">
        <h2>Active billing information</h2>
      </div>
      <div class="verification-input">
        <label for="bank">Bank Account Country</label>
        <input :class="{ 'input-error': errors.bankCountry.length }" v-model="bankCountry" id="bank" type="text" placeholder="Enter Bank Account Country*">
      </div>
      <div v-if="errors.bankCountry.length" class="error">
        <span>{{ errors.bankCountry[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="bank">Bank Account Holder Name</label>
        <input :class="{ 'input-error': errors.bankHolderName.length }" v-model="bankHolderName" id="bank" type="text" placeholder="Enter Bank Account Holder Name*">
      </div>
      <div v-if="errors.bankHolderName.length" class="error">
        <span>{{ errors.bankHolderName[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="company-id">Company ID number</label>
        <input :class="{ 'input-error': errors.companyId.length }" v-model="companyId" id="company-id" type="text" placeholder="Enter Company ID number*">
      </div>
      <div v-if="errors.companyId.length" class="error">
        <span>{{ errors.companyId[0] }}</span>
      </div>
      <div class="is_vat_input verification-input">
        <label for="company-id">Are you a VAT payer, or are you not?</label>
        <div>
          <input name="is_vat" v-model="isVat" :value="true" id="is_vat_yes" type="radio">
          <label for="is_vat_yes"><strong>Yes</strong>, we are VAT-registered.</label>
        </div>
        <div>
          <input name="is_vat" v-model="isVat" :value="false" id="is_vat_no" type="radio">
          <label for="is_vat_no" class="last-item"><strong>No</strong>, we are not VAT-registered.</label>
        </div>
      </div>
      <div v-if="isVat" class="verification-input">
        <label for="vat">VAT</label>
        <input :class="{ 'input-error': errors.vat.length }" v-model="vat" id="vat" type="text" placeholder="Enter VAT">
      </div>
      <div v-if="errors.vat.length" class="error">
        <span>{{ errors.vat[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="iban">IBAN</label>
        <input :class="{ 'input-error': errors.iban.length }" v-model="iban" id="bank" type="text" placeholder="Enter IBAN*">
      </div>
      <div v-if="errors.iban.length" class="error">
        <span>{{ errors.iban[0] }}</span>
      </div>
    </div>
  </div>
  <v-verification-action
      @next="toNextForm"
      @prev="toPrevForm"
  />
</template>

<script>
import uploadFile from "../../mixins/uploadFile.js";
import validations from "../../mixins/validations.js";
import VVerificationAction from "../../components/verification/v-action.vue";
import checkFillings from "../../mixins/checkFillings";
import { api as axios } from '@/helpers/axios';

export default {
  name: 'p-verification-billing',
  mixins: [uploadFile, validations],
  props: ['user'],
  components: {
    VVerificationAction,
  },
  data() {
    return {
      bankCountry: this.user.company.billing_country || '',
      companyId: this.user.company.billing_company || '',
      vat: this.user.company.vat || '',
      isVat: true,
      iban: this.user.company.iban || '',
      bankHolderName: this.user.company.bank_holder_name || '',
      errors: {
        bankCountry: [],
        companyId: [],
        vat: [],
        iban: [],
        bankHolderName: [],
      },
    }
  },
  created() {
    const isRedirect = checkFillings(this.bankCountry, this.companyId, this.vat, this.iban);
    if (isRedirect && !this.$route.query.prev) {
      this.$router.replace('/verification/agreement');
    }
  },
  methods: {
    toNextForm() {
      this.fullValidation();
      if (!this.checkErrors()) {
        this.$store.commit('CHANGE_STATUS_LOAD', true);
        let formData = new FormData();
        const company = {
          'billing_country': this.bankCountry,
          'billing_company': this.companyId,
          'vat': this.isVat ? this.vat : null,
          'iban': this.iban,
          'bank_holder_name': this.bankHolderName,
        }
        formData.append('company', JSON.stringify(company));
        formData.append('user_id', this.user.id);
        axios.post(`${process.env.VUE_APP_API_DOMAIN}company/${this.user.company.id}`, formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })
            .then( resp => {
              if (resp.data.status) {
                this.$store.commit('SET_COMPANY', resp.data.company);
                this.$store.commit('CHANGE_STATUS_LOAD', false);
                this.$router.replace('/verification/agreement');
                this.$emit('setStep', 5);
              }
            })
      } else {
        this.$emit('scrollToError');
      }
    },
    toPrevForm() {
      this.$router.replace({name: 'verification-company', query: {prev: 'true'}});
      this.$emit('setStep', 3);
    },
    fullValidation() {
      this.updateErrors();
      this.validation(this.bankCountry, 'bankCountry', ['require']);
      this.validation(this.companyId, 'companyId', ['require']);
      this.validation(this.iban, 'iban', ['require']);
    },
  }
}
</script>

<style scoped lang="scss">
.is_vat_input {
  margin-bottom: 8px;

  input {
    margin-left: 24px;
    margin-right: 8px;
  }
}
h2{
  text-align: center;
}
.billing{
  width: 60%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}
.title{
  margin-bottom: 30px;
}
.btn-upload{
  label{
    border-radius: 8px;
    border: 1px solid var(--dark-gray, #232321);
    padding: 8px 16px;
  }
}
.no__image{
  background: url("../../static/images/empty-avatar.svg");
}
@media (max-width: 600px) {
  .billing{
    width: 80%;
  }
}
</style>
