<template>
  <div class="verification-content">
    <div class="company">
      <div class="title">
        <h2>Company details</h2>
      </div>
      <div class="verification-input">
        <label for="name">Name of company</label>
        <input :class="{ 'input-error': errors.name.length }" v-model="name" id="name" type="text"
               placeholder="Enter name of company*">
      </div>
      <div v-if="errors.name.length" class="error">
        <span>{{ errors.name[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="email">Email</label>
        <input :class="{ 'input-error': errors.email.length }" v-model="email" id="email" type="text"
               placeholder="Enter email*">
      </div>
      <div v-if="errors.email.length" class="error">
        <span>{{ errors.email[0] }}</span>
      </div>
      <div class="verification__sub-title" style="margin-top: 30px">
        <h3>Legal representative info</h3>
      </div>
      <div class="verification-input">
        <label for="first-name">First name</label>
        <input :class="{ 'input-error': errors.legal.firstName.length }" v-model="legal.firstName" id="first-name"
               type="text" placeholder="Enter first name*">
      </div>
      <div v-if="errors.legal.firstName.length" class="error">
        <span>{{ errors.legal.firstName[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="last-name">Last name</label>
        <input :class="{ 'input-error': errors.legal.lastName.length }" v-model="legal.lastName" id="last-name"
               type="text" placeholder="Enter last name*">
      </div>
      <div v-if="errors.legal.lastName.length" class="error">
        <span>{{ errors.legal.lastName[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="date-of-birth">Date of Birth</label>
        <vue-date-picker v-model="legal.date" placeholder="Date of Birth" format="dd.MM.yyyy"
                         :text-input="{  format: 'dd.MM.yyyy' }" value-format="yyyy-MM-dd" noTz="true"/>
      </div>
      <div v-if="errors.legal.date.length" class="error">
        <span>{{ errors.legal.date[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="country-residence">Country of residence</label>
        <input :class="{ 'input-error': errors.legal.countryResidence.length }" v-model="legal.countryResidence"
               id="country-residence" type="text" placeholder="Enter country of residence*">
      </div>
      <div v-if="errors.legal.countryResidence.length" class="error">
        <span>{{ errors.legal.countryResidence[0] }}</span>
      </div>
      <div class="verification__sub-title" style="margin: 30px 0 20px 0">
        <h3>Address legal representative info</h3>
      </div>
      <div class="verification-select" style="z-index: 10000">
        <div class="country form__btn_select select select__touch" ref="select">
          <label for="country">Country</label>
          <div class="select__touch input__select" id="country">
            <input @blur="blurSelect('countryName', address.country)"
                   @focus="toggleSelect('countryAddress', 'focus', address.countryName, countries, 'filteredCountriesAddress', 'country')"
                   @input="toggleSelect('countryAddress', 'input', address.countryName, countries, 'filteredCountriesAddress', 'country')"
                   v-model="address.countryName"
                   placeholder="Enter country*"
                   :class="{ 'input-error': errors.address.country.length, 'input-valid': address.country.name !== undefined && errors.address.country.length === 0 && address.country.name.length > 0}"
                   class="select__touch" type="text">
            <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
          </div>
          <transition name="anime-select">
            <div class="countries select__options select__touch" v-if="selects.countryAddress">
              <ul class="country__list select__options_list select__touch">
                <template v-if="filteredCountriesAddress.length">
                  <li @click="changeSelect('country', country, 'countryAddress', 'address', 'countryName')"
                      class="country__item select__options_item select__touch"
                      v-for="country in filteredCountriesAddress" :key="country">{{ country.name }}
                  </li>
                </template>
                <template v-else>
                  <li @click="changeSelect('country', country, 'countryAddress', 'address', 'countryName')"
                      class="country__item select__options_item select__touch" v-for="country in countries"
                      :key="country">{{ country.name }}
                  </li>
                </template>
              </ul>
            </div>
          </transition>
        </div>
      </div>
      <div v-if="errors.address.country.length" class="error">
        <span>{{ errors.address.country[0] }}</span>
      </div>
      <div class="verification-select" style="z-index: 1000">
        <div class="city form__btn_select select select__touch" ref="select">
          <label for="city">City</label>
          <div class="select__touch input__select" id="city">
            <input @blur="blurSelect('cityName', address.city)"
                   @focus="toggleSelect('cityAddress', 'focus', address.cityName, address.cities, 'filteredCitiesAddress', 'city')"
                   @input="toggleSelect('cityAddress', 'input', address.cityName, address.cities, 'filteredCitiesAddress', 'city')"
                   v-model="address.cityName"
                   :class="{ 'input-error': errors.address.city.length, 'input-valid': address.city.name !== undefined && errors.address.city.length === 0 && address.city.name.length > 0}"
                   class="select__touch" type="text"
                   placeholder="Enter city*"
                   :disabled="!Object.keys(address.country).length">
            <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
          </div>
          <transition name="anime-select">
            <div class="cities select__options select__touch" v-if="selects.cityAddress">
              <div v-if="address.isLoadingCities" class="loader"></div>
              <ul v-else class="city__list select__options_list select__touch">
                <template v-if="filteredCitiesAddress.length || address.cityName.length > 0">
                  <template v-if="filteredCitiesAddress.length">
                    <li @click="changeSelect('city', city, 'cityAddress', 'address', 'cityName')"
                        class="city__item select__options_item select__touch" v-for="city in filteredCitiesAddress"
                        :key="city">{{ city.name }}
                    </li>
                  </template>
                  <template v-else>
                    <span>Not found</span>
                  </template>
                </template>
                <template v-else>
                  <li @click="changeSelect('city', city, 'cityAddress', 'address', 'cityName')"
                      class="city__item select__options_item select__touch" v-for="city in address.cities" :key="city">
                    {{ city.name }}
                  </li>
                </template>
              </ul>
            </div>
          </transition>
        </div>
      </div>
      <div v-if="errors.address.city.length" class="error">
        <span>{{ errors.address.city[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="address">Address</label>
        <input :class="{ 'input-error': errors.address.address.length }" v-model="address.address" id="address"
               type="text" placeholder="Enter address*">
      </div>
      <div v-if="errors.address.address.length" class="error">
        <span>{{ errors.address.address[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="postal_code">Postal code</label>
        <input :class="{ 'input-error': errors.address.postalCode.length }" v-model="address.postalCode"
               id="postal_code" type="text" placeholder="Enter postal code*">
      </div>
      <div v-if="errors.address.postalCode.length" class="error">
        <span>{{ errors.address.postalCode[0] }}</span>
      </div>
      <div class="verification__sub-title" style="margin: 30px 0 20px 0">
        <h3>Headquarters address</h3>
      </div>
      <div class="verification-select" style="z-index: 100">
        <div class="country form__btn_select select select__touch" ref="select">
          <label for="country">Country</label>
          <div class="select__touch input__select" id="country">
            <input @blur="blurSelect('countryName', headquarters.country, 'headquarters')"
                   @focus="toggleSelect('countryHeadquarters', 'focus', headquarters.countryName, countries, 'filteredCountriesHeadquarters', 'country')"
                   @input="toggleSelect('countryHeadquarters', 'input', headquarters.countryName, countries, 'filteredCountriesHeadquarters', 'country')"
                   v-model="headquarters.countryName"
                   placeholder="Enter country*"
                   :class="{ 'input-error': errors.headquarters.country.length, 'input-valid': headquarters.country.name !== undefined && errors.headquarters.country.length === 0 && headquarters.country.name.length > 0}"
                   class="select__touch" type="text">
            <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
          </div>
          <transition name="anime-select">
            <div class="countries select__options select__touch" v-if="selects.countryHeadquarters">
              <ul class="country__list select__options_list select__touch">
                <template v-if="filteredCountriesHeadquarters.length">
                  <li @click="changeSelect('country', country, 'countryHeadquarters', 'headquarters', 'countryName')"
                      class="country__item select__options_item select__touch"
                      v-for="country in filteredCountriesHeadquarters" :key="country">{{ country.name }}
                  </li>
                </template>
                <template v-else>
                  <li @click="changeSelect('country', country, 'countryHeadquarters', 'headquarters', 'countryName')"
                      class="country__item select__options_item select__touch" v-for="country in countries"
                      :key="country">{{ country.name }}
                  </li>
                </template>
              </ul>
            </div>
          </transition>
        </div>
      </div>
      <div v-if="errors.headquarters.country.length" class="error">
        <span>{{ errors.headquarters.country[0] }}</span>
      </div>
      <div class="verification-select" style="z-index: 10">
        <div class="city form__btn_select select select__touch" ref="select">
          <label for="city">City</label>
          <div class="select__touch input__select" id="city">
            <input @blur="blurSelect('cityName', headquarters.city, 'headquarters')"
                   @focus="toggleSelect('cityHeadquarters', 'focus', headquarters.cityName, headquarters.cities, 'filteredCitiesHeadquarters', 'city')"
                   @input="toggleSelect('cityHeadquarters', 'input', headquarters.cityName, headquarters.cities, 'filteredCitiesHeadquarters', 'city')"
                   v-model="headquarters.cityName"
                   placeholder="Enter city*"
                   :class="{ 'input-error': errors.headquarters.city.length, 'input-valid': headquarters.city.name !== undefined && errors.headquarters.city.length === 0 && headquarters.city.name.length > 0}"
                   class="select__touch" type="text"
                   :disabled="!Object.keys(headquarters.country).length">
            <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
          </div>
          <transition name="anime-select">
            <div class="cities select__options select__touch" v-if="selects.cityHeadquarters">
              <div v-if="headquarters.isLoadingCities" class="loader"></div>
              <ul v-else class="city__list select__options_list select__touch">
                <template v-if="filteredCitiesHeadquarters.length || headquarters.cityName.length > 0">
                  <template v-if="filteredCitiesHeadquarters.length">
                    <li @click="changeSelect('city', city, 'cityHeadquarters', 'headquarters', 'cityName')"
                        class="city__item select__options_item select__touch" v-for="city in filteredCitiesHeadquarters"
                        :key="city">{{ city.name }}
                    </li>
                  </template>
                  <template v-else>
                    <span>Not found</span>
                  </template>
                </template>
                <template v-else>
                  <li @click="changeSelect('city', city, 'cityHeadquarters', 'headquarters', 'cityName')"
                      class="city__item select__options_item select__touch" v-for="city in headquarters.cities"
                      :key="city">{{ city.name }}
                  </li>
                </template>
              </ul>
            </div>
          </transition>
        </div>
      </div>
      <div v-if="errors.headquarters.city.length" class="error">
        <span>{{ errors.headquarters.city[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="address">Address</label>
        <input :class="{ 'input-error': errors.headquarters.address.length }" v-model="headquarters.address"
               id="address" type="text" placeholder="Enter address*">
      </div>
      <div v-if="errors.headquarters.address.length" class="error">
        <span>{{ errors.headquarters.address[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="postal_code">Postal code</label>
        <input :class="{ 'input-error': errors.headquarters.postalCode.length }" v-model="headquarters.postalCode"
               id="postal_code" type="text" placeholder="Enter postal code*">
      </div>
      <div v-if="errors.headquarters.postalCode.length" class="error">
        <span>{{ errors.headquarters.postalCode[0] }}</span>
      </div>
      <div class="verification__sub-title" style="margin: 30px 0 20px 0">
        <h3>Documentation</h3>
      </div>
      <div class="verification-file">
        <label class="file-label" for="licence">
          Business licence, required for transport services
          providers, in your country
        </label>
        <label :class="{ 'input-error': errors.licence.length }" class="file-btn" for="licence">
          <img src="../../static/images/upload-file.svg" alt="upload">
          <span v-if="upload.licence.name === undefined && !documentation.licence.length">Upload  new*</span>
          <span v-else>{{ upload.licence.name || documentation.licence }}</span>
        </label>
        <input id="licence" type="file" @change="uploadFile($event, 'licence')">
        <div v-if="errors.licence.length" class="error">
          <span>{{ errors.licence[0] }}</span>
        </div>
      </div>
      <div class="verification-file">
        <label class="file-label" for="other">
          Certified Articles of Incorporation
        </label>
        <label :class="{ 'input-error': errors.certified.length }" class="file-btn" for="certified">
          <img src="../../static/images/upload-file.svg" alt="upload">
          <span v-if="upload.certified.name === undefined && !documentation.certified.length">Upload  new*</span>
          <span v-else>{{ upload.certified.name || documentation.certified }}</span>
        </label>
        <input id="certified" type="file" @change="uploadFile($event, 'certified')">
        <div v-if="errors.certified.length" class="error">
          <span>{{ errors.certified[0] }}</span>
        </div>
      </div>
    </div>
  </div>
  <v-verification-action
      @next="toNextForm"
      @prev="toPrevForm"
  />
</template>

<script>
import uploadFile from "../../mixins/uploadFile.js";
import validations from "../../mixins/validations.js";
import VVerificationAction from "../../components/verification/v-action.vue";
import { api as axios } from '@/helpers/axios';
import toggleSelects from "../../mixins/toggleSelects";
import checkFillings from "../../mixins/checkFillings";
import VueDatePicker from "@vuepic/vue-datepicker";

export default {
  name: 'p-verification-profile',
  mixins: [uploadFile, validations, toggleSelects],
  props: ['countries', 'user'],
  components: {
    VueDatePicker,
    VVerificationAction,
  },
  data() {
    return {
      name: this.user.company.name || '',
      email: this.user.company.email || '',
      filteredCountriesAddress: [],
      filteredCitiesAddress: [],
      filteredCountriesHeadquarters: [],
      filteredCitiesHeadquarters: [],
      selects: {
        countryAddress: false,
        cityAddress: false,
        countryHeadquarters: false,
        cityHeadquarters: false,
      },
      legal: {
        firstName: this.user.company.represent_first_name || '',
        lastName: this.user.company.represent_last_name || '',
        date: this.user.company.represent_date_of || '',
        countryResidence: this.user.company.represent_country || ''
      },
      address: {
        country: this.user.company.address_country ? {name: this.user.company.address_country} : '',
        countryName: '',
        cities: [],
        city: this.user.company.address_city ? {name: this.user.company.address_city} : '',
        cityName: '',
        address: this.user.company.address_address || '',
        postalCode: this.user.company.address_postal_code || '',
      },
      headquarters: {
        country: this.user.company.head_country ? {name: this.user.company.head_country} : '',
        countryName: '',
        cities: [],
        city: this.user.company.head_city ? {name: this.user.company.head_city} : '',
        cityName: '',
        address: this.user.company.head_address || '',
        postalCode: this.user.company.head_postal_code || '',
      },
      documentation: {
        licence: this.user.company.licence || '',
        certified: this.user.company.certified || '',
      },
      upload: {
        licence: {},
        certified: {}
      },
      errors: {
        certified: [],
        licence: [],
        name: [],
        email: [],
        legal: {
          firstName: [],
          lastName: [],
          date: [],
          countryResidence: []
        },
        address: {
          country: [],
          city: [],
          address: [],
          postalCode: [],
        },
        headquarters: {
          country: [],
          city: [],
          address: [],
          postalCode: [],
        },
      },
    }
  },
  created() {
    const isRedirect = checkFillings(this.name, this.email, this.legal.firstName, this.legal.lastName, this.legal.date, this.legal.countryResidence,
        this.address.country.name, this.address.city.name, this.address.address, this.address.postalCode, this.headquarters.country.name,
        this.headquarters.city.name, this.headquarters.address, this.headquarters.postalCode, this.documentation.licence, this.documentation.certified);
    if (isRedirect && !this.$route.query.prev) {
      this.$router.replace('/verification/billing');
    }
  },
  methods: {
    toNextForm() {
      this.fullValidation();
      if (!this.checkErrors()) {
        // this.$store.commit('CHANGE_STATUS_LOAD', true);
        let formData = new FormData();
        const company = {
          'name': this.name,
          'email': this.email,
          'represent_first_name': this.legal.firstName,
          'represent_last_name': this.legal.lastName,
          'represent_country': this.legal.countryResidence,
          'represent_date_of': this.legal.date.length <= 10 ? this.legal.date : this.legal.date.getFullYear() + '-' + (this.legal.date.getMonth() + 1) + '-' + this.legal.date.getDay(),
          'address_country': this.address.country.name,
          'address_city': this.address.city.name,
          'address_address': this.address.address,
          'address_postal_code': this.address.postalCode,
          'head_country': this.headquarters.country.name,
          'head_city': this.headquarters.city.name,
          'head_address': this.headquarters.address,
          'head_postal_code': this.headquarters.postalCode
        }
        formData.append('company', JSON.stringify(company));
        formData.append('licence', this.upload.licence);
        formData.append('certified', this.upload.certified);
        formData.append('user_id', this.user.id);
        this.$store.dispatch('verificationCompanyQuery', { formData, id: this.user.company.id })
        this.$router.replace('/verification/billing');
        this.$emit('setStep', 4);
      } else {
        this.$emit('scrollToError');
      }
    },
    toPrevForm() {
      this.$router.replace({name: 'verification-documentation', query: {prev: 'true'}});
      this.$emit('setStep', 2);
    },
    getCities(dataCountry, object) {
      this.isLoadingCities = true;
      axios.post(`${process.env.VUE_APP_API_DOMAIN}profile/cities`, {countryId: dataCountry.countryId}).then(resp => {
        this[object].cities = resp.data;
      }).finally(() => {
        this.isLoadingCities = false;
      })
    },
    fullValidation() {
      this.updateErrors();
      this.validation(this.name, 'name', ['require', 'english']);
      this.validation(this.email, 'email', ['require', 'english']);
      this.validation(this.legal.firstName, 'firstName', ['require', 'english'], 'legal');
      this.validation(this.legal.lastName, 'lastName', ['require', 'english'], 'legal');
      this.validation(this.legal.date, 'date', ['require'], 'legal');
      this.validation(this.legal.countryResidence, 'countryResidence', ['require'], 'legal');
      this.validation(this.address.country, 'country', ['require'], 'address');
      this.validation(this.address.city, 'city', ['require'], 'address');
      this.validation(this.address.address, 'address', ['require'], 'address');
      this.validation(this.address.postalCode, 'postalCode', ['require', 'numbers'], 'address');
      this.validation(this.headquarters.country, 'country', ['require'], 'headquarters');
      this.validation(this.headquarters.city, 'city', ['require'], 'headquarters');
      this.validation(this.headquarters.address, 'address', ['require'], 'headquarters');
      this.validation(this.headquarters.postalCode, 'postalCode', ['require', 'numbers'], 'headquarters');
      this.validation(this.upload.certified.name, 'certified', ['require']);
      this.validation(this.upload.licence.name, 'licence', ['require']);
    },
  },
  watch: {
    'address.country'(newValue) {
      if (newValue.name !== undefined) {
        this.address.countryName = newValue.name
      }
      if (this.address.city.name === undefined) {
        this.address.cityName = ''
      }
    },
    'address.city'(newValue) {
      if (newValue.name !== undefined) {
        this.address.cityName = newValue.name
      }
    },
    'headquarters.country'(newValue) {
      if (newValue.name !== undefined) {
        this.headquarters.countryName = newValue.name
      }
      if (this.headquarters.city.name === undefined) {
        this.headquarters.cityName = ''
      }
    },
    'headquarters.city'(newValue) {
      if (newValue.name !== undefined) {
        this.headquarters.cityName = newValue.name
      }
    },
  }
}
</script>

<style scoped lang="scss">
h2 {
  text-align: center;
}

.company {
  width: 60%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}

.title {
  margin-bottom: 30px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .image {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.btn-upload {
  label {
    border-radius: 8px;
    border: 1px solid var(--dark-gray, #232321);
    padding: 8px 16px;
  }
}

.no__image {
  background: url("../../static/images/empty-avatar.svg");
}

@media (max-width: 600px) {
  .company {
    width: 80%;
  }
}
</style>
