<template>
  <div class="verification-content">
    <div class="documentation">
      <div class="title">
        <h2>Documentation</h2>
      </div>
      <div class="verification__sub-title" style="margin-bottom: 20px">
        <h3>Address</h3>
      </div>
      <div class="verification-select">
        <div class="country form__btn_select select select__touch" ref="select">
          <label for="country">Country</label>
          <div class="select__touch input__select" id="country">
            <input @blur="onCountryBlur"
                   @focus="toggleSelect('country', 'focus', countryName, countries, 'filteredCountries', 'country')"
                   @input="toggleSelect('country', 'input', countryName, countries, 'filteredCountries', 'country')"
                   v-model="countryName"
                   placeholder="Enter country*"
                   :class="{ 'input-error': errors.country.length, 'input-valid': country.name !== undefined && errors.country.length === 0 && country.name.length > 0}"
                   class="select__touch" type="text">
            <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select"
                 @click="toggleSelect('country', 'focus', countryName, countries, 'filteredCountries', 'country')"
            />
          </div>
          <transition name="anime-select">
            <div class="countries select__options select__touch" v-if="selects.country">
              <ul class="country__list select__options_list select__touch">
                <li @click="changeSelect('country', country, 'country')"
                    class="country__item select__options_item select__touch" v-for="country in countries"
                    :key="country">{{ country.name }}
                </li>
<!--                <template v-if="filteredCountries.length">
                  <li @click="changeSelect('country', country, 'country')"
                      class="country__item select__options_item select__touch" v-for="country in filteredCountries"
                      :key="country">{{ country.name }}
                  </li>
                </template>
                <template v-else>
                  <li @click="changeSelect('country', country, 'country')"
                      class="country__item select__options_item select__touch" v-for="country in countries"
                      :key="country">{{ country.name }}
                  </li>
                </template>-->
              </ul>
            </div>
          </transition>
        </div>
        <span style="font-size: 12px; opacity: .7">Select a country from the list</span>
        <div v-if="errors.country.length" class="error">
          <span>{{ errors.country[0] }}</span>
        </div>
      </div>
      <div class="verification-select">
        <div class="city form__btn_select select select__touch" ref="select">
          <label for="city">City</label>
          <div class="select__touch input__select" id="city">
            <input @blur="blurSelect('cityName', city)"
                   @focus="toggleSelect('city', 'focus', cityName, cities, 'filteredCities', 'city')"
                   @input="toggleSelect('city', 'input', cityName, cities, 'filteredCities', 'city')"
                   v-model="cityName"
                   placeholder="Enter city*"
                   :class="{ 'input-error': errors.city.length, 'input-valid': city.name !== undefined && errors.city.length === 0 && city.name.length > 0}"
                   class="select__touch" type="text"
                   :disabled="!Object.keys(country).length">
            <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select"
                 @click="toggleSelect('city', 'focus', cityName, cities, 'filteredCities', 'city')"
            />
          </div>
          <transition name="anime-select">
            <div class="cities select__options select__touch" v-if="selects.city">
              <div v-if="isLoadingCities" class="loader"></div>
              <ul v-else class="city__list select__options_list select__touch">
                <template v-if="filteredCities.length || cityName.length > 0">
                  <template v-if="filteredCities.length">
                    <li @click="changeSelect('city', city, 'city', undefined, 'cityName')"
                        class="city__item select__options_item select__touch" v-for="city in filteredCities"
                        :key="city">{{ city.name }}
                    </li>
                  </template>
                  <template v-else>
                    <span>Not found</span>
                  </template>
                </template>
                <template v-else>
                  <li @click="changeSelect('city', city, 'city', undefined, 'cityName')"
                      class="city__item select__options_item select__touch" v-for="city in cities" :key="city">
                    {{ city.name }}
                  </li>
                </template>
              </ul>
            </div>
          </transition>
        </div>
        <div v-if="errors.city.length" class="error">
          <span>{{ errors.city[0] }}</span>
        </div>
      </div>
      <div class="verification-input">
        <label for="address">Address</label>
        <input :class="{ 'input-error': errors.address.length }" v-model="address" id="address" type="text"
               placeholder="Enter address*">
      </div>
      <div v-if="errors.address.length" class="error">
        <span>{{ errors.address[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="postal_code">Postal code</label>
        <input :class="{ 'input-error': errors.postalCode.length }" v-model="postalCode" id="postal_code" type="text"
               placeholder="Enter postal code*">
      </div>
      <div v-if="errors.postalCode.length" class="error">
        <span>{{ errors.postalCode[0] }}</span>
      </div>
      <div class="verification__sub-title" style="margin-top: 32px">
        <h3>Documentation</h3>
      </div>
      <div class="verification-file">
        <label class="file-label" for="id">
          Personal ID (both sides)
        </label>
        <label :class="{ 'input-error': errors.personalId.length }" class="file-btn" for="id">
          <img src="../../static/images/upload-file.svg" alt="upload">
          <span v-if="upload.personalId.name === undefined && !personalId.length">Upload  new*</span>
          <span v-else>{{ upload.personalId.name || personalId }}</span>
        </label>
        <input id="id" accept="application/pdf" type="file" @change="uploadFile($event, 'personalId')">
        <div v-if="errors.personalId.length" class="error">
          <span>{{ errors.personalId[0] }}</span>
        </div>
      </div>
      <div class="verification-file">
        <label class="file-label" for="licence">
          Personal drivers licence (both sides)
        </label>
        <label :class="{ 'input-error': errors.licence.length }" class="file-btn" for="licence">
          <img src="../../static/images/upload-file.svg" alt="upload">
          <span v-if="upload.licence.name === undefined && !licence.length">Upload  new*</span>
          <span v-else>{{ upload.licence.name || licence }}</span>
        </label>
        <input id="licence" accept="application/pdf" type="file" @change="uploadFile($event, 'licence')">
        <div v-if="errors.licence.length" class="error">
          <span>{{ errors.licence[0] }}</span>
        </div>
      </div>
      <div class="verification-file">
        <label class="file-label" for="criminal-check">
          Background criminal check
        </label>
        <label :class="{ 'input-error': errors.criminalCheck.length }" class="file-btn" for="criminal-check">
          <img src="../../static/images/upload-file.svg" alt="upload">
          <span v-if="upload.criminalCheck.name === undefined && !criminalCheck.length">Upload  new*</span>
          <span v-else>{{ upload.criminalCheck.name || criminalCheck }}</span>
        </label>
        <input id="criminal-check" accept="application/pdf" type="file" @change="uploadFile($event, 'criminalCheck')">
        <div v-if="errors.criminalCheck.length" class="error">
          <span>{{ errors.criminalCheck[0] }}</span>
        </div>
      </div>
      <div class="verification-file">
        <label class="file-label" for="other">
          Other
        </label>
        <label :class="{ 'input-error': errors.other.length }" class="file-btn" for="other">
          <img src="../../static/images/upload-file.svg" alt="upload">
          <span v-if="upload.other.name === undefined && !other.length">Upload new</span>
          <span v-else>{{ upload.other.name || other }}</span>
        </label>
        <input id="other" accept="application/pdf" type="file" @change="uploadFile($event, 'other')">
        <div v-if="errors.other.length" class="error">
          <span>{{ errors.other[0] }}</span>
        </div>
      </div>
    </div>
  </div>
  <v-verification-action
      @next="toNextForm"
      @prev="toPrevForm"
  />
</template>

<script>
import uploadFile from "../../mixins/uploadFile.js";
import validations from "../../mixins/validations.js";
import VVerificationAction from "../../components/verification/v-action.vue";
import toggleSelects from "../../mixins/toggleSelects";
import {api as axios} from '@/helpers/axios';
import checkFillings from "../../mixins/checkFillings";

export default {
  name: 'p-verification-documentation',
  mixins: [uploadFile, validations, toggleSelects],
  props: ['countries', 'user'],
  components: {
    VVerificationAction,
  },
  data() {
    return {
      country: this.user.profile.country ? {name: this.user.profile.country} : '',
      filteredCountries: [],
      countryName: this.user.profile.country || '',
      city: this.user.profile.city ? {name: this.user.profile.city} : '',
      isLoadingCities: false,
      cities: [],
      filteredCities: [],
      cityName: this.user.profile.city || '',
      address: this.user.profile.address || '',
      postalCode: this.user.profile.postal_code || '',
      personalId: this.user.profile.passport || '',
      licence: this.user.profile.driver_licence || '',
      criminalCheck: this.user.profile.criminal_check || '',
      other: this.user.profile.other || '',
      upload: {
        personalId: {},
        licence: {},
        criminalCheck: {},
        other: {}
      },
      errors: {
        country: [],
        city: [],
        address: [],
        postalCode: [],
        personalId: [],
        licence: [],
        criminalCheck: [],
        other: [],
      }
    }
  },
  created() {
    const isRedirect = checkFillings(this.country.name, this.city.name, this.address, this.postalCode, this.personalId, this.licence, this.criminalCheck);
    if (isRedirect && !this.$route.query.prev) {
      this.$router.replace('/verification/company');
    }
  },
  methods: {
    onCountryBlur() {
      this.blurSelect('countryName', this.country)
      if (!this.country) {
        this.countryName = ''
      }
    },
    toNextForm() {
      this.fullValidation();
      if (!this.checkErrors()) {
        // this.$store.commit('CHANGE_STATUS_LOAD', true);
        let formData = new FormData();
        const profile = {
          country: this.country.name,
          city: this.city.name,
          address: this.address,
          postal_code: this.postalCode
        }
        formData.append('profile', JSON.stringify(profile));
        formData.append('passport', this.upload.personalId);
        formData.append('driverLicence', this.upload.licence);
        formData.append('criminalCheck', this.upload.criminalCheck);
        formData.append('user_id', this.user.id);
        this.$store.dispatch('verificationDocumentationQuery', { formData });
        this.$router.replace('/verification/company');
        this.$emit('setStep', 3);
      } else {
        this.$emit('scrollToError');
      }
    },
    toPrevForm() {
      this.$router.replace({name: 'verification-profile', query: {prev: 'true'}});
      this.$emit('setStep', 1);
    },
    getCities(dataCountry) {
      this.isLoadingCities = true;
      axios.post(`${process.env.VUE_APP_API_DOMAIN}profile/cities`, {countryId: dataCountry.countryId}).then(resp => {
        this.cities = resp.data;
      }).finally(() => {
        this.isLoadingCities = false;
      })
    },
    fullValidation() {
      this.updateErrors();
      this.validation(this.country.name, 'country', ['require']);
      this.validation(this.city.name, 'city', ['require']);
      this.validation(this.address, 'address', ['require']);
      this.validation(this.postalCode, 'postalCode', ['require', 'numbers']);
      if (!this.user.profile.passport) {
        this.validation(this.upload.personalId.name, 'personalId', ['require']);
      }
      if (!this.user.profile.driver_licence) {
        this.validation(this.upload.licence.name, 'licence', ['require']);
      }
      if (!this.user.profile.criminal_check) {
        this.validation(this.upload.criminalCheck.name, 'criminalCheck', ['require']);
      }
    },
  },
  watch: {
    country(newValue) {
      if (newValue.name !== undefined) {
        this.countryName = newValue.name
      }
      if (this.city.name === undefined) {
        this.cityName = ''
      }
    },
    city(newValue) {
      if (newValue.name !== undefined) {
        this.cityName = newValue.name
      }
    },
  }
}
</script>

<style scoped lang="scss">
h2 {
  text-align: center;
}

.documentation {
  width: 60%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}

.title {
  margin-bottom: 30px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .image {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
  }
}

.btn-upload {
  label {
    border-radius: 8px;
    border: 1px solid var(--dark-gray, #232321);
    padding: 8px 16px;
  }
}

.no__image {
  background: url("../../static/images/empty-avatar.svg");
}

@media (max-width: 600px) {
  .documentation {
    width: 80%;
  }
}
</style>
