<template>
  <div class="page">
    <div class="step" v-if="step !== 0">
      <span>step {{ step }}/5</span>
      <br/>
      <div v-if="Object.keys(loadingList).length > 0">
        <p>Please do not close this page until the files are uploaded.</p>
        <p v-for="(value, name) in loadingList" :key="name">
          Loading of {{ name }}: {{ value }}%
        </p>
      </div>
    </div>
    <router-view
        :countries="countries"
        :user="getUser"
        @setStep="changeStep($event)"
        @scrollToError="scrollToError"
        @getCountries="getCountries"
    />
  </div>
</template>

<script>
import {api as axios} from '@/helpers/axios';
import {mapGetters} from "vuex";

export default {
  name: 'p-verification',
  data() {
    return {
      step: 1,
      countries: [],
    }
  },
  computed: {
    ...mapGetters(["getUser"]),
    loadingList() {
      return this.$store.state.verificationLoadingList;
    }
  },
  created() {
    this.getCurrentStep();
  },
  mounted() {
    this.getCountries();
  },
  methods: {
    getCountries() {
      axios.post(`${process.env.VUE_APP_API_DOMAIN}profile/countries`).then(resp => {
        this.countries = resp.data;
      })
    },
    getCurrentStep() {
      const routes = [
        {
          path: '/verification/new-password',
          step: 0
        },
        {
          path: '/verification/profile',
          step: 1
        },
        {
          path: '/verification/documentation',
          step: 2
        },
        {
          path: '/verification/company',
          step: 3
        },
        {
          path: '/verification/billing',
          step: 4
        },
        {
          path: '/verification/agreement',
          step: 5
        }
      ];
      if (this.$route.path !== '/verification/success') {
        this.step = routes.find(el => el.path === this.$route.path)?.step || 0;
        this.$emit('changeStep', this.step)
      } else {
        this.step = 0;
      }
    },
    changeStep(step) {
      this.step = step;
      this.$emit('changeStep', step);
    },
    scrollToError() {
      setTimeout(() => {
        const inputs = document.querySelectorAll('.verification-input > input');
        for (let i = 0; i < inputs.length; i++) {
          if (inputs[i].classList.contains('input-error')) {
            document.querySelector('.verification-content').scrollTo(0, inputs[i].offsetTop - 120);
            break;
          }
        }
      }, 10)
    }
  },
  watch: {
    '$route.path'() {
      this.getCurrentStep();
    }
  }
}
</script>

<style lang="scss">
.login__form {
  width: 45%;
  min-width: 530px;
}

.page {
  width: 100%;
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: center;
}

.step {
  display: block;
  padding: 20px 0;
  color: #4A69E2;
  text-align: center;
  font-size: 14px;
  font-weight: 500;
  text-transform: uppercase;
}
</style>
