<template>
  <div class="verification-content">
    <div class="login__form">
      <div class="login__inner">
        <div class="login__title">
          <h2>Entry verifications</h2>
        </div>
        <div class="login__description">
          <span>Enter your email and confirm your new password twice.</span>
        </div>
        <form>
          <div class="login__email">
            <label>Email</label>
            <input @focus="this.errors.email = []" :class="{ 'input-error': this.errors.email.length }" v-model="email"
                   type="text" placeholder="Enter your email">
            <div v-if="errors.email.length" class="error">
              <span>{{ errors.email[0] }}</span>
            </div>
          </div>
          <div class="login__password">
            <label>New password</label>
            <input @focus="this.errors.password = []" :class="{ 'input-error': this.errors.password.length }"
                   v-model="password" :type="types.password1" class="password-input" placeholder="Enter your password">
            <img class="eye" src="../../static/images/eye.svg" alt="eye"
                 @click="types.password1 = types.password1 === 'password' ? 'text' : 'password'">
            <div v-if="errors.password.length" class="error">
              <span>{{ errors.password[0] }}</span>
            </div>
          </div>
          <div class="login__password_again">
            <label>Re-enter Password</label>
            <input @focus="this.errors.passwordAgain = []" :class="{ 'input-error': this.errors.passwordAgain.length }"
                   v-model="passwordAgain" :type="types.password2" class="password-input"
                   placeholder="Enter re-enter password">
            <img class="eye" src="../../static/images/eye.svg" alt="eye"
                 @click="types.password2 = types.password2 === 'password' ? 'text' : 'password'">
            <div v-if="errors.passwordAgain.length" class="error">
              <span>{{ errors.passwordAgain[0] }}</span>
            </div>
          </div>
          <div v-if="errors.message.length" class="error">
            <span>{{ errors.message }}</span>
          </div>
          <div class="login__routes end">
            <router-link to="/login">Already have an account?</router-link>
          </div>
        </form>
      </div>
    </div>
  </div>
  <v-verification-action
      @next="toNextForm"
      :is-back="false"
  />
</template>

<script>
import VVerificationAction from "../../components/verification/v-action.vue";
import {api as axios} from '@/helpers/axios';

export default {
  name: 'p-new-password',
  components: {VVerificationAction},
  data() {
    return {
      email: this.$route.query?.email || '',
      password: '',
      passwordAgain: '',
      types: {
        password1: 'password',
        password2: 'password',
      },
      errors: {
        email: [],
        password: [],
        passwordAgain: [],
        login: false,
        message: '',
      }
    }
  },
  methods: {
    validateForm() {
      this.errors = {
        email: [],
        password: [],
        passwordAgain: [],
        login: false,
        message: '',
      }
      let isError = false
      if (!this.email) {
        this.errors.email.push('This field is required')
        isError = true
      }
      if (!this.password) {
        this.errors.password.push('This field is required')
        isError = true
      } else {
        const passwordPattern = /^(?=.*[A-Z])(?=.*[a-z])(?=.*\d)(?=.*[!@#$%^&*.,?])[A-Za-z\d!@#$%^&*.,?]{6,}$/;
        if (!passwordPattern.test(this.password)) {
          this.errors.password.push('Your password must be at least 6 characters long, including one uppercase letter and one number.');
          isError = true;
        }
      }
      if (this.password !== this.passwordAgain) {
        this.errors.password.push('Passwords don\'t match');
        isError = true
      }
      return !isError
    },
    toNextForm() {
      if (!this.validateForm()) return
      this.$store.commit('CHANGE_STATUS_LOAD', true);
      axios.post(`${process.env.VUE_APP_API_DOMAIN}user/verify`, {
        email: this.email,
        password: this.password,
        token: this.$route.query?.token || '',
      })
          .then(resp => {
            if (resp.data.status) {
              localStorage.setItem('token', resp.data.token);
              localStorage.setItem('auth_token', resp.data.auth_token);
              this.$emit('getCountries')
              this.$store.commit('SET_USER', resp.data.user);
              this.$router.push('/verification/profile');
              this.$emit('setStep', 1);
            } else {
              this.errors.email.push(resp.data.message)
            }
          }).finally(() => {
        this.$store.commit('CHANGE_STATUS_LOAD', false);
      })
    }
  }
}
</script>

<style lang="scss">
.login__form {
  width: 45%;
  min-width: 530px;
}

@media (max-width: 1200px) {
  .login__form {
    width: 100%;
    min-width: 0;
  }
}
</style>
