<template>
  <div class="verification-content">
    <div class="profile">
      <div class="title">
        <h2>Create a profile</h2>
      </div>
      <div class="avatar">
        <div class="image" :class="{ 'no__image': imgURL.length === 0 }"
             :style='{ backgroundImage: this.imgURL }'></div>
        <div class="btn-upload">
          <input type="file" id="avatar" style="display: none" @change="uploadFile($event, 'photo')"/>
          <label for="avatar">+ Add driver's profile picture</label>
        </div>
      </div>
      <div v-if="errors.photo.length" class="error center" style="padding-top: 20px">
        <span>{{ errors.photo[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="first-name">First name</label>
        <input :class="{ 'input-error': errors.firstName.length }" v-model="firstName" id="first-name" type="text"
               placeholder="Enter first name*">
      </div>
      <div v-if="errors.firstName.length" class="error">
        <span>{{ errors.firstName[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="last-name">Last name</label>
        <input :class="{ 'input-error': errors.lastName.length }" v-model="lastName" id="last-name" type="text"
               placeholder="Enter last name*">
      </div>
      <div v-if="errors.lastName.length" class="error">
        <span>{{ errors.lastName[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="date-of-birth">Date of Birth</label>
        <vue-date-picker v-model="date" placeholder="Date of Birth" format="dd.MM.yyyy"
                         :text-input="{  format: 'dd.MM.yyyy' }" value-format="yyyy-MM-dd" :max-date="maxAllowedDate"
                         noTz="true"
                         @update:model-value="onDateSelect"/>
      </div>
      <div v-if="errors.date.length" class="error">
        <span>{{ errors.date[0] }}</span>
      </div>
      <div class="verification-radio">
        <span>Gender:</span>
        <input name="gender" v-model="gender" value="man" id="male" type="radio">
        <label for="male">MALE</label>
        <input name="gender" v-model="gender" value="woman" id="female" type="radio">
        <label for="female" class="last-item">FEMALE</label>
      </div>
      <div class="verification-input">
        <label for="email">Email</label>
        <input :class="{ 'input-error': errors.email.length }" v-model="email" disabled id="email" type="text"
               placeholder="Enter email*">
      </div>
      <div v-if="errors.email.length" class="error">
        <span>{{ errors.email[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="phone-number">Phone number</label>
        <vue-tel-input :class="{ 'input-error': errors.phone.length }" @input="inputPhone" class="phone__input_iti"
                       :value="phone" mode="international"/>
      </div>
      <div v-if="errors.phone.length" class="error">
        <span>{{ errors.phone[0] }}</span>
      </div>
      <div class="verification-input">
        <label for="whatsapp-number">WhatsAPP number</label>
        <input :class="{ 'input-error': errors.whatsapp.length }" @input="validateInput" v-model="whatsapp" id="whatsapp-number" type="text"
               placeholder="Enter WhatsAPP number*">
      </div>
      <div v-if="errors.whatsapp.length" class="error">
        <span>{{ errors.whatsapp[0] }}</span>
      </div>
    </div>
  </div>
  <v-verification-action
      @next="toNextForm"
      :is-back="false"
  />
</template>

<script>
import {VueTelInput} from 'vue3-tel-input';
import uploadFile from "../../mixins/uploadFile.js";
import validations from "../../mixins/validations.js";
import VVerificationAction from "../../components/verification/v-action.vue";
import checkFillings from "../../mixins/checkFillings";
import { api as axios } from '@/helpers/axios';
import VueDatePicker from "@vuepic/vue-datepicker";

const handleApiPath = (path) => {
  return path ? process.env.VUE_APP_BACKEND_DOMAIN + path : ''
}

export default {
  name: 'p-verification-profile',
  mixins: [uploadFile, validations],
  props: ['user'],
  components: {
    VueDatePicker,
    VVerificationAction,
    VueTelInput
  },
  data() {
    return {
      firstName: this.user?.profile?.first_name || '',
      lastName: this.user?.profile?.last_name || '',
      // gender: this.user.profile.gender || 'male',
      date: this.user.day_of_birth || '',
      maxAllowedDate: this.getMaxDate(),
      phone: this.user.phone || '',
      whatsapp: this.user?.profile?.whatsapp || '',
      email: this.user.email || '',
      photo: this.user.profile.photo || '',
      gender: 'man',
      imgURL: this.user.profile.photo ? `url(${handleApiPath(this.user.profile.photo)})` : '',
      upload: {
        photo: {},
      },
      errors: {
        firstName: [],
        lastName: [],
        photo: [],
        date: [],
        email: [],
        phone: [],
        whatsapp: [],
      },
      isCreated: false
    }
  },
  created() {
    this.isCreated = true;
    const isRedirect = checkFillings(this.firstName, this.lastName, this.phone, this.whatsapp, this.email, this.photo);
    if (isRedirect && !this.$route.query.prev) {
      this.$router.replace('/verification/documentation');
    }
  },
  methods: {
    getMaxDate() {
      const today = new Date();
      today.setFullYear(today.getFullYear() - 18);
      return today;
    },
    onDateSelect(selectedDate) {
      if (!selectedDate) {
        this.date = null;
        return;
      }

      const selected = new Date(selectedDate);
      const maxDate = this.getMaxDate();

      if (selected > maxDate) {
        this.date = null;
      } else {
        this.date = selectedDate;
      }
    },
    validateInput() {
      this.whatsapp = this.whatsapp.replace(/[^0-9]/g, '');
    },
    toNextForm() {
      this.fullValidation();
      if (!this.checkErrors()) {
        this.$store.commit('CHANGE_STATUS_LOAD', true);
        let formData = new FormData();
        const profile = {
          first_name: this.firstName,
          last_name: this.lastName,
          whatsapp: this.whatsapp
        }
        formData.append('profile', JSON.stringify(profile));
        formData.append('phone', this.phone);
        if (this.upload.photo) {
          formData.append('photo', this.upload.photo);
        }
        formData.append('user_id', this.user.id);
        formData.append('day_of_birth', typeof this.date === 'string' ? this.date : this.date.toISOString());
        formData.append('gender', this.gender);

        axios.post(`${process.env.VUE_APP_API_DOMAIN}profile/update`, formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })
            .then(resp => {
              if (resp.data.status) {
                this.$store.commit('SET_USER', resp.data.user);
                this.$store.commit('CHANGE_STATUS_LOAD', false);
                this.$router.replace('/verification/documentation');
                this.$emit('setStep', 2);
              }
            })
      } else {
        this.$emit('scrollToError');
      }
    },
    inputPhone(phone, phoneObject) {
      this.errors.phone = [];
      if (phoneObject !== undefined) {
        this.phone = phoneObject.formatted
      }
    },
    fullValidation() {
      this.updateErrors();
      this.validation(this.firstName, 'firstName', ['require', 'english']);
      this.validation(this.lastName, 'lastName', ['require', 'english']);
      this.validation(this.date, 'date', ['require']);
      this.validation(this.phone, 'phone', ['require', 'numbers']);
      this.validation(this.whatsapp, 'whatsapp', ['require', 'numbers']);
      this.validation(this.email, 'email', ['require', 'email']);
      this.validation(this.upload.photo.name || this.imgURL, 'photo', ['require']);
    },
  }
}
</script>

<style scoped lang="scss">
h2 {
  text-align: center;
}

.profile {
  width: 60%;
  max-width: 430px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 40px;
}

.title {
  margin-bottom: 30px;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .image {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    background-position: center;
    background-size: 100%
  }
}

.btn-upload {
  label {
    border-radius: 8px;
    border: 1px solid var(--dark-gray, #232321);
    padding: 8px 16px;
  }
}

.no__image {
  background: url("../../static/images/empty-avatar.svg");
}

@media (max-width: 600px) {
  .profile {
    width: 80%;
  }
}
</style>
