<template>
  <div class="success">
    <img src="../../static/images/verification-success.svg" alt="success">
    <span>Successful registration complete.<br/>Please wait for your profile to be activated by our</span>
  </div>
</template>

<script>

export default {
  name: "p-verification-success",
  created() {
    localStorage.clear();
  }
}
</script>

<style scoped lang="scss">
.success{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  img{
    width: 234px;
    margin-bottom: 60px;
  }
  span{
    color: #0A1629;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
  }
}
</style>