@font-face {
  font-family: "NunitoSans";
  src: local("NunitoSans"), url("../fonts/NunitoSans-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "NunitoSansBold";
  src: local("NunitoSansBold"), url("../fonts/NunitoSans-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Poppins";
  src: local("Poppins"), url("../fonts/Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsMedium";
  src: local("PoppinsMedium"), url("../fonts/Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsBold";
  src: local("PoppinsBold"), url("../fonts/Poppins-Bold.ttf") format("truetype");
}/*# sourceMappingURL=fonts.css.map */