@import "fonts.css";
@import 'vue3-tel-input/dist/vue3-tel-input.css';
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  background: #E6E6E3;
}
.wrapper{
  width: 97%;
  margin: 0 auto;
  height: 100%;
}
.font__weight_medium{
  font-family: 'NunitoSansMedium', sans-serif;
}
a{
  text-decoration: none;
  color: black;
}
.router-link-exact-active{
  transition: all .5s;
  color: #fff !important;
  background: #4A69E2;
  font-family: PoppinsMedium;
  font-weight: 500;
}
li{
  list-style-type: none;
}
button{
  cursor: pointer;
}
input {
  outline:none;
  border-radius: 8px;
  border: 1px solid var(--dark-gray, #232321);
  padding: 10px 16px;
  color: #1F1A24;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input:focus {
  border-color: #008B28 !important;
  caret-color: #008B28;
}
input{
  font-family: Poppins, sans-serif !important;
  font-size: 16px !important;
  font-style: normal;
  font-weight: 400 !important;
  line-height: normal;
  letter-spacing: 0.5px;
}
.verification-radio{
  margin-top: 24px;
  span{
    margin-right: 30px;
  }
  label{
    margin-right: 30px;
  }
  .last-item{
    margin: 0;
  }
  input{
    margin-right: 4px;
  }
}
.verification-input{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  label{
    margin-bottom: 8px;
    color: #1F1A24;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
  }
}
.verification-file{
  display: flex;
  flex-direction: column;
  margin-top: 24px;
  .file-label{
    margin-bottom: 8px;
    color: #1F1A24;
    font-family: Poppins, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    letter-spacing: 0.25px;
  }
  .file-btn{
    border-radius: 4px;
    border: 2px solid var(--dispatching-black, #2C2C2C);
    padding: 14px 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      margin-right: 8px;
    }
  }
  input{
    width: 0;
    padding: 0;
    height: 0;
    border: none;
  }
}
.verification__sub-title{
  h3{
    color: #4A69E2;
    font-family: PoppinsBold, sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
.error{
  margin-top: 4px !important;
  span{
    font-size: 12px !important;
    line-height: 15px !important;
    color: #E7564F !important;
  }
}
.input-error{
  background: #F9E8E7 !important;
  .vti__input{
    background: #F9E8E7 !important;
  }
}
.input-valid{
  background: white !important;
  .vti__input{
    background: white !important;
  }
}
.start{
  display: flex;
  justify-content: start;
}
.center{
  display: flex;
  justify-content: center;
}
.end{
  display: flex !important;
  justify-content: end !important;
}

.pending-color{
  color: #EC824A !important;
  font-family: 'NunitoSans', sans-serif !important;
}
.approved-color{
  color: rgba(0, 179, 18, 0.9) !important;
}
.details-color{
  color: #E88A33;
}

.space-between{
  display: flex;
  justify-content: space-between;
}

.login{
  &__form{
    width: 480px;
    padding: 40px;
    position: relative;
  }
  &__inner{
    width: 100%;
    height: 100%;
  }
  &__email, &__password, &__password_again, &__btn{
    width: 100%;
    margin-bottom: 16px;
    input, button{
      font-size: 12px;
      line-height: 22px;
      padding: 13px 18px 13px 18px;
      width: 100%;
      border-radius: 8px;
      border: 1px solid var(--dark-gray, #232321);
    }
    button{
      background: #232321;
      font-family: 'Poppins', sans-serif;
      font-size: 18px;
      line-height: 27px;
      margin-top: 8px;
      cursor: pointer;
      transition: .2s ease;
      text-transform: uppercase;
      span{
        color: white;
        font-size: 16px;
      }
      &:hover{
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.4) inset;
      }
    }
  }
  &__password_again{
    position: relative;
  }
  &__title{
    margin-bottom: 12px;
    h2{
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-size: 32px;
      font-style: normal;
      line-height: normal;
    }
  }
  &__description{
    margin-bottom: 12px;
    text-align: center;
    span{
      font-family: 'Poppins', sans-serif;
      line-height: 17px;
      font-weight: 200;
      color: #70706E;
      font-size: 16px;
      font-style: normal;
      line-height: normal;
    }
  }
  &__routes{
    a, span{
      text-decoration: none;
      color: #999999;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      text-align: center;
    }
    a{
      transition: color .5s ease;
      &:hover{
        color: #E88A33;
      }
    }
  }
  &__back{
    position: absolute;
    right: 10px;
    top: 0;
    a{
      width: 24px;
      height: 24px;
      img{
        width: 100%;
        height: 100%;
      }
    }
  }
}
.error__login{
  width: 100%;
  background: #CB4E48;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 26px;
  span{
    color: #000000;
    text-align: center;
    font-size: 14px;
    line-height: 15px;
  }
}
.login__password{
  position: relative;
}
.eye{
  position: absolute;
  right: 20px;
  top: 45.5px;
  cursor: pointer;
}
.password-input{
  padding-right: 60px !important;
}
.login__form{
  label{
    margin-bottom: 8px;
    display: block;
  }
}


.forgot-password__code{
  display: flex;
  justify-content: space-between;
  width: 65%;
  margin: 0 auto;
  margin-bottom: 10px;
  input{
    background: #FFFFFF;
    border: 0.8px solid rgba(103, 114, 148, 0.16);
    border-radius: 12px;
    width: 54px;
    height: 54px;
    text-align: center;
    font-family: 'PT Sans', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 27px;
    color: #098C64;
  }
  input {
    appearance: none;
    -moz-appearance: textfield;
    margin: 0;
  }
  &-resend{
    text-align: center;
    color: var(--dispatching-dark-grey, #70706E);
    font-family: Inter;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: -0.036px;
  }
}
.form__btn_select{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  input, button{
    border-radius: 8px;
    border: 1px solid var(--dark-gray, #232321);
    height: 44px;
    padding: 10px 16px;
  }
  label{
    color: #1F1A24;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25px;
    padding-bottom: 8px;
  }
}
.form__input{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 10px 0;
  input, button{
    background: #F8F8F8;
    border-radius: 7px;
    border: none;
    height: 44px;
    padding: 10px 16px;
  }
  button{
    cursor: pointer;
    position: relative;
    display: flex;
    align-items: center;
    .select__arrow{
      position: absolute;
      right: 20px;
      height: 20px;
    }
  }
  label{
    color: #1F1A24;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25px;
    padding-bottom: 8px;
  }
}

.input__select{
  input{
    width: 100%;
  }
  & > img{
    position: absolute;
    right: 19px;
    top: 40px;
    width: 20px;
  }
}
.form__upload_file{
  display: flex;
  flex-direction: column;
  width: 48%;
  margin: 25px 0;
  & > span{
    img{
      position: relative;
      right: -6px;
    }
  }
  span{
    color: #1F1A24;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-height: 42px;
    margin-bottom: 8px;
  }
}

.photo > span{
  font-family: 'NunitoSans', sans-serif;
  font-size: 12px;
  color: #1969A9;
  img{
    position: relative;
    right: -6px;
  }
}

.photo{
  width: 100%;
  height: 287px;
  border: 1px solid #1969A9;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  .form__upload_file{
    position: absolute;
    bottom: -40px;
  }
  margin-top: 26px;
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
}

.profile__right, .drivers__right, .vehicles__right{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.no__image{
  background: #F8F8F8;
}
.photo__error{
  margin-top: 12px;
  display: flex;
  justify-content: center;
}

.photo {
  .form__upload_file {
    width: 80%;
  }
}

.whatsapp__number{
  &_input{
    width: 100%;
    position: relative;
  }
  input{
    padding-left: 40px;
    width: 100%;
  }
  img{
    width: 14px;
    position: absolute;
    bottom: calc(50% - 7px);
    left: 5%;
  }
}

.block__btn{
  margin-top: 18px;
  margin-bottom: 20px;
  width: 100%;
  display: flex;
  justify-content: end;
  padding-right: 20px;
  img{
    height: 13px;
    margin: 0 0 2px 4px;
  }
}
.btn{
  width: 144px;
  height: 40px;
  text-transform: uppercase;
}

.upload__file_active{
  background: #D2D1D3 !important;
}

.btn{
  background: #232321;
  color: white;
  border-radius: 7px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  span{
    color: #FFFFFF;
    font-family: 'NunitoSans', sans-serif;
    font-size: 12px;
  }
}

.upload__file {
  position: relative;
  display: inline-block;
  width: 100%;
  height: 57px;
}
.upload__file span {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  text-decoration: none;
  vertical-align: middle;
  color: rgb(255 255 255);
  text-align: center;
  border-radius: 4px;
  border: 2px solid var(--dispatching-black, #2C2C2C);
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  transition: background-color 0.2s;
  font-weight: 400;
  font-size: 18px !important;
  font-style: normal;
  line-height: 20px;
  img{
    height: 18px;
    padding-bottom: 2px;
    margin-right: 10px;
  }
}
.upload__file input[type=file] {
  position: absolute;
  z-index: -1;
  opacity: 0;
  display: block;
  width: 0;
  height: 0;
}
.download{
  &__title{
    padding-bottom: 2px;
    span{
      font-family: "NunitoSans", sans-serif;
      font-size: 12px;
      color: #1969A9;
    }
  }
  &__btn{
    width: 100%;
    button{
      width: 100%;
      height: 28px;
      background: #1969A9;
      border-radius: 7px;
      border: none;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      img{
        margin-right: 10px;
      }
    }
  }
}

.select{
  position: relative;
  button{
    z-index: 1000;
  }
  &__options{
    background: #F8F8F8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    height: 200px;
    width: 100%;
    overflow: hidden;
    top: 110%;
    font-size: 14px;
    border-radius: 7px;
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content: center;
    &_list{
      padding: 10px 14px;
      height: 100%;
      overflow-y: scroll;
      width: 100%;
    }
    &_item{
      &:not(:last-child){
        margin-bottom: 10px;
      }
      cursor: pointer;
      &:hover{
        color: #1969A9;
      }
    }
  }
}
.country{
  z-index: 10000;
}
.profile__item, .company__item, .drivers__item, .vehicles__item, .ride__item{
  &:not(:last-child){
    margin-bottom: 12px;
  }
  &_title{
    margin-bottom: 6px;
    span {
      font-family: "NunitoSans", sans-serif;
      font-size: 12px;
      color: #1969A9;
      padding-bottom: 2px;
    }
  }
  &_data{
    span, li{
      font-size: 14px;
      color: #000000;
    }
  }
}
.profile__inner, .company__inner, .drivers__inner, .vehicles__inner{
  display: flex;
  justify-content: space-between;
  & > div{
    width: 26%;
  }
}

.anime-select-enter-active,
.anime-select-leave-active {
  transition: 0.3s ease;
}

.anime-select-enter-from{
  height: 0;
}
.anime-select-leave-to {
  height: 0;
}

.loader {
  border: 2px solid black; /* Light grey */
  border-top: 2px solid #E07B46; /* Blue */
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spin 2s linear infinite;
}
.edit__block{
  display: flex;
}
.edit__block-status {
  display: flex;
  align-items: center;
}
.edit__btn{
  border-radius: 7px;
  width: 80px;
  height: 26px;
  border: none;
  img{
    margin-right: 6px;
  }
  span{
    font-family: 'NunitoSans', sans-serif;
    font-size: 13px;
    color: white;
  }
  &.edit{
    background: #1969A9;
  }
  &.save{
    background: #449E48;
    margin-right: 6px;
  }
  &.cancel{
    background: #DB3030;
  }
  &.delete{
    background: #DB3030;
    width: 37px;
    margin-left: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    img{
      margin: 0;
    }
  }
}
.add__block{
  width: 50%;
  display: flex;
  justify-content: end;
}

.offers__title_item.date, .offers__date, .planned__rides_title_item.booking__number, .planned__rides_booking-number, .planned__rides_title_item.date, .planned__rides_date, .planned__rides_title_item.service, .planned__rides_service{
  width: 20%;
}
.offers__title_item.pickup, .offers__pickup{
  width: 30%;
}
.offers__title_item.dropoff, .offers__dropoff{
  width: 27%;
}
.offers__title_item.service, .offers__service{
  width: 12%;
}
.offers__title_item.price, .offers__price{
  width: 12%;
}
.offers__title_item.status, .offers__status{
  width: 12%;
}
.planned__rides_title_item.pickup, .planned__rides_pickup{
  width: 25%;
}
.planned__rides_title_item.dropoff, .planned__rides_dropoff{
  width: 25%;
}
.planned__rides_title_item.chaufeur-vehicle, .planned__rides_chaufeur-vehicle{
  width: 14%;
}
.planned__rides_title_item.status, .planned__rides_status{
  width: 6%;
}
.content-table__subtitle{
  background: #fff;
}
.content-table{
  border-radius: 0 0 4px 4px;
  &__item{
    display: flex;
    align-items: center;
    height: 64px;
    & > div{
      & > span{
        color: #2C2C2C;
        text-align: right;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
        line-height: 20px;
      }
    }
    &-value {
      height: 100%;
      display: flex;
      align-items: center;
      & > span, & > a {
        height: 100%;
        display: flex;
        align-items: center;
        width: calc(100% - 10px);
        margin: 0 auto;
        padding: 0 14px;
        box-shadow: 0px -1px 0px 0px #E4E4EF inset;
      }
    }
  }
}
.invoice{
  &__titles{
    padding: 6px 0;
    margin-top: 14px;
    border-bottom: 0.5px solid rgba(44, 44, 44, 0.30);
    background: #FAFAFA;
  }
  &__titles_item{
    span{
      color: #70706E;
      font-size: 14px;
      font-weight: 600;
    }
  }
}
.dp__action_select{
  color: black !important;
}
.dp__action_select:hover{
  color: white !important;
}
.dp__input_wrap > input{
  padding: 10px 16px 10px 40px !important;
  border-radius: 8px !important;
  border: 1px solid var(--dark-gray, #232321) !important;
  background: none !important;
}
.title{
  &__list{
    display: flex;
    justify-content: space-between;
  }
}

.driver__header, .vehicle__header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.back{
  font-family: 'NunitoSans', sans-serif;
  font-size: 13px;
  font-style: normal;
  color: #FFA52F;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}
.pagination{
  margin-top: 16px;
  width: 100%;
  display: flex;
  justify-content: end;
  &__inner{
    span{
      cursor: pointer;
    }
    display: flex;
    align-items: center;
  }
  img:last-child{
    margin-left: 4px;
  }
  img:first-child{
    margin-right: 4px;
  }
  img{
    cursor: pointer;
  }
  &__page:not(:last-child){
    margin-right: 4px;
  }
  &__ellipsis{
    margin-right: 4px;
  }
}
.verification-content{
  width: 100%;
  display: flex;
  flex-direction: column;
  height: calc(100% - 141px);
  align-items: center;
  padding-top: 20px;
  overflow-y: auto;
}
.phone__input_iti{
  height: 46px;
  border: 1px solid #1F1F1F !important;
  border-radius: 8px;
  -webkit-box-shadow: none !important;
  box-shadow: none !important;
}
.vti__dropdown:hover {
  background: none;
}
.vti__input{
  padding-left: 4px !important;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
}
.vti__dropdown-list.below{
  top: 48px !important;
  width: 100% !important;
}
.vti__dropdown-list{
  border: 1px solid #1969A9 !important;
  font-size: 14px !important;
  border-radius: 7px !important;
}
.vti__dropdown{
  position: unset !important;
}
.vue-tel-input{
  position: relative !important;
}

.main__block-row-item > label {
  padding-bottom: 8px;
  color: var(--neutrals-gray-10, #1F1A24);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25px;
}

.btn-black {
  background: #232321;
  border: none;
  color: #fff;
  padding: 8px 16px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 500;
  font-size: 14px;
  img {
    margin-right: 4px;
  }
}

.btn-orange {
  background: #FFA52FCC;
  border: none;
  color: #000;
  padding: 8px 16px;
  border-radius: 8px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
}

.btn-clear {
  background: none;
  color: #232321;
  border: 1px solid #232321;
}
.link {
  color: #4A69E2;
  cursor: pointer;
  font-size: 14px;
}

.main__block{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  background: #fff;
  padding: 0 47px;
  border-radius: 8px;
  &-row {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 12px 0;
    &-item {
      margin-right: 16px;
      width: 100%;
      &:last-child {
        margin-right: 0;
      }
      & > label {
        display: flex;
        flex-direction: column;
        & > span {
          padding-bottom: 8px;
          color: var(--neutrals-gray-10, #1F1A24);
          font-size: 14px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          letter-spacing: 0.25px;
        }
        span{
          color: var(--neutrals-gray-10, #1F1A24);
        }
      }
    }
  }
  &-hr {
    width: 100%;
    border: none;
    margin: 16px 0;
    background: rgba(35, 35, 33, 0.20);
    height: 1px;
  }
  &-title {
    color: var(--dispatching-blue, #4A69E2);
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &-buttons {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    &-item {
      padding: 13.5px 52px;
      text-transform: uppercase;
      border: none;
      background: #232321;
      color: #fff;
      border-radius: 8px;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      letter-spacing: 0.25px;
    }
    &-item.cancel{
      background: #fff;
      color: #232321;
      border: 1px solid var(--dark-gray, #232321);
      padding: 13.5px 36px;
      margin-right: 16px;
    }
  }
}

.select button {
  width: 100%;
}

.input__disabled {
  background: #F0F0EF;
  padding: 10px 16px;
  border: none;
  color: var(--neutrals-gray-10, #1F1A24);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.5px;
}

.btn-close {
  border: none;
  background: #4A69E2;
  height: 32px;
  width: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
}

.wrapper__small {
  width: 60%;
  margin: 0 auto;
}

.warning-color{
  color: #FFA52F !important;
}
.sticky-header{
  position: sticky;
  padding: 22px 0;
  top: 0;
  z-index: 1000000;
  background: white;
}
.sticky-footer{
  position: sticky;
  padding: 22px 0;
  bottom: 0;
  z-index: 1000000;
  background: white;
}
.modal-padding{
  padding-top: 0;
  padding-bottom: 0;
}
.pagination__page{
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid rgba(44, 44, 44, 0.30);
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgba(44, 44, 44, 0.50);
  text-align: center;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.pagination__inner img{
  width: 24px;
  height: 24px;
  border-radius: 4px;
  border: 1px solid rgba(44, 44, 44, 0.30);
  object-fit: contain;
}
.current-page{
  color: #FFF;
  background: #2C2C2C;
}
.mobile-list__title{
  display: none !important;
  color: #70706E !important;
  font-family: Poppins, sans-serif !important;
  font-size: 12px !important;
  font-style: normal !important;
  font-weight: 400 !important;
  line-height: 20px !important;
  box-shadow: none !important;
  padding-bottom: 0 !important;
}
.desk-content{
  display: block !important;
}
.mobile-content{
  display: none !important;
}
.content-table__list{
  background: #fff;
}
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@media (max-width: 1700px) {
  .login{
    background-size: 200% !important;
  }
}
@media (max-width: 1400px) {
  .login{
    background-size: 280% !important;
  }
}
@media (max-width: 1200px) {
  .verification-content{
    height: calc(100% - 80px);
  }
  .sticky-header{
    position: relative;
  }
  .sticky-footer{
    position: relative;
  }
  .wrapper__small{
    width: 96%;
  }
  .mobile-list__title{
    display: flex !important;
  }
  .mobile-list__item-value{
    display: flex;
    flex-direction: column;
  }
  .desk-content{
    display: none !important;
  }
  .mobile-content{
    display: block !important;
  }
  .main__block-buttons{
    display: flex;
    justify-content: space-between;
  }
  .content-table__item{
    border-radius: 16px !important;
    overflow: hidden !important;
    padding: 20px;
  }
}
@media (max-width: 600px) {
  .login__routes{
    display: flex;
    flex-direction: column;
  }
  .login__title{
    margin-bottom: 6px;
    h2 {
      font-size: 24px;
    }
  }
  .login__description{
    margin-bottom: 20px;
    span{
      font-size: 14px;
    }
  }
}
