<template>
  <div class="feedback">
    <div class="feedback__result">
      <div class="feedback__result-item">
        <div class="feedback__result-rating">
          <div class="feedback__result-rating-top">
            <span>0.0</span>
            <img src="../static/images/star.svg" alt="star">
          </div>
          <div class="feedback__result-rating-bottom">
            <span>0 reviews</span>
          </div>
        </div>
      </div>
<!--      <div class="feedback__result-item" style="justify-content: flex-start">-->
<!--        <div class="feedback__result-ratings">-->
<!--          <div class="feedback__result-ratings-item">-->
<!--            <span>5</span>-->
<!--            <img src="../static/images/Star-small.svg" alt="star-small">-->
<!--            <span class="feedback__result-ratings-item-linear" style="width: 100%"></span>-->
<!--          </div>-->
<!--          <div class="feedback__result-ratings-item">-->
<!--            <span>4</span>-->
<!--            <img src="../static/images/Star-small.svg" alt="star-small">-->
<!--            <span class="feedback__result-ratings-item-linear" style="width: 80%"></span>-->
<!--          </div>-->
<!--          <div class="feedback__result-ratings-item">-->
<!--            <span>3</span>-->
<!--            <img src="../static/images/Star-small.svg" alt="star-small">-->
<!--            <span class="feedback__result-ratings-item-linear" style="width: 60%"></span>-->
<!--          </div>-->
<!--          <div class="feedback__result-ratings-item">-->
<!--            <span>2</span>-->
<!--            <img src="../static/images/Star-small.svg" alt="star-small">-->
<!--            <span class="feedback__result-ratings-item-linear" style="width: 40%"></span>-->
<!--          </div>-->
<!--          <div class="feedback__result-ratings-item">-->
<!--            <span>1</span>-->
<!--            <img src="../static/images/Star-small.svg" alt="star-small">-->
<!--            <span class="feedback__result-ratings-item-linear" style="width: 20%"></span>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
    </div>
    <div>
      No reviews yet
    </div>
<!--    <div class="feedback__reviews">-->
<!--      <div class="feedback__reviews-item">-->
<!--        <div class="feedback__reviews-item-top">-->
<!--          <div class="feedback__reviews-item-top-avatar">-->
<!--            <img src="../static/images/avatar.svg" alt="avatar">-->
<!--          </div>-->
<!--          <div class="feedback__reviews-item-top-route">-->
<!--            <div>-->
<!--              <span class="feedback__reviews-item-top-route-name">Salzburg <img src="../static/images/arrow-right-black.svg" alt="arrow-right"> Venice</span>-->
<!--              <span class="feedback__reviews-item-top-route-id">#2342343</span>-->
<!--            </div>-->
<!--            <div class="feedback__reviews-item-top-route-rating">-->
<!--              <div class="feedback__reviews-item-top-route-rating-item">-->
<!--                <img src="../static/images/Star-middle.svg" alt="star">-->
<!--              </div>-->
<!--              <div class="feedback__reviews-item-top-route-rating-item">-->
<!--                <img src="../static/images/Star-middle.svg" alt="star">-->
<!--              </div>-->
<!--              <div class="feedback__reviews-item-top-route-rating-item">-->
<!--                <img src="../static/images/Star-middle.svg" alt="star">-->
<!--              </div>-->
<!--              <div class="feedback__reviews-item-top-route-rating-item">-->
<!--                <img src="../static/images/Star-middle.svg" alt="star">-->
<!--              </div>-->
<!--              <div class="feedback__reviews-item-top-route-rating-item">-->
<!--                <img src="../static/images/Star-middle.svg" alt="star">-->
<!--              </div>-->
<!--              <span>5.0</span>-->
<!--            </div>-->
<!--          </div>-->
<!--          <div class="feedback__reviews-item-top-button">-->
<!--            <button>...</button>-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="feedback__reviews-item-middle">-->
<!--          <div class="feedback__reviews-item-middle-top">-->
<!--            <span class="feedback__reviews-item-middle-top-title">Good Quality</span>-->
<!--            <span class="feedback__reviews-item-middle-top-date">Aplil 9,2023</span>-->
<!--          </div>-->
<!--          <div class="feedback__reviews-item-middle-comment">-->
<!--            The trip was quite pleasant, but the driver did tell us much when we asked a few interesting things, so he told us he didn't know. Kate M.-->
<!--          </div>-->
<!--        </div>-->
<!--        <div class="feedback__reviews-item-bottom">-->
<!--          <div class="feedback__reviews-item-bottom-info">-->
<!--            <div class="feedback__reviews-item-bottom-info-item">-->
<!--              <span>Ivan Pupkin</span>-->
<!--              <span><img src="../static/images/arrow_up.svg" alt="arrow-up">12</span>-->
<!--            </div>-->
<!--          </div>-->
<!--        </div>-->
<!--      </div>-->
<!--    </div>-->
  </div>
</template>

<script>
//import axios from "axios";

export default {
  name: "p-feedback",
  data() {
    return {
      dateFrom: '',
      dateTo: '',
      currentDateIndex: 0,
      orders: [],
      prices: {},
      currentDate: '',
      calendar: [],
      isLoading: false,
    }
  },
}
</script>

<style scoped lang="scss">
.feedback {
  .feedback__result {
    background: #fff;
    border-radius: 8px;
    padding: 24px 32px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(10.5px);
    &-ratings {
      width: 195px;
      &-item {
        img {
          margin: 0px 5px;
        }
      }
    }
    &-item {
      width: 50%;
      display: flex;
      justify-content: flex-end;
    }
  }
}

.feedback__result-rating-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  span {
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: 96px;
  }
}

.feedback__result-rating-bottom span {
  border-radius: 52.5px;
  background: var(--dark, #050505);
  color: #fff;
  padding: 7px 18px;
  font-size: 11px;
  font-style: normal;
  font-weight: 700;
  line-height: 15px;
}

.feedback__result-rating {
  margin-right: 26px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.feedback__result-ratings-item {
  display: flex;
  align-items: center;
}

.feedback__result-ratings-item-linear {
  border-radius: 7.5px;
  background: linear-gradient(200deg, #EC824A 0%, #F96C4E 100%);
  height: 6px;
}

.feedback__reviews {
  display: flex;
  justify-content: space-between;
  &-item{
    background: #fff;
    border-radius: 8px;
    width: 32%;
    padding: 16px 24px;
    box-shadow: 0.9643162488937378px 0.9643162488937378px 38.57264709472656px 0px rgba(0, 0, 0, 0.10), 0.9643162488937378px 0.9643162488937378px 19.28632354736328px 0px rgba(0, 0, 0, 0.10) inset;
    &-top {
      display: flex;
      justify-content: space-between;
      margin-bottom: 12.5px;
      &-avatar {
        width: 20%;
        img {
          width: 100%;
        }
      }
      &-route {
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        &-name {
          display: flex;
          align-items: center;
        }
        &-id {
          color: #000;
          font-size: 13px;
          font-style: normal;
          font-weight: 400;
          line-height: normal;
          opacity: 0.6;
        }
        &-rating {
          display: flex;
        }
      }
      &-button {
        button {
          border-radius: 4px;
          background: rgba(35, 35, 33, 0.05);
          border: none;
          display: flex;
          justify-content: center;
          align-items: center;
          width: 32px;
          height: 32px;
        }
      }
    }
    &-middle {
      &-top {
        display: flex;
        justify-content: space-between;
        &-date {
          color: #70706E;
          font-size: 12px;
        }
        &-title {
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
        }
      }
      &-comment {
        font-size: 13px;
        opacity: 0.6;
        margin-top: 4px;
      }
    }
    &-bottom {
      margin-top: 29px;
      border-radius: 8px;
      border: 0.75px solid rgba(35, 35, 33, 0.30);
      padding: 16px;
      &-info {
        &-item {
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }
}
@media (max-width: 1200px) {
  .feedback__reviews{
    flex-wrap: wrap;
  }
  .feedback__reviews-item{
    width: 100%;
    margin-bottom: 24px;
  }
}

</style>
