<template>
  <div class="invoice">
    <div class="invoice__header">
      <div class="date">
        <button @click="swapDate('+')" :disabled="currentDateIndex === calendar.length - 1 || isLoading" :class="{'disable': currentDateIndex === calendar.length - 1 || isLoading}" class="prev">
          <img src="../static/images/keyboard_arrow_down.svg" style="height: 24px; width: 24px" alt=""><span>Back</span>
        </button>
        <span v-if="dateFrom.length" class="date__current"><span class="date__current-item">{{ getCurrentDateString(this.dateFrom) }}</span>&nbsp; - &nbsp;<span class="date__current-item">{{ getCurrentDateString(this.dateTo) }}</span></span>
        <button @click="swapDate('-')" :disabled="currentDateIndex === 0 || isLoading" :class="{'disable': currentDateIndex === 0 || isLoading}" class="next">
          <span>Next</span><img src="../static/images/keyboard_arrow_down.svg" alt="" style="height: 24px; width: 24px; transform: rotate(180deg)">
        </button>
      </div>
      <div class="payments">
        <div class="payments__online">
          <span>
            Paid online
          </span>
          <div class="total__sum">
            <span v-if="!isLoading">{{ prices.paid_online }}€</span>
            <div v-else class="load-api small">
              <div class="loader"></div>
            </div>
          </div>
        </div>
        <div class="payments__cash">
          <span>
            Collected in cash
          </span>
          <div class="total__sum">
            <span v-if="!isLoading">{{ prices.collected_in_cash }}€</span>
            <div v-else class="load-api small">
              <div class="loader"></div>
            </div>
          </div>
        </div>
        <div class="payments__earned">
          <span>
            Total earned
          </span>
          <div class="total__sum">
            <span v-if="!isLoading">{{ prices.total_earned }}€</span>
            <div v-else class="load-api small">
              <div class="loader"></div>
            </div>
          </div>
        </div>
        <div class="payments__paid">
          <span>
            To be paid
          </span>
          <div class="total__sum">
            <span v-if="!isLoading">{{ prices.to_be_paid }}€</span>
            <div v-else class="load-api small">
              <div class="loader"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="invoice__main">
      <v-invoice-titles/>
      <template v-if="isLoading">
        <div class="load-api">
          <div class="loader"></div>
        </div>
      </template>
      <template v-else>
        <div class="invoice__list">
          <div class="invoice__item" v-for="order in orders" :key="order">
            <div class="booking">
              <span>{{ order.id }}</span>
            </div>
            <div class="ride__date">
              <span>{{ normalizeDate(order.route_date) }}</span>
            </div>
            <div class="driver">
              <span v-if="getUser.role_id === 5">{{ getUser.profile.first_name }} <br/> {{ getUser.profile.last_name }}</span>
              <span v-else-if="order.driver">{{ order.driver.first_name }} <br/> {{ order.driver.last_name }}</span>
            </div>
            <div class="route">
              <span>{{ order.route.title }}</span>
            </div>
            <div class="earned">
              <span v-if="order.status === 'planned'">0€</span>
              <span v-else>{{ order.amount }}€</span>
            </div>
            <div class="penalty">
              <span>-€</span>
            </div>
            <div class="paid__online">
              <span v-if="order.payment_type === 2">0€</span>
              <span v-else>{{ order.amount }}€</span>
            </div>
            <div class="collected__cash">
              <span v-if="order.payment_type === 1">0€</span>
              <span v-else>{{ order.amount }}€</span>
            </div>
            <div class="except__cash">
              <span class="font__medium" v-if="order.status === 'planned'">{{ order.amount }}€</span>
              <span class="font__medium" v-else>0€</span>
            </div>
          </div>
          <div class="summary invoice__item">
            <div class="title font__medium">
              <div class="title__inner">
                SUMMARY
              </div>
            </div>
            <div class="earned">
              <span>{{ prices.paid_online }}€</span>
            </div>
            <div class="penalty">
              <span>-€</span>
            </div>
            <div class="paid__online">
              <span>{{ prices.paid_online }}€</span>
            </div>
            <div class="collected__cash">
              <span>{{ prices.collected_in_cash }}€</span>
            </div>
            <div class="except__cash">
              <span class="font__medium">{{ prices.to_be_paid }}€</span>
            </div>
          </div>
        </div>
      </template>
    </div>
  </div>
</template>

<script>
import { api as axios } from '@/helpers/axios';
import VInvoiceTitles from "../components/v-invoice-titles.vue";
import {mapGetters} from "vuex";
import normalizeDate from "../mixins/normalizeDate.js";

export default {
  name: "p-invoice",
  components: {VInvoiceTitles},
  computed: {
    ...mapGetters(['getUser']),
  },
  mixins: [normalizeDate],
  data() {
    return {
      dateFrom: '',
      dateTo: '',
      currentDateIndex: 0,
      orders: [],
      prices: {},
      currentDate: '',
      calendar: [],
      isLoading: false,
    }
  },
  methods: {
    getCalendar(dateFrom = null, dateTo = null) {
      this.isLoading = true;
      axios.post(`${process.env.VUE_APP_API_DOMAIN}invoice/get`, {date_from: dateFrom, date_to: dateTo, user_id: this.getUser.id}).then( resp => {
        this.dateFrom = resp.data.calendar && resp.data.calendar.length && resp.data.calendar[this.currentDateIndex].from;
        this.dateTo = resp.data.calendar && resp.data.calendar.length && resp.data.calendar[this.currentDateIndex].to;
        this.orders = resp.data.orders;
        this.prices = resp.data.prices;
        this.calendar = resp.data.calendar;
        this.getCurrentDateString(this.dateFrom, this.dateTo);
        this.isLoading = false;
      })
    },
    swapDate(action) {
      this.currentDateIndex = eval(this.currentDateIndex + action + 1)
      this.dateFrom = this.calendar[this.currentDateIndex].from;
      this.dateTo = this.calendar[this.currentDateIndex].to;
      this.getCalendar(this.dateFrom, this.dateTo);
    },
    getCurrentDateString(date) {
      let d = new Date(date)
      const formatter = new Intl.DateTimeFormat('en', { month: 'long' });
      const month = formatter.format(d);
      return month + ' ' + d.getDate() + ', ' + d.getFullYear();
    },
  },
  created() {
    this.getCalendar();
  }
}
</script>

<style scoped lang="scss">
.invoice{
  &__main{
    background: white;
  }
  &__header{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  &__item{
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 4px 0;
    & > div{
      background: #FAFAFA;
      height: 56px;
      display: flex;
      align-items: center;
      justify-content: center;
      & > span{
        padding: 0 10px;
        color: #2C2C2C;
        font-size: 14px;
        font-style: normal;
        font-weight: 400;
      }
    }
    & > div:not(:last-child) {
      margin-right: 10px;
    }
  }
}
.date{
  &__current{
    margin: 0 30px;
  }
}
.prev, .next{
  background: none;
  border: none;
  span{
    font-weight: 700;
    font-size: 14px;
    color: #2C2C2C4D;
  }
  img{
    width: 9px;
  }
}
.prev span{
  margin-left: 10px;
}
.next span{
  margin-right: 10px;
}
.payments{
  display: flex;
  align-items: center;
  margin: 40px 0;
  & > div > span{
    display: block;
    width: 100%;
    color: #1F1A24;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25px;
    margin-bottom: 4px;
  }
  & > div:not(:last-child){
    margin-right: 24px;
  }
}
.total__sum{
  border-radius: 8px;
  border: 1px solid #232321;
  padding: 10px 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  span{
    width: 118px;
    text-align: center;
  }
}
.payments__earned > div{
  background: #4A69E2;
  span{
    color: white;
    font-weight: 700;
  }
}
.payments__paid > div{
  background: rgba(255, 165, 47, 0.80);
  span{
    font-weight: 700;
  }
}
.booking span{
  font-weight: 700;
}
.penalty span{
  color: rgba(236, 130, 74, 0.9) !important;
}
.booking{
  width: 4%;
}
.driver{
  width: 15%;
}
.route{
  width: 15%;
}
.earned, .penalty, .paid__online, .collected__cash, .except__cash, .ride__date{
  width: 11%;
}
.invoice__list{
  margin-top: 4px;
}
.load-api{
  backdrop-filter: none;
  position: relative;
  height: 60vh;
  .loader{
    border-top: 4px solid #E07B46;
  }
}
.load-api.small{
  height: 20px;
  .loader{
    height: 20px;
    width: 20px;
    border: 2px solid black;
    border-top: 2px solid #E07B46;
  }
}
.disable{
  opacity: .6;
}
.date__current-item{
  background: #232321;
  border-radius: 8px;
  padding: 8px 16px;
  color: white;
  font-family: Poppins, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.25px;
  text-transform: uppercase;
}
.invoice__list{
  display: flex;
  flex-direction: column;
  align-items: end;
}
.invoice__item{
  width: 100%;
  border-bottom: 0.5px solid rgba(44, 44, 44, 0.30);
}
.summary{
  justify-content: end;
  & > div{
    background: rgba(255, 165, 47, 0.70);
  }
  .earned, .penalty, .paid__online, .collected__cash, .except__cash{
    width: 11%;
  }
  .title{
    width: calc(45% + 30px);
    background: none;
    display: flex;
    justify-content: end;
    &__inner{
      background: rgba(255, 165, 47, 0.70);
      width: 26%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
}
.prev, .next{
  display: flex;
  align-items: center;
}
.date{
  display: flex;
}
@media (max-width: 600px) {
  .invoice__main{
    overflow-x: scroll;
  }
  .invoice__titles{
    width: 1000px;
  }
  .invoice__list{
    width: 1000px;
  }
  .date__current{
    margin: 0 4px;
  }
  .date__current-item{
    padding: 2px 4px;
    font-size: 10px;
  }
  .prev span{
    margin-left: 2px;
  }
  .next span {
    margin-right: 2px;
  }
  .date{
    align-items: center;
  }
  .date__current{
    font-size: 4px;
  }
  .payments{
    flex-wrap: wrap;
    justify-content: space-between;
    & > div{
      margin-right: 0 !important;
    }
    padding: 0 20px;
  }
}

</style>
