<template>
  <div class="burger-menu">
    <div class="burger-menu__inner">
      <div class="burger-menu__title">
        <router-link to="/bookings/offers?page=1">MYTRIPLINER</router-link>
      </div>
      <div class="burger-menu__btn" @click="isOpen = !isOpen">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="26" viewBox="0 0 24 26" fill="none">
          <path d="M3.75 8.3125H20.25M3.75 13H20.25M3.75 17.6875H20.25" stroke="white" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round"/>
        </svg>
      </div>
    </div>
    <transition name="burger-menu">
      <v-sidebar
          v-if="isOpen"
          class="burger-menu__content"
          @closeBurger="isOpen = false"
      />
    </transition>
  </div>
</template>

<script>
import VSidebar from "../components/v-sidebar.vue";

export default {
  name: "v-burger",
  components: {VSidebar},
  data () {
    return {
      isOpen: false,
    }
  }
}
</script>

<style scoped lang="scss">
.burger-menu{
  width: 100%;
  &__inner{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 24px;
    z-index: 10000;
    position: relative;
    background: #2C2C2C;
    align-items: center;
  }
  &__title a{
    color: #C4C4C4;
    text-align: center;
    font-family: Poppins, sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  &__btn{
    cursor: pointer;
    display: flex;
    align-items: center;
  }
}
.burger-menu__content{
  overflow-y: hidden;
}
.burger-menu-enter-active,
.burger-menu-leave-active {
  transition: all 0.3s ease;
}

.burger-menu-enter-from,
.burger-menu-leave-to {
  transform: translateY(-1000px);
}
.burger-menu-enter-to,
.burger-menu-leave-from {
  transform: translateY(0);
}

</style>