<template>
  <div class="content__header">
      <div class="content__header_item" v-for="item in items" :key="item" :style="{'width': widths[item] + '%'}">
        <span>{{ item }}</span>
      </div>
    <div class="content__header_item" v-if="buttons" :style="{ 'width': buttonsWidth + '%' }">
      <span></span>
    </div>
  </div>
</template>

<script>
export default {
  name: "v-content-header",
  props: {
    'items': {
      type: Array
    },
    'buttons': {
      default: false,
      type: Boolean
    },
    'buttonsWidth': {
      default: 15,
      type: Number
    },
  },
  data() {
    return {
      widths: {
        'id': 10,
        '#': 5,
        'Departure': 20,
        'Price': 10,
        'Note': 10,
        'Route': 30,
        'Vehicles': 15,
        'Order #': 10,
        'Driver/Vehicle': 15,
        'Name': 15,
        'Email': 15,
        'Number': 15,
        'Rols': 15,
        'Rating': 10,
        'Status': 10,
        'Marka': 15,
        'Model': 15,
        'Year': 5,
        'Licence plate': 15,
        'Color': 10,
        'Class': 10,
        'Tools': 15
      }
    }
  }
}
</script>

<style scoped lang="scss">
  .content__header {
    display: flex;
    padding: 10px 0;
    border-bottom: 0.5px solid rgba(44, 44, 44, 0.30);
    background: #FAFAFA;
    border-radius: 4px 4px 0 0;
    margin-top: 16px;
  }
  .content__header_item span {
    color: var(--dispatching-dark-grey, #70706E);
    font-size: 14px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    display: block;
    width: calc(100% - 10px);
    margin: 0 auto;
    padding: 0 14px;
  }
</style>