<template>
  <footer>
    <div class="wrapper">
      <div class="footer">
        <div class="footer__left">
          <span>© {{ new Date().getFullYear() }} - MYTRIPLINE</span>
        </div>
        <div class="footer__right">
          <a href="https://mytripline.com/company">About</a>&nbsp;&nbsp;
          <a href="https://mytripline.com/careers">Careers</a>&nbsp;&nbsp;
          <a href="https://mytripline.com/privacy-policy">Policy</a>&nbsp;&nbsp;
          <a href="https://mytripline.com/contact">Contact</a>&nbsp;&nbsp;
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
export default {
  name: "v-footer"
}
</script>

<style scoped lang="scss">
footer{
  width: 100%;
}
.footer{
  display: flex;
  justify-content: space-between;
  border-top: 1px solid rgba(35, 35, 33, 0.20);
  color: rgba(44, 44, 44, 0.80);
  padding: 16px 0 40px 0;
  margin-top: 16px;
  span, a{
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 200;
    line-height: normal;
  }
}
@media (max-width: 600px) {
  .footer{
    flex-direction: column;
    padding-left: 20px;
  }
}
</style>
