<template>
  <div class="header">
    <div class="wrapper">
      <div class="header__inner">
        <div class="route-name">
          <span>{{ getRouteName }}</span>
        </div>
        <div class="company__name">
          <span>{{ getUser.company.name }}</span>
<!--          <div class="avatar"><img :src="getPhoto" alt="photo"></div>-->
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "v-header",
  computed: {
    ...mapGetters(['getUser']),
    getPhoto() {
      return process.env.VUE_APP_IMG_LINK + this.getUser.profile.photo;
      // return process.env.VUE_APP_IMG_LINK + 'profiles/' + this.getUser.id + '/' + this.getUser.profile.photo;
    },
    getRouteName() {
      return this.$route.meta.title;
    }
  }
}
</script>

<style scoped lang="scss">
.header{
  height: 96px;
  background: rgba(255, 255, 255, 0.53);
  width: 100%;
  &__inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    width: 100%;
  }
}
.company__name{
  display: flex;
  align-items: center;
  .avatar{
    height: 48px;
    width: 48px;
    border-radius: 50%;
    overflow: hidden;
    img{
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  span{
    margin-right: 10px;
    color: #2C2C2C;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.256px;
  }
  img:not(:last-child){
    margin-right: 2px;
  }
}
.route-name span{
  color: #2C2C2C;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 26px;
}
</style>
