<template>
  <div class="invoice__titles bookings__header">
    <div class="title__list">
      <div class="invoice__titles_item booking">
        <span>#</span>
      </div>
      <div class="invoice__titles_item ride__date">
        <span>Ride date</span>
      </div>
      <div class="invoice__titles_item driver">
        <span>Driver</span>
      </div>
      <div class="invoice__titles_item route">
        <span>Route</span>
      </div>
      <div class="invoice__titles_item earned">
        <span>Total earned</span>
      </div>
      <div class="invoice__titles_item penalty">
        <span>Penalty</span>
      </div>
      <div class="invoice__titles_item paid__online">
        <span>Paid online</span>
      </div>
      <div class="invoice__titles_item collected__cash">
        <span>Collected in cash</span>
      </div>
      <div class="invoice__titles_item except__cash">
        <span>To be paid</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "v-invoice-titles"
}
</script>

<style scoped lang="scss">
.booking{
  width: 4%;
}
.driver{
  width: 15%;
}
.route{
  width: 15%;
}
.earned, .penalty, .paid__online, .collected__cash, .except__cash, .ride__date{
  width: 11%;
}
.invoice__titles_item{
  padding-left: 4px;
}
.invoice__titles_item:not(:last-child){
  margin-right: 10px;
}
</style>