<template>
  <div class="login__form">
    <div class="login__back" v-if="getTypeForm === 'update-password'">
      <router-link to="login">
          <img src="../static/images/close-circle.svg" alt="close-circle">
      </router-link>
    </div>
    <div class="login__inner">
      <div class="login__title">
        <h2 v-if="getTypeForm === 'login'">Log In to Mytripliner</h2>
        <h2 v-if="getTypeForm === 'update-password' && updatePasswordStep !== 'enter_password'">Forgot password</h2>
        <h2 v-if="getTypeForm === 'update-password' && isChangePassword">Reset password</h2>
      </div>
      <div class="login__description">
        <span v-if="getTypeForm === 'login'">Enter your email and password below.</span>
        <span v-if="getTypeForm === 'update-password' && updatePasswordStep !== 'enter_password'">Enter your email for the verification proccesss,we will send 4 digits code to your email.</span>
        <span v-if="getTypeForm === 'update-password' && isChangePassword">Set the new password for your account so you can login and access all the features.</span>
      </div>
      <form>
        <div v-if="updatePasswordStep !== 'enter_password' && updatePasswordStep !== 'enter_code'" class="login__email">
          <label>Email</label>
          <input @focus="this.errors.email = []" :class="{ 'input-error': this.errors.email.length }" v-model="email" type="text" placeholder="Enter your email">
          <div v-if="errors.email.length" class="error">
            <span>{{ errors.email[0] }}</span>
          </div>
        </div>
        <div class="forgot-password__code" v-if="updatePasswordStep === 'enter_code' && getTypeForm === 'update-password'">
          <input @input="changeCode(1, $event)" @keyup.delete="changeCode(1, $event)" :class="{ 'invalid__code': errors.invalidCode}" v-model="codeInputs[0]" name="code1" ref="code1" type="number">
          <input @input="changeCode(2, $event)" @keyup.delete="changeCode(2, $event)" :class="{ 'invalid__code': errors.invalidCode}" v-model="codeInputs[1]" name="code2" ref="code2" type="number">
          <input @input="changeCode(3, $event)" @keyup.delete="changeCode(3, $event)" :class="{ 'invalid__code': errors.invalidCode}" v-model="codeInputs[2]" name="code3" ref="code3" type="number">
          <input @input="changeCode(4, $event)" @keyup.delete="changeCode(4, $event)" :class="{ 'invalid__code': errors.invalidCode}" v-model="codeInputs[3]" name="code4" ref="code4" type="number">
        </div>
        <div v-if="updatePasswordStep === 'enter_code' && getTypeForm === 'update-password'" class="forgot-password__code-resend">
          <span>If you didn’t receive a code, <span style="color: #4A69E2;" @click="resendCode" v-if="resendTimer === 0">Resend</span><span v-else>{{ resendTimer }}</span></span>
        </div>
        <div v-if="updatePasswordStep === 'enter_password' || getTypeForm !== 'update-password'" class="login__password">
          <label v-if="getTypeForm === 'login'">Password</label>
          <label v-else>New password</label>
          <input @focus="this.errors.password = []" :class="{ 'input-error': this.errors.password.length }" v-model="password" :type="types.password1" class="password-input" placeholder="Enter your password">
          <div class="forget-password">
            <router-link v-if="getTypeForm === 'login'" to="/update-password">Forget password</router-link>
          </div>
          <img class="eye" src="../static/images/eye.svg" alt="eye" @click="types.password1 = types.password1 === 'password' ? 'text' : 'password'">
          <div v-if="errors.password.length" class="error">
            <span>{{ errors.password[0] }}</span>
          </div>
        </div>
        <div v-if="updatePasswordStep === 'enter_password' && getTypeForm === 'update-password'" class="login__password_again">
          <label>Re-enter Password</label>
          <input @focus="this.errors.passwordAgain = []" :class="{ 'input-error': this.errors.passwordAgain.length }" v-model="passwordAgain" :type="types.password2" class="password-input" placeholder="Enter re-enter password">
          <img class="eye" src="../static/images/eye.svg" alt="eye" @click="types.password2 = types.password2 === 'password' ? 'text' : 'password'">
          <div v-if="errors.passwordAgain.length" class="error">
            <span>{{ errors.passwordAgain[0] }}</span>
          </div>
        </div>
        <div v-if="errors.message.length" class="error">
          <span>{{ errors.message }}</span>
        </div>
        <div class="login__btn">
          <button v-if="getTypeForm === 'login'" @click.prevent="regPartner()">
            <span>Log in</span>
          </button>
          <button v-if="getTypeForm === 'update-password' && updatePasswordStep === 'enter_code'" @click.prevent="sendCode()">
            <span>Continue</span>
          </button>
          <button v-if="getTypeForm === 'update-password' && updatePasswordStep === 'enter_email'" @click.prevent="checkEmail()">
            <span>Continue</span>
          </button>
          <button v-if="getTypeForm === 'update-password' && updatePasswordStep === 'enter_password'" @click.prevent="updatePassword()">
            <span>Change</span>
          </button>
        </div>
        <div class="login__routes" :class="{ 'space-between': getTypeForm === 'login', 'center': getTypeForm === 'update-password'}">
          <div class="do-not-have-account">Don’t have an account? <a href="https://mytripline.com/become-a-partner-registration">Sign up</a> </div>
          <!-- <span v-if="getTypeForm === 'update-password'">If you have trouble changing the password, contact drivers@mytripline.com</span> -->
        </div>
      </form>
    </div>
  </div>
</template>

<script>
import { useVuelidate } from '@vuelidate/core'
import { required, email, minLength, helpers } from '@vuelidate/validators';
import { api } from '@/helpers/axios';
export default {
  name: "v-login-form",
  setup () {
    return { v$: useVuelidate() }
  },
  data() {
    return {
      email: '',
      password: '',
      passwordAgain: '',
      isChangePassword: false,
      updatePasswordStep: 'enter_email',
      codeInputs: ['', '', '', ''],
      code: '',
      resendTimer: 60,
      types: {
        password1: 'password',
        password2: 'password',
      },
      errors: {
        email: [],
        password: [],
        passwordAgain: [],
        login: false,
        message: '',
      }
    }
  },
  validations () {
    return{
      email: { required, email },
      password: { required, minLength: minLength(6), containsPasswordRequirement: helpers.withMessage(() => 'Your password must be at least 6 characters long, including one uppercase letter and one number.', (value) => /(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9])/.test(value.toString())) }
    }
  },
  computed: {
    getTypeForm(){
      return this.$route.name
    }
  },
  methods: {
    validations() {
      this.resetErrors();
      if (!this.isChangePassword){
        if (this.v$.email.required.$invalid){
          this.errors.email.push('Enter email')
        }
        if (this.v$.email.email.$invalid){
          this.errors.email.push('Email')
        }
      }
      if (this.isChangePassword && this.getTypeForm === 'update-password' || this.getTypeForm !== 'update-password') {
        if (this.v$.password.required.$invalid){
          this.errors.password.push('Enter password')
        }
        if (this.v$.password.minLength.$invalid || this.v$.password.containsPasswordRequirement.$invalid) {
          this.errors.password.push('Your password must be at least 6 characters long, including one uppercase letter and one number.')
        }
      }
      if (this.password !== this.passwordAgain && (this.getTypeForm === 'update-password' || this.isChangePassword)) {
        this.errors.passwordAgain.push('Mismatched passwords')
      }
      if (this.getTypeForm === 'login' && !this.checkErrors()) {
        this.errors.login = true
      }
    },
    regPartner() {
      this.validations();
      let user = {
        email: this.email,
        password: this.password
      }
      if (this.checkErrors()){
        this.$store.commit('CHANGE_STATUS_LOAD', true);
        if (this.getTypeForm === 'login') {
          api.post(`${process.env.VUE_APP_API_DOMAIN}user/login`, user).then( resp => {
            if (resp.data.status) {
              localStorage.setItem('token', resp.data.token);
              localStorage.setItem('auth_token', resp.data.auth_token)
              if (resp.data.user.status === 'new') {
                this.$router.replace('/verification/profile')
              } else if (resp.data.user.status === 'checking') {
                this.$router.replace('/verification/success')
              } else if (this.$route.path === '/' || this.$route.name === 'login') {
                this.$router.replace('/bookings/offers?page=1')
              }
              this.$store.commit('SET_USER', resp.data.user);
              this.errors.message = ''
            } else {
              this.errors.message = resp.data.message
            }
            this.$store.commit('CHANGE_STATUS_LOAD', false);
          })
        } else {
          api.post(`${process.env.VUE_APP_API_DOMAIN}user/verify`, user).then( resp => {
            if (resp.data.status) {
              localStorage.setItem('token', resp.data.token)
              this.$router.push('/bookings/offers?page=1')
              this.$store.commit('SET_USER', resp.data.user);
              this.errors.message = ''
            } else {
              this.errors.message = resp.data.message
            }
            this.$store.commit('CHANGE_STATUS_LOAD', false);
          })
        }
      }
    },
    resetErrors() {
      this.errors.login = false;
      this.errors.email = [];
      this.errors.password = [];
      this.errors.passwordAgain = [];
      this.errors.message = '';
    },
    checkErrors() {
      return this.errors.email.length === 0 && this.errors.password.length === 0 && this.errors.passwordAgain.length === 0;
    },
    checkEmail() {
      this.validations();
      if (this.checkErrors()) {
        this.$store.commit('CHANGE_STATUS_LOAD', true);
        api.post('https://api.drivermytripline.com/api/user/forgot-password', { email: this.email }).then(resp => {
          this.$store.commit('CHANGE_STATUS_LOAD', false);
          if (resp.data.status) {
            this.updatePasswordStep = 'enter_code'
            this.resendTimerStart()
          } else {
            this.errors.message = resp.data.message
          }
        })
      }
    },
    checkValidationCode () {
      return !(this.code.toString().length < 4)
    },
    async checkCode () {
      this.$store.commit('CHANGE_STATUS_LOAD', true);
      return await api.post('https://api.drivermytripline.com/api/user/check-code', { email: this.email, code: this.code })
    },
    changeCode (currentInput, event) {
      if (currentInput < 4 && event.inputType === 'insertText') {
        if (this.codeInputs[currentInput - 1].toString().length >= 2) {
          this.codeInputs[currentInput - 1] = Number(this.codeInputs[currentInput - 1].toString()[this.codeInputs[currentInput - 1].toString().length - 1])
        }
        this.$refs[`code${currentInput + 1}`].focus()
      } else if (currentInput > 1 && (event.inputType === 'deleteContentBackward' || event.type === 'keyup')) {
        if (event.type === 'keyup') {
          if (!this.codeInputs[currentInput - 1]) {
            this.$refs[`code${currentInput - 1}`].focus()
          }
        } else {
          this.$refs[`code${currentInput - 1}`].focus()
        }
      }
      if (currentInput === 4 && this.codeInputs[3] !== '<empty string>') {
        this.codeInputs[currentInput - 1] = Number(this.codeInputs[3].toString()[this.codeInputs[3].toString().length - 1])
      }
      this.code = this.codeInputs.join('')
    },
    resendCode () {
      api.post('https://api.drivermytripline.com/api/user/forgot-password', { email: this.email })
      this.resendTimerStart()
    },
    resendTimerStart () {
      this.resendTimer = 60
      const timer = setInterval(() => {
        if (this.resendTimer !== 0) {
          --this.resendTimer
        } else {
          clearInterval(timer)
        }
      }, 1000)
    },
    sendCode() {
      if (this.checkValidationCode()) {
        this.$store.commit('CHANGE_STATUS_LOAD', true);
        this.checkCode().then(resp => {
          this.$store.commit('CHANGE_STATUS_LOAD', false);
          if (resp.data.status) {
            this.updatePasswordStep = 'enter_password'
            this.isChangePassword = true
            this.errors.message = ''
          } else {
            this.errors.message = resp.data.message
          }
        })
      } else {
        this.errors.invalidCode = true
      }
    },
    updatePassword() {
      this.validations();
      if (this.checkErrors()){
        this.$store.commit('CHANGE_STATUS_LOAD', true);
        api.post(`${process.env.VUE_APP_API_DOMAIN}user/update-password`, {email: this.email, password: this.password}).then(resp => {
          if (resp.data.status){
            this.$router.push('/login');
          } else {
            this.errors.email.push(resp.data.message);
          }
          this.$store.commit('CHANGE_STATUS_LOAD', false);
        })
      }
    }
  },
  watch: {
    errors: {
      handler(){
        this.errors.login = !this.checkErrors()
      },
      deep: true
    }
  }
}
</script>
<style lang="scss" scoped>
.do-not-have-account {
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  color: #79767C;
  width: 100%;

  a {
    color: #4370FF;
  }

  a:hover {
    text-decoration: underline;
  }
}

.forget-password {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 400;
  line-height: 17.07px;
  color: #828285;
  a {
    color: #828285;
    text-decoration: underline;
  }
  a:hover {
    color: #4370FF;
  }
}

.login__btn {
  button {
    background: #4370FF;
    color: #fff;
    text-transform: capitalize;
  }
}
</style>
