<template>
  <div class="nav__menu">
    <div class="nav__menu_inner">
      <div class="nav__menu_list">
        <div class="nav__menu_item" v-for="(item, index) in navMenu[this.$route.matched[0].name]" :key="index">
          <router-link :class="{ 'disable': !statusNavCompany && item.name === 'Company' }" :to="item.link">{{
              item.name
            }}
          </router-link>
        </div>
      </div>
      <!--      <div class="edit__block" v-if="user.status === 'confirmed' && ($route.name === 'profile' || $route.name === 'company')">-->
      <!--        <template v-if="getStatusEdit">-->
      <!--          <button @click="$emit('updateData')" type="button" class="edit__btn save">-->
      <!--            <img src="../static/images/edit-save.svg" alt="save">-->
      <!--            <span>Save</span>-->
      <!--          </button>-->
      <!--          <button @click="this.$store.commit('CHANGE_EDIT', false)" type="button" class="edit__btn cancel">-->
      <!--            <img src="../static/images/edit-cancel.svg" alt="cancel">-->
      <!--            <span>Cancel</span>-->
      <!--          </button>-->
      <!--        </template>-->
      <!--        <template v-else>-->
      <!--          <button @click="this.$store.commit('CHANGE_EDIT', true)" type="button" class="edit__btn edit">-->
      <!--            <img src="../static/images/edit.svg" alt="edit">-->
      <!--            <span>edit</span>-->
      <!--          </button>-->
      <!--        </template>-->
      <!--      </div>-->
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";

export default {
  name: "v-nav-menu",
  props: ['user', 'statusNavCompany'],
  data() {
    return {}
  },
  computed: {
    ...mapGetters(['getStatusEdit', 'getUser']),
    navMenu() {
      const account = [
        {
          name: 'Profile',
          link: '/account/profile'
        },
        {
          name: 'Company',
          link: '/account/company',
          hide: () => this.getUser.role_id === 5
        }
      ]
      const bookings = [
        {
          name: 'Offers',
          link: '/bookings/offers',
          hide: () => !this.$store.state.isShowBooking,
        },
        {
          name: 'Planned rides',
          link: '/bookings/planned-rides'
        },
        {
          name: 'Finished rides',
          link: '/bookings/finished-rides'
        }
      ]
      return {
        account: account.filter(x => !Object.hasOwn(x, 'hide') || !x.hide()),
        bookings: bookings.filter(x => !Object.hasOwn(x, 'hide') || !x.hide())
      }
    }
  }
}
</script>

<style scoped lang="scss">
.nav__menu {
  &_inner {
    display: flex;
    justify-content: space-between;
  }

  &_item {
    width: 150px;
    height: 48px;
    display: flex;
    justify-content: center;
    align-items: center;

    span {
      cursor: pointer;
    }

    a {
      width: 94%;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80%;
      border-radius: 16px;
      margin: 4% 2%;
      color: #0A1629;
      text-align: center;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: normal;
    }
  }

  &_list {
    display: flex;
    background: #fff;
    border-radius: 16px;
  }
}

.active {
  color: #1969A9;
}

.disable {
  pointer-events: none;
}

@media (max-width: 600px) {
  .nav__menu_list {
    width: 100%;
  }
  .nav__menu_item {
    width: 33% !important;
  }
}
</style>
