<template>
  <div class="sidebar">
    <div class="sidebar__top">
      <div class="logo">
        <img src="../static/images/Logo.svg" alt="logo">
      </div>
      <div class="menu">
        <div class="menu__inner">
          <div class="menu__list">
            <span :class="{ 'router-active': getStatusActive(menuItem)}"
                         @click="navigation(menuItem.path)"
                         class="menu__item"
                         v-for="menuItem in menu"
                         :key="menuItem.name"
            >
              <img v-if="!getStatusActive(menuItem)" :src="menuItem.img" alt="icon">
              <img v-else :src="menuItem.imgActive" alt="icon">
              <span>{{ menuItem.name }}</span>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="sidebar__bottom">
      <div class="sidebar__logout">
        <button @click="logout()"><img src="../static/images/logout.svg" alt="logout"><span>Log out</span></button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapGetters } from "vuex";

export default {
  name: "v-sidebar",
  computed: {
    ...mapGetters(['getUser'])
  },
  data() {
    return {
      menu: [
        {
          name: 'Bookings',
          path: '/bookings/offers',
          img: require('../static/images/bookings-menu.svg'),
          imgActive: require('../static/images/bookings-menu-active.svg')
        },
        {
          name: 'Vehicles',
          path: '/vehicles',
          img: require('../static/images/vehicles-menu.svg'),
          imgActive: require('../static/images/vehicles-menu-active.svg')
        },
        {
          name: 'Account',
          path: '/account/profile',
          img: require('../static/images/account-menu.svg'),
          imgActive: require('../static/images/account-menu-active.svg')
        },
        // {
        //   name: 'Invoice',
        //   path: '/invoice',
        //   img: require('../static/images/invoice-menu.svg'),
        //   imgActive: require('../static/images/invoice-menu-active.svg')
        // },
        {
          name: 'Feedback',
          path: '/feedback',
          img: require('../static/images/feedback-menu.svg'),
          imgActive: require('../static/images/feedback-menu-active.svg')
        },
      ]
    }
  },
  created() {
    // need refactoring
    if (this.getUser.role_id !== 5){
      this.menu.splice(2, 0, {name: 'Drivers', path: '/drivers', img: require('../static/images/drivers-menu.svg'), imgActive: require('../static/images/drivers-menu-active.svg')});
    }
  },
  methods: {
    logout() {
      this.$store.commit('SET_SHOW_BOOKING', false)
      localStorage.removeItem('token');
      localStorage.removeItem('auth_token');
      this.$router.push('/login');
    },
    getStatusActive(menuItem) {
      return this.$route.matched[0].name === menuItem.name.toLowerCase() ||
      (menuItem.name.toLowerCase() === 'vehicles' && (this.$route.name === 'vehicle-add' || this.$route.name === 'vehicle')) ||
      (menuItem.name.toLowerCase() === 'drivers' && (this.$route.name === 'driver-add' || this.$route.name === 'driver')) ||
      (menuItem.name.toLowerCase() === 'bookings' && (this.$route.name === 'planned-ride' || this.$route.name === 'finished-ride'))
    },
    navigation(path) {
      this.$router.push(path);
      this.$emit('closeBurger');
    }
  }
}
</script>

<style scoped lang="scss">
.sidebar{
  background: #1F1F1F;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
  height: 100%;
  min-height: 100vh;
  z-index: 10;
  width: 100%;
  padding-top: 47px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top{
    height: calc(100% - 100px);
  }
  &__bottom{
    height: 100px;
  }
  &__logout{
    border-top: 1px solid #79767C;
    margin: 0 10%;
    button{
      margin: 16px 0 0 20px;
      background: none;
      border: none;
      display: flex;
      align-items: center;
      img{
        margin-right: 10px;
      }
      span{
        color: #E9E9EA;
        font-size: 14px;
        font-style: normal;
        font-weight: 500;
        line-height: 24px;
      }
    }
  }
}
.logo{
  width: 80%;
  margin: 0 0 55px calc(10% + 26px);
  img{
    width: 100%;
    margin-left: -15%;
  }
}
.menu{
  &__list{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    img{
      margin-right: 10px;
    }
  }
  &__item{
    height: 36px;
    padding-left: 26px;
    display: flex;
    align-items: center;
    width: 80%;
    margin: 8px 0;
    cursor: pointer;
    span{
      color: #E9E9EA;
      font-size: 14px;
      font-style: normal;
      font-weight: 500;
      line-height: 40px;
    }
  }
}
.router-active{
  background: #FFFFFF;
  border-radius: 7px;
  span{
    color: black;
  }
}
@media (max-width: 1200px) {
  .sidebar{
    min-height: 0;
    max-height: calc(100vh - 112px);
  }
  .logo{
    width: 200px;
    display: none;
  }
}
</style>
