<template>
  <v-content-header
      class="content-header"
      :items="['Order #', 'Departure', 'Route', 'Vehicles', 'Driver/Vehicle']"
      :buttons=true
      :buttonsWidth="5"
  />
  <div class="content-table">
    <div class="content-table__main">
      <div class="content-table__subtitle">
        <span>ONCOMING</span>
      </div>
      <div class="content-table__list">
        <div class="content-table__item" v-for="plannedItem in oncomingArray" :key="plannedItem.id">
          <div class="content-table__item-value mobile-list__item-value" style="width: 10%">
            <span class="mobile-list__title">#</span>
            <span>{{ plannedItem.id }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 20%">
            <span class="mobile-list__title">Departure</span>
            <span class="font__medium">{{ normalizeDate(plannedItem.route_date) }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 30%">
            <span class="mobile-list__title">Route</span>
            <span>{{ plannedItem.route.title }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 15%">
            <span class="mobile-list__title">Vehicles</span>
            <span style="color: #0E855B;text-transform: uppercase">{{ plannedItem['get_cars'][0].title }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 15%">
            <span class="mobile-list__title">Driver/Vehicle</span>
            <span style="text-align: start">
              <template v-if="plannedItem.driver !== null">
                {{ plannedItem.driver.first_name + ' ' + plannedItem.driver.last_name }}/
              </template>
              <br/>
              <template v-if="plannedItem.vehicle !== null">
                {{ plannedItem.vehicle.licence }}
              </template></span>
          </div>
          <div class="content-table__item-value end" style="width: 10%">
            <a @click="$router.push(`/bookings/planned-rides/${plannedItem.id}`)" class="link">Details</a>
          </div>
        </div>
      </div>
      <div class="content-table__subtitle">
        <span>UPCOMING</span>
      </div>
      <div class="content-table__list">
        <div class="content-table__item" v-for="plannedItem in resultingArray" :key="plannedItem.id">
          <div class="content-table__item-value mobile-list__item-value" style="width: 10%">
            <span class="mobile-list__title">#</span>
            <span>{{ plannedItem.id }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 20%">
            <span class="mobile-list__title">Departure</span>
            <span class="font__medium">{{ normalizeDate(plannedItem.route_date) }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 30%">
            <span class="mobile-list__title">Route</span>
            <span>{{ plannedItem.route.title }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 15%">
            <span class="mobile-list__title">Vehicles</span>
            <span style="color: #0E855B;text-transform: uppercase">{{ plannedItem['get_cars'][0].title }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 15%">
            <span v-if="plannedItem.driver !== null" class="mobile-list__title">Driver</span>
            <span v-if="plannedItem.driver !== null">{{ plannedItem.driver.first_name }}</span>
          </div>
          <div class="content-table__item-value end" style="width: 10%">
            <a @click="$router.push(`/bookings/planned-rides/${plannedItem.id}`)" class="link">Details</a>
          </div>
        </div>
      </div>
      <div class="pagination" v-if="showPagination">
        <div class="pagination__inner">
          <img v-if="currentPage !== 1" @click="getCurrentPageArray(currentPage - 1, upcomingArray)" style="transform: rotate(180deg);" src="../../../static/images/pagination-arrow.svg" alt="pagination-arrow">
          <template v-for="index in countPages" :key="index">
            <span v-if="currentPage !== 1 && currentPage !== 2 && index === currentPage - 1" class="pagination__ellipsis">...</span>
            <span v-if="getStatusShowPaginationItem(index)" :class="{ 'current-page': index === currentPage }" class="pagination__page" @click="getCurrentPageArray(index, upcomingArray)">{{ index }}</span>
            <span v-if="currentPage !== countPages && currentPage !== countPages - 1 && index === currentPage + 1" class="pagination__ellipsis">...</span>
          </template>
          <img v-if="currentPage !== countPages" @click="getCurrentPageArray(currentPage + 1, upcomingArray)" src="../../../static/images/pagination-arrow.svg" alt="pagination-arrow">
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import VContentHeader from "../../../components/v-content-header.vue";
import normalizeDate from "../../../mixins/normalizeDate.js";
import pagination from "../../../mixins/pagination.js";

export default {
  name: "planned-rides",
  components: {VContentHeader},
  props: ['planned'],
  mixins: [normalizeDate, pagination],
  data() {
    return {
      oncomingArray: [],
      upcomingArray: [],
    }
  },
  methods: {
    calculatePrice(price, action){
      return Math.round(eval(price + action))
    },
  },
  created() {
    if (window.innerWidth < 600) {
      this.setElementsOnPage(2);
    }
    if (this.planned?.length) {
      this.oncomingArray = this.planned.filter(el => el.status_job !== null);
      this.upcomingArray = this.planned.filter(el => el.status_job === null);
      this.startPagination(this.upcomingArray);
    }
  },
  watch: {
    planned: function (){
      this.oncomingArray = this.planned.filter(el => el.status_job !== null);
      this.upcomingArray = this.planned.filter(el => el.status_job === null);
      this.startPagination(this.upcomingArray);
    },
  }
}
</script>

<style scoped lang="scss">
.content-table__subtitle{
  padding: 16px 0 10px 19px;
  border-bottom: 1px solid #E7E7E3;
  span{
    color: var(--dispatching-dark-grey, #70706E);
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.25px;
    text-transform: uppercase;
  }
}
@media (max-width: 1200px) {
  .content-table__item{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: auto;
    padding-left: 20px;
    & > div{
      width: 100% !important;
      span, a{
        padding: 6px 0;
      }
    }
  }
  .content-header{
    display: none;
  }
  .content-table__item{
    background: white;
    margin-bottom: 24px;
  }
  .content-table__main{
    background: #E6E6E3;
  }
  .content-table__subtitle{
    background: white;
    margin-bottom: 12px;
    border-radius: 16px;
  }
}
</style>