<template>
  <section class="planned-ride">
    <div class="warning">
      <div class="close">

      </div>
      <span></span>
    </div>
    <div class="ride__header">
      <router-link to="/bookings/planned-rides" class="back">
        <img src="../../../static/images/keyboard_arrow_down.svg" alt="arrow">
        Back to booking list
      </router-link>
<!--      <div class="add__block">-->
<!--        <button @click="declineRide()" type="button" class="decline">-->
<!--          <span>Decline</span>-->
<!--        </button>-->
<!--      </div>-->
    </div>
    <div class="main__block" v-if="currentRide.route !== undefined">
      <div class="main__block-row sticky-header">
        <div class="main__block-row-item">
          <span class="main__block-title">Order details: {{ currentRide.route.title }}</span>
        </div>
        <div class="main__block-row-item" style="display: flex;justify-content: flex-end;">
          <span>Booking number {{ currentRide.id }}</span>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item" style="width: 33%">
          <label>
            <span>Route date</span>
            <input type="text" class="input__disabled" :value="normalizeDate(currentRide.route_date)" disabled>
          </label>
        </div>
<!--        <div class="main__block-row-item" style="width: 23%">-->
<!--          <label>-->
<!--            <span>Time</span>-->
<!--            <input type="text" class="input__disabled" :value="normalizeDate(currentRide.route_date)" disabled>-->
<!--          </label>-->
<!--        </div>-->
        <div class="main__block-row-item" style="width: 33%">
          <label>
            <span>Status</span>
            <input type="text" class="input__disabled" :value="currentRide.status" disabled>
          </label>
        </div>
        <div class="main__block-row-item" style="width: 33%">
          <label>
            <span>Payment type</span>
            <input type="text" class="input__disabled" v-if="currentRide.payment_type === 2" value="Paid out - cash" disabled>
            <input type="text" class="input__disabled" v-else value="Credit card" disabled>
          </label>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item" style="width: 42%">
          <label>
            <span>From</span>
            <input type="text" class="input__disabled" :value="currentRide.route.from_city?.name" disabled>
          </label>
        </div>
        <div class="main__block-row-item not-mobile" style="width: 3%; height: 100%; display: flex; justify-content: center; align-items: flex-end;">
          <img src="../../../static/images/next.svg" alt="next" style="width: 60px; height: 60px; border-radius: 50%;">
        </div>
        <div class="main__block-row-item" style="width: 24%">
          <label>
            <span>To</span>
            <input type="text" class="input__disabled" :value="currentRide.route.to_city?.name" disabled>
          </label>
        </div>
        <div class="main__block-row-item" style="width: 23%">
          <label>
            <span>Price</span>
            <input type="text" class="input__disabled" :value="calculatePrice(currentRide.amount, '/100 * 77') + '.00€'" disabled>
          </label>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item" style="width: 74%">
          <label>
            <span>Pickup address</span>
            <input type="text" class="input__disabled" :value="currentRide.pickup_address" disabled>
          </label>
        </div>
        <div class="main__block-row-item" style="width: 10%">
          <label>
            <span>Adults</span>
            <input type="text" class="input__disabled" :value="currentRide.adults" disabled>
          </label>
        </div>
        <div class="main__block-row-item" style="width: 10%">
          <label>
            <span>Laggage</span>
            <input type="text" class="input__disabled" :value="currentRide.luggage" disabled>
          </label>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item" style="width: 74%">
          <label>
            <span>Dropoff address</span>
            <input type="text" class="input__disabled" :value="currentRide.drop_off_address" disabled>
          </label>
        </div>
        <div class="main__block-row-item" style="width: 23%">
          <label>
            <span>Vehicle type</span>
            <input type="text" class="input__disabled" :value="currentRide.get_cars[0]?.title" disabled>
          </label>
        </div>
      </div>
      <hr class="main__block-hr" />
      <div class="main__block-row">
        <div class="main__block-row-item" style="width: 42%">
          <label>
            <span>Customer</span>
            <input type="text" class="input__disabled" :value="currentRide.first_name + ' ' + currentRide.last_name" disabled>
          </label>
        </div>
        <div class="main__block-row-item" style="width: 55%">
          <label>
            <span>Special requests</span>
            <input type="text" class="input__disabled" :value="currentRide.comment" disabled>
          </label>
        </div>
      </div>
      <hr class="main__block-hr" />
<!--      <div class="main__block-row" style="flex-wrap: wrap;">-->
<!--        <div class="main__block-row-notice">-->
<!--          <img src="../../../static/images/information-circle.svg" alt="warning">-->
<!--          <span style="color: #FFA52F">IMPORTANT!<br/>Keep on mind that, in case you will use different driver and vehicle than the assigned one, 100% penalty will be applied.</span>-->
<!--        </div>-->
<!--        <div class="main__block-row-notice">-->
<!--          <img src="../../../static/images/Caution.svg" alt="error">-->
<!--          <span style="color: #DA1E28">The departure of this trip is in less than 12 hours, if you need to change the driver and vehicle, you have to contact Driver chat.</span>-->
<!--        </div>-->
<!--      </div>-->
      <div class="main__block-row">
        <div v-if="getUser.role_id !== 5" class="verification-select main__block-row-item" style="width: 48.5%">
          <div class="city form__btn_select select select__touch" ref="select">
            <label for="drivers">Assigned driver</label>
            <div class="select__touch input__select" id="drivers">
              <button @click="toggleSelect('driver', 'focus', driverName, drivers, 'filteredDrivers', 'driver')" class="select__touch button-select">
                <template v-if="driverName.length">{{ driverName }}</template>
                <template v-else><img style="position: relative" src="../../../static/images/offer-driver.svg" alt="driver"><span class="select__touch">Select driver</span></template>
              </button>
              <img class="select__arrow select__touch" src="../../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="cities select__options select__touch" v-if="selects.driver">
                <ul class="city__list select__options_list select__touch">
                  <template v-if="drivers.length">
                      <li @click="changeSelect('driver', driver, 'driver', undefined, 'driverName')" class="city__item select__options_item select__touch" v-for="driver in drivers" :key="driver">{{ driver.first_name + ' ' + driver.last_name }}</li>
                  </template>
                  <template v-else>
                    <span>Not found</span>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
          <div v-if="errors.driver.length" class="error">
            <span>{{ errors.driver[0] }}</span>
          </div>
        </div>
        <div class="verification-select main__block-row-item" style="width: 48.5%">
          <div class="city form__btn_select select select__touch" ref="select">
            <label for="vehicles">Assigned vehicle</label>
            <div class="select__touch input__select" id="vehicles">
              <button @click="toggleSelect('vehicle', 'focus', vehicleName, vehicles, 'filteredVehicles', 'vehicle')" class="select__touch button-select">
                <template v-if="vehicleName.length">{{ vehicleName }}</template>
                <template v-else><img style="position: relative" src="../../../static/images/offer-vehicle.svg" alt="driver"><span class="select__touch">Select vehicle</span></template>
              </button>
              <img class="select__arrow select__touch" src="../../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="cities select__options select__touch" v-if="selects.vehicle">
                <ul class="city__list select__options_list select__touch">
                  <template v-if="filteredVehicles.length || vehicleName.length > 0">
                    <template v-if="filteredVehicles.length">
                      <li @click="changeSelect('vehicle', vehicle, 'vehicle', undefined, 'vehicleName')" class="city__item select__options_item select__touch" v-for="vehicle in vehicles" :key="vehicle">{{ vehicle.licence }}</li>
                    </template>
                    <template v-else>
                      <span>Not found</span>
                    </template>
                  </template>
                  <template v-else>
                    <li @click="changeSelect('vehicle', vehicle, 'vehicle', undefined, 'vehicleName')" class="city__item select__options_item select__touch" v-for="vehicle in vehicles" :key="vehicle">{{ vehicle.licence }}</li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
          <div v-if="errors.vehicle.length" class="error">
            <span>{{ errors.vehicle[0] }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
import { api as axios } from '@/helpers/axios';
import normalizeDate from "../../../mixins/normalizeDate.js";
import toggleSelects from "../../../mixins/toggleSelects.js";
import {mapGetters} from "vuex";
import calculatePrice from "../../../mixins/calculatePrice.js";

export default {
  name: "planned-ride",
  mixins: [normalizeDate, toggleSelects, calculatePrice],
  computed: {
    ...mapGetters(['getUser']),
  },
  data() {
    return {
      info: {
        children: false,
      },
      currentRide: {},
      selects: {
        driver: false,
        vehicle: false,
      },
      driver: {},
      vehicle: {},
      driverName: '',
      vehicleName: '',
      filteredDrivers: [],
      filteredVehicles: [],
      drivers: [],
      vehicles: [],
      showPhone: false,
      errors: {
        driver: [],
        vehicle: [],
      }
    }
  },
  methods: {
    getBooking() {
      axios.post(process.env.VUE_APP_API_DOMAIN + 'bookings/get', {id: this.$route.params.id}).then( resp => {
        this.currentRide = resp.data
        this.getVehicleAndDriver();
      })
    },
    getDrivers() {
      axios.post(process.env.VUE_APP_API_DOMAIN + 'drivers/all', {partner_id: this.getUser.id, state: 'Approved'}).then( resp => {
        this.drivers = resp.data
      })
    },
    getVehicles() {
      axios.post(process.env.VUE_APP_API_DOMAIN + 'vehicles/all', {user_id: this.getUser.id, state: 'Approved'}).then( resp => {
        this.vehicles = resp.data
      })
    },
    declineRide() {
      this.$store.commit('CHANGE_STATUS_LOAD', true)
      axios.post(`${process.env.VUE_APP_API_DOMAIN}bookings/update-status`, {id: this.currentRide.id, user_id: this.getUser.id, status: 'pending'}).then( resp => {
        if (resp.data.status){
          this.$store.commit('CHANGE_STATUS_LOAD', false);
          this.$router.push('/bookings/offers');
        }
      })
    },
    updateVehicleAndDriver() {
      axios.post(`${process.env.VUE_APP_API_DOMAIN}bookings/update-route-order`, {id: this.currentRide.id, vehicle_id: this.vehicle.id, driver: this.driver})
    },
    getVehicleAndDriver() {
      if (this.currentRide.driver !== null){
        this.driver = this.currentRide.driver
      }
      if (this.currentRide.vehicle !== null){
        this.vehicle = this.currentRide.vehicle
      }
    },
  },
  created() {
    this.getBooking();
    this.getDrivers();
    this.getVehicles();
  },
  watch: {
    'driver.first_name'(newValue) {
      if (newValue.length) {
        this.driverName = this.driver.first_name + ' ' + this.driver.last_name;
      }
    },
    'vehicle.licence'(newValue) {
      if (newValue.length) {
        this.vehicleName = newValue;
      }
    }
  }
}
</script>

<style scoped lang="scss">
.ride__header{
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.decline{
  background: #F8F8F8;
  border: 1px solid #1969A9;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 104px;
  height: 25px;
  span{
    font-size: 14px;
    text-align: center;
    color: #1969A9;
  }
}
.main__block{
  padding-bottom: 160px !important;
}
.select__touch.button-select{
  font-size: 16px;
}
.decline:hover{
  background: #1969A9;
  border: 1px solid #F8F8F8;
  span{
    color: #F8F8F8;
  }
}
.ride__item_title{
  margin-bottom: 2px;
}
.left{
  width: 50%;
}
.right{
  width: 30%;
}
.passengers__info{
  &_top{
    display: flex;
    & > div{
      width: 33.333%;
    }
  }
  &_bottom{
    display: flex;
    & > div{
      width: 16.6%;
    }
  }
}
.children{
  position: relative;
  &.ride__item_data > span{
    display: flex;
    align-items: center;
    line-height: 20px;
    img{
      margin-left: 6px;
    }
  }
  &__info{
    height: 107px;
    width: 147px;
    background: #F8F8F8;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
    position: absolute;
    top: 44px;
    left: 0;
    padding: 11px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    span{
      font-size: 12px;
      color: #1969A9;
    }
    & > div {
      display: flex;
      align-items: center;
      .child__count{
        margin-right: 6px;
      }
      img{
        width: 20px;
        margin-right: 10px;
      }
    }
  }
}
.main__block-row-item{
  margin-right: 0 !important;
}
.main__block-row{
  display: flex;
  flex-wrap: wrap;
}
.phone__warning{
  position: absolute;
  width: 200px;
  font-size: 10px;
  color: #E7564F;
  margin-top: 10px;
  span{
    position: absolute;
    left: -8px;
    font-size: 16px;
    color: rgba(231, 86, 79, 0.9);
    transform: matrix(-1, 0, 0, 1, 0, 0);
  }
}
.ride__info{
  display: flex;
  margin-bottom: 10px;
  &_left{
    margin-right: 20px;
  }
}

.main__block-row-notice {
  width: 100%;
  display: flex;
  align-items: center;
  font-family: Inter;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: 15px;
  letter-spacing: -0.2px;
  padding: 8px 0;
  img {
    margin-right: 8px;
  }
}
.main__block{
  max-height: calc(100vh - 248px);
  overflow-y: auto;
}
.button-select{
  display: flex;
  align-items: center;
  justify-content: start;
  background: none;
  img{
    margin-right: 8px;
  }
  span{
    color: #79767C;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }
}
@media (max-width: 1200px) {
  .main__block-row{
    display: flex;
    flex-direction: column;
  }
  .main__block{
    max-height: none;
    overflow: visible;
    padding: 0 20px;
  }
  .main__block-row-item{
    margin-right: 0 !important;
    width: 100% !important;
    max-width: none !important;
  }
  .not-mobile{
    display: none !important;
  }
}

</style>
