<template>
  <div class="wrapper__small">
    <router-link to="/drivers" class="back"><img src="../../static/images/back-arrow.svg" alt="arrow"> &nbsp; Back to
      drivers
    </router-link>
    <div class="main__block modal-padding">
      <div class="main__block-row mobile-header sticky-header">
        <div class="main__block-row-item">
          <span class="main__block-title">New driver</span>
        </div>
        <div class="main__block-row-item" style="display: flex;justify-content: flex-end;">
          <button @click="$router.push({name: 'drivers'})" type="button" class="btn-close">
            <img src="../../static/images/close.svg" alt="cancel">
          </button>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item">
<!--          <label style="margin-bottom: 24px">-->
<!--            <span>Permissions</span>-->
<!--            <input :class="{ 'input-error': errors.permissions.length }" type="text" placeholder="Select permissions*"-->
<!--                   v-model="permissions">-->
<!--            <div v-if="errors.permissions.length" class="error">-->
<!--              <span>{{ errors.permissions[0] }}</span>-->
<!--            </div>-->
<!--          </label>-->
          <label>
            <span>First name</span>
            <input :class="{ 'input-error': errors.firstName.length }" type="text" placeholder="Enter first name*"
                   v-model="firstName">
            <div v-if="errors.firstName.length" class="error">
              <span>{{ errors.firstName[0] }}</span>
            </div>
          </label>
        </div>
        <div class="main__block-row-item">
          <div class="avatar">
            <div class="image" :class="{ 'no__image': imgURL.length === 0 }" :style="{ backgroundImage: imgURL }"></div>
            <div class="btn-upload">
              <input type="file" id="avatar" accept="image/png, image/jpeg" style="display: none" @change="uploadFile($event, 'photo')"/>
              <label for="avatar">+ ADD PHOTO</label>
            </div>
          </div>
          <div v-if="errors.photo.length" class="error center" style="padding-top: 20px">
            <span>{{ errors.photo[0] }}</span>
          </div>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item">
          <label>
            <span>Last name</span>
            <input :class="{ 'input-error': errors.lastName.length }" type="text" placeholder="Enter last name*"
                   v-model="lastName">
            <div v-if="errors.lastName.length" class="error">
              <span>{{ errors.lastName[0] }}</span>
            </div>
          </label>
        </div>
        <div class="main__block-row-item">
          <label>
            <span>Email</span>
            <input :class="{ 'input-error': errors.email.length }" type="text" placeholder="Enter email*"
                   v-model="email">
            <div v-if="errors.email.length" class="error">
              <span>{{ errors.email[0] }}</span>
            </div>
          </label>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item">
          <label>
            <span>Phone number</span>
            <vue-tel-input :class="{ 'input-error': errors.phone.length }" class="phone__input_iti" @input="inputPhone"
                           :value="phone" mode="international"></vue-tel-input>
            <div v-if="errors.phone.length" class="error">
              <span>{{ errors.phone[0] }}</span>
            </div>
          </label>
        </div>
        <div class="main__block-row-item">
          <label>
            <span>WhatsAPP number</span>
            <input :class="{ 'input-error': errors.whatsapp.length }" type="text" placeholder="Enter WhatsAPP number*"
                   v-model="whatsapp">
            <div v-if="errors.whatsapp.length" class="error">
              <span>{{ errors.whatsapp[0] }}</span>
            </div>
          </label>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item">
          <span style="color: #4A69E2">Address</span>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item">
          <label for="country">Country</label>
          <div class="select__touch input__select" id="country">
            <input @blur="blurSelect('countryName', country)"
                   @focus="toggleSelect('country', 'focus', countryName, countries, 'filteredCountries', 'country')"
                   @input="toggleSelect('country', 'input', countryName, countries, 'filteredCountries', 'country')"
                   v-model="countryName"
                   placeholder="Enter country*"
                   :class="{ 'input-error': errors.country.length, 'input-valid': country.name !== undefined && errors.country.length === 0 && country.name.length > 0}"
                   class="select__touch" type="text">
            <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
          </div>
          <transition name="anime-select">
            <div class="countries select__options select__touch" v-if="selects.country">
              <ul class="country__list select__options_list select__touch">
                <template v-if="filteredCountries.length">
                  <li @click="changeSelect('country', country, 'country')"
                      class="country__item select__options_item select__touch" v-for="country in filteredCountries"
                      :key="country">{{ country.name }}
                  </li>
                </template>
                <template v-else>
                  <li @click="changeSelect('country', country, 'country')"
                      class="country__item select__options_item select__touch" v-for="country in countries"
                      :key="country">{{ country.name }}
                  </li>
                </template>
              </ul>
            </div>
          </transition>
          <div v-if="errors.country.length" class="error">
            <span>{{ errors.country[0] }}</span>
          </div>
        </div>
        <div class="main__block-row-item">
          <label for="city">City</label>
          <div class="select__touch input__select" id="city">
            <input @blur="blurSelect('cityName', city)"
                   @focus="toggleSelect('city', 'focus', cityName, cities, 'filteredCities', 'city')"
                   @input="toggleSelect('city', 'input', cityName, cities, 'filteredCities', 'city')"
                   v-model="cityName"
                   placeholder="Enter city*"
                   :class="{ 'input-error': errors.city.length, 'input-valid': city.name !== undefined && errors.city.length === 0 && city.name.length > 0}"
                   class="select__touch" type="text"
                   :disabled="!Object.keys(country).length">
            <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
          </div>
          <transition name="anime-select">
            <div class="cities select__options select__touch" v-if="selects.city">
              <div v-if="isLoadingCities" class="loader"></div>
              <ul v-else class="city__list select__options_list select__touch">
                <template v-if="filteredCities.length || cityName.length > 0">
                  <template v-if="filteredCities.length">
                    <li @click="changeSelect('city', city, 'city', undefined, 'cityName')"
                        class="city__item select__options_item select__touch" v-for="city in filteredCities"
                        :key="city">{{ city.name }}
                    </li>
                  </template>
                  <template v-else>
                    <span>Not found</span>
                  </template>
                </template>
                <template v-else>
                  <li @click="changeSelect('city', city, 'city', undefined, 'cityName')"
                      class="city__item select__options_item select__touch" v-for="city in cities" :key="city">
                    {{ city.name }}
                  </li>
                </template>
              </ul>
            </div>
          </transition>
          <div v-if="errors.city.length" class="error">
            <span>{{ errors.city[0] }}</span>
          </div>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item">
          <span>Documentation</span>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item">
          <label>
            <span>`Person`al ID</span>
            <label :class="{ 'input-error': errors.personalId.length }" class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg"
                     @change="uploadFile($event, 'personalId')">
              <span class="upload__file_active" v-if="upload.personalId.name !== undefined"><img
                  src="../../static/images/download.svg" alt="upload">Download</span>
              <span v-else><img src="../../static/images/upload-file.svg" alt="upload">Upload new</span>
            </label>
            <div v-if="errors.personalId.length" class="error">
              <span>{{ errors.personalId[0] }}</span>
            </div>
          </label>
        </div>
        <div class="main__block-row-item">
          <label>
            <span>Personal drivers licence</span>
            <label :class="{ 'input-error': errors.driversLicence.length }" class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg"
                     @change="uploadFile($event, 'driversLicence')">
              <span class="upload__file_active" v-if="upload.driversLicence.name !== undefined"><img
                  src="../../static/images/download.svg" alt="upload">Download</span>
              <span v-else><img src="../../static/images/upload-file.svg" alt="upload">Upload new</span>
            </label>
            <div v-if="errors.driversLicence.length" class="error">
              <span>{{ errors.driversLicence[0] }}</span>
            </div>
          </label>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item">
          <label>
            <span>Background criminal check</span>
            <label :class="{ 'input-error': errors.criminalCheck.length }" class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg"
                     @change="uploadFile($event, 'criminalCheck')">
              <span class="upload__file_active" v-if="upload.criminalCheck.name !== undefined"><img
                  src="../../static/images/download.svg" alt="upload">Download</span>
              <span v-else><img src="../../static/images/upload-file.svg" alt="upload">Upload new</span>
            </label>
            <div v-if="errors.criminalCheck.length" class="error">
              <span>{{ errors.criminalCheck[0] }}</span>
            </div>
          </label>
        </div>
        <div class="main__block-row-item">
          <label>
            <span>Other</span>
            <label class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg"
                     @change="uploadFile($event, 'other')">
              <span class="upload__file_active" v-if="upload.other.name !== undefined"><img
                  src="../../static/images/download.svg" alt="upload">Download</span>
              <span v-else><img src="../../static/images/upload-file.svg" alt="upload">Upload new</span>
            </label>
          </label>
        </div>
      </div>
      <hr class="main__block-hr"/>
      <div class="main__block-buttons sticky-footer">
        <button class="main__block-buttons-item cancel" @click="$router.push({name: 'drivers'})" type="button">Cancel
        </button>
        <button class="main__block-buttons-item create" :class="errorAdd ? 'gray-btn' : ''" @click="addDriver()"
                type="button">Create
        </button>
      </div>
    </div>
  </div>
</template>

<script>
import { api as axios } from '@/helpers/axios';
import toggleSelects from "../../mixins/toggleSelects.js";
import validations from "../../mixins/validations.js";
import uploadFile from "../../mixins/uploadFile.js";
import {mapGetters} from "vuex";
import {VueTelInput} from 'vue3-tel-input';
import 'vue3-tel-input/dist/vue3-tel-input.css';

export default {
  name: "drivers-item",
  mixins: [toggleSelects, validations, uploadFile],
  props: ['countries'],
  computed: {
    ...mapGetters(['getUser', 'getStatusEdit'])
  },
  components: {
    VueTelInput
  },
  data() {
    return {
      cities: [],
      isLoadingCities: false,
      status: 'view',
      upload: {
        personalId: {},
        driversLicence: {},
        criminalCheck: {},
        photo: {},
        other: {},
      },
      imgURL: '',
      selects: {
        country: false,
        city: false,
      },
      firstName: '',
      lastName: '',
      phone: '',
      whatsapp: '',
      email: '',
      permissions: '',
      country: {},
      city: {},
      formData: '',
      filteredCountries: [],
      filteredCities: [],
      countryName: '',
      cityName: '',
      initialData: {},
      errorAdd: false,
      errors: {
        firstName: [],
        lastName: [],
        phone: [],
        email: [],
        country: [],
        city: [],
        personalId: [],
        driversLicence: [],
        criminalCheck: [],
        photo: [],
        permissions: [],
        other: [],
        whatsapp: [],
      },
    }
  },
  methods: {
    getCities(dataCountry) {
      this.isLoadingCities = true;
      axios.post(`${process.env.VUE_APP_API_DOMAIN}profile/cities`, {countryId: dataCountry.countryId}).then(resp => {
        this.cities = resp.data;
        this.isLoadingCities = false;
      })
    },
    getDriver() {
      axios.post(`${process.env.VUE_APP_API_DOMAIN}drivers/get`, {id: this.$route.params.id}).then(resp => {
        this.firstName = resp.data.first_name;
        this.lastName = resp.data.last_name;
        this.country = resp.data.country;
        this.city = resp.data.city;
        this.email = resp.data.email;
        this.phone = resp.data.phone;
        this.upload.personalId.name = resp.data.personal;
        this.upload.driversLicence.name = resp.data['licence'];
        this.upload.criminalCheck.name = resp.data['criminal_check'];
        this.upload.photo = {name: resp.data['photo']};
        this.imgURL = 'url("https://api.drivermytripline.com/storage/drivers/' + resp.data.id + '/' + this.upload.photo.name + '"';
        this.initialData = resp.data
      })
    },
    inputPhone(phone, phoneObject) {
      this.errors.phone = [];
      if (phoneObject !== undefined) {
        this.phone = phoneObject.formatted
        if (!phoneObject.valid) {
          this.errors.phone.push('Not valid phone')
        }
      }
    },
    checkUpdate() {
      return this.country === this.initialData.country &&
          this.city === this.initialData.city &&
          this.email === this.initialData.email &&
          this.phone === this.initialData.phone &&
          this.upload.personalId.name === this.initialData.personal &&
          this.upload.driversLicence.name === this.initialData['licence'] &&
          this.upload.criminalCheck.name === this.initialData['criminal_check'] &&
          this.upload.photo.name === this.initialData['photo'] &&
          this.imgURL === 'url("https://api.drivermytripline.com/storage/drivers/' + this.initialData.id + '/' + this.upload.photo.name + '"'
    },
    updateDriver() {
      this.validationDriver();
      if (!this.checkErrors() && !this.checkUpdate()) {
        this.$store.commit('CHANGE_STATUS_LOAD', true);
        this.setDriver('update');
        axios.post(`${process.env.VUE_APP_API_DOMAIN}drivers/update`, this.formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })
            .then(resp => {
              if (resp.data.status) {
                this.$store.commit('CHANGE_STATUS_LOAD', false);
                this.$store.commit('CHANGE_EDIT', false)
              }
            })
      } else if (this.checkUpdate()) {
        this.$store.commit('CHANGE_EDIT', false);
      }
    },
    removeDriver() {
      this.$store.commit('CHANGE_STATUS_LOAD', true);
      axios.post(`${process.env.VUE_APP_API_DOMAIN}drivers/remove`, {id: this.$route.params.id}).then(resp => {
        if (resp.data.status) {
          this.$store.commit('CHANGE_STATUS_LOAD', false);
          this.$router.push('/drivers');
        }
      })
    },
    validationDriver() {
      this.updateErrors();
      this.validation(this.firstName, 'firstName', ['require', 'english']);
      this.validation(this.lastName, 'lastName', ['require', 'english']);
      this.validation(this.phone, 'phone', ['require', 'numbers']);
      this.validation(this.email, 'email', ['require', 'email']);
      this.validation(this.country.name, 'country', ['require']);
      if (this.country.name !== undefined) {
        this.validation(this.city.name, 'city', ['require']);
      }
      this.validation(this.upload.personalId.name, 'personalId', ['require']);
      this.validation(this.upload.driversLicence.name, 'driversLicence', ['require']);
      this.validation(this.upload.criminalCheck.name, 'criminalCheck', ['require']);
      this.validation(this.upload.photo.name, 'photo', ['require']);
      // this.validation(this.permissions, 'permissions', ['require']);
      this.validation(this.whatsapp, 'whatsapp', ['require']);
    },
    setDriver(type) {
      let driverInputs = {
        'first_name': this.firstName,
        'last_name': this.lastName,
        'country_id': this.country.id,
        'city_id': this.city.id,
        'phone': this.phone,
        'email': this.email,
      }
      let formData = new FormData();
      formData.append('driver', JSON.stringify(driverInputs));
      formData.append('passport', this.upload.personalId);
      formData.append('driverLicence', this.upload.driversLicence);
      formData.append('criminalCheck', this.upload.criminalCheck);
      formData.append('photo', this.upload.photo);
      if (type === 'add') {
        formData.append('partner_id', this.getUser.id);
      } else {
        formData.append('id', this.$route.params.id);
      }
      this.formData = formData
    },
    async addDriver() {
      this.validationDriver();
      if (!this.checkErrors()) {
        this.$store.commit('CHANGE_STATUS_LOAD', true);
        this.setDriver('add');
        const { data } = await axios.post(`${process.env.VUE_APP_MYTRIPLINE_API_DOMAIN}/partners/add`, {
          partner: {
            roleId: 5,
            firstName: this.firstName,
            lastName: this.lastName,
            city: this.city.name,
            country: this.country.name,
            phone: this.phone,
            email: this.email,
            englishLvl: 'Intermediate',
            partner_id: this.getUser.id,
          }
        })
        await axios.post(`${process.env.VUE_APP_API_DOMAIN}drivers/update?id=${data.driver.id}&user_id=${data.user.id}`, this.formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })
        await axios.post(`${process.env.VUE_APP_API_DOMAIN}profile/update?id=${data.profile.id}&user_id=${data.user.id}`, this.formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })

        this.$store.commit('CHANGE_STATUS_LOAD', false);
        this.$router.push('/drivers');
      }
    }
  },
  created() {
    if (this.$route.name === 'driver') {
      this.getDriver();
    }
  },
  watch: {
    errors: {
      handler() {
        this.errorAdd = this.checkErrors()
      },
      deep: true
    },
    country(newValue) {
      if (newValue.name !== undefined) {
        this.countryName = newValue.name
      }
      if (this.city.name === undefined) {
        this.cityName = ''
      }
    },
    city(newValue) {
      if (newValue.name !== undefined) {
        this.cityName = newValue.name
      }
    },
  }
}
</script>

<style scoped lang="scss">
.gray-btn {
  background: #585858;
}

form {
  width: 100%;
  display: flex;
  justify-content: space-between;

  & > div {
    width: 26%;
  }
}

.main__block {
  //height: calc(100vh - 242px);
  overflow-y: auto;
}

.driver__info {
  width: 68%;
}

.driver__photo {
  width: 30%;
}

.main__block-row-item {
  margin-right: 32px;
  position: relative;
}

.avatar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .image {
    width: 136px;
    height: 136px;
    border-radius: 50%;
    overflow: hidden;
    margin-bottom: 20px;
    background-position: center;
    background-size: 100%
  }
}

.btn-upload {
  label {
    border-radius: 8px;
    border: 1px solid var(--dark-gray, #232321);
    padding: 8px 16px;
  }
}

.no__image {
  background: url("../../static/images/empty-avatar.svg");
}

@media (max-width: 1200px) {
  .main__block-row {
    width: 100%;
    flex-direction: column;
  }
  .main__block {
    height: auto;
    overflow: visible;
    padding: 0 20px;
  }
  .main__block-row-item {
    margin-right: 0;
    width: 100%;
  }
  .mobile-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;

    & > div:first-child {
      width: 140px;
    }

    & > div:last-child {
      width: 32px;
    }
  }
}
</style>
