<template>
  <router-link to="/drivers" class="back"><img src="../../static/images/back-arrow.svg" alt="arrow"> &nbsp; Back to drivers</router-link>
  <div class="main__block">
    <div class="main__block-row sticky-header">
      <div class="main__block-row-item">
        <span class="main__block-title">Driver</span>
      </div>
      <div class="main__block-row-item" style="display: flex; justify-content: flex-end; margin-right: 0">
        <div class="edit__block-status">
          <img v-if="state === 'Approved'" src="../../static/images/success-small.svg" alt="success-small">
          <img v-if="state === 'Pending time'" src="../../static/images/pending.svg" alt="success-small">
          <span style="padding-left: 10px;color: #008B28;text-align: center;font-size: 14px;font-weight: 400;line-height: 20px;"
                :class="{ 'warning-color': state === 'Pending time' }"
          >
            {{ state }}
          </span>
        </div>
        <button @click="isEdit = !isEdit" type="button" class="btn-black">
          <img src="../../static/images/edit.svg" alt="edit">
          <span>EDIT</span>
        </button>
      </div>
    </div>
    <div class="driver__inner">
      <div class="driver__photo mobile-content">
        <label class="upload__file" style="height: 0">
          <input id="photo"
                 type="file"
                 name="file"
                 accept="image/png, image/jpeg"
                 :disabled="!isEdit"
                 @change="uploadFile($event, 'photo')">
        </label>
        <label for="photo" class="photo" :class="{ 'no__image': upload.photo.length === 0 && imgURL.length === 0 }" :style='{ backgroundImage: imgURL }' style="margin-top: 0">
          <span v-if="upload.photo.name === undefined">Photo<img src="../../static/images/information.svg" alt="information"></span>
        </label>
        <div class="photo__error">
          <div v-if="errors.photo.length" class="error">
            <span>{{ errors.photo[0] }}</span>
          </div>
        </div>
      </div>
      <div class="driver__info">
        <div class="main__block-row">
          <div class="main__block-row-item">
            <label>
              <span>Permissions</span>
              <input type="text" value="Driver" disabled>
            </label>
          </div>
          <div class="main__block-row-item">
            <label>
              <span>Status</span>
              <input type="text" :value="state" disabled>
            </label>
          </div>
        </div>
        <div class="main__block-row">
          <div class="main__block-row-item">
            <label>
              <span>First name</span>
              <input type="text" v-model="firstName" :disabled="!isEdit">
            </label>
          </div>
          <div class="main__block-row-item">
            <label>
              <span>Last name</span>
              <input type="text" v-model="lastName" :disabled="!isEdit">
            </label>
          </div>
        </div>
        <div class="main__block-row">
          <div class="main__block-row-item">
            <label>
              <span>Phone number</span>
              <vue-tel-input class="phone__input_iti" style="z-index: 10002" @input="inputPhone" :value="phone" mode="international" :disabled="!isEdit"></vue-tel-input>
            </label>
          </div>
          <div class="main__block-row-item">
            <label>
              <span>Email</span>
              <input type="text" v-model="email" :disabled="!isEdit">
            </label>
          </div>
        </div>
        <div class="main__block-row big-padding">
          <div class="main__block-row-item">
            <span style="color: #4A69E2">Address</span>
          </div>
        </div>
        <div class="main__block-row">
          <div class="main__block-row-item">
            <label for="country">Country</label>
            <div class="select__touch input__select" id="country">
              <input @blur="blurSelect('countryName', country)"
                     @focus="toggleSelect('country', 'focus', countryName, countries, 'filteredCountries', 'country')"
                     @input="toggleSelect('country', 'input', countryName, countries, 'filteredCountries', 'country')"
                     v-model="countryName"
                     placeholder="Enter country*"
                     :disabled="!isEdit"
                     :class="{ 'input-error': errors.country?.length, 'input-valid': country?.name !== undefined && errors.country?.length === 0 && country.name?.length > 0}"
                     class="select__touch" type="text">
              <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="countries select__options select__touch" v-if="selects.country">
                <ul class="country__list select__options_list select__touch">
                  <template v-if="filteredCountries.length">
                    <li @click="changeSelect('country', country, 'country')" class="country__item select__options_item select__touch" v-for="country in filteredCountries" :key="country">{{country.name}}</li></template>
                  <template v-else>
                    <li @click="changeSelect('country', country, 'country')" class="country__item select__options_item select__touch" v-for="country in countries" :key="country">{{country.name}}</li></template>
                </ul>
              </div>
            </transition>
          </div>
          <div class="main__block-row-item">
            <label for="city">City</label>
            <div class="select__touch input__select" id="city">
              <input @blur="blurSelect('cityName', city)"
                     @focus="toggleSelect('city', 'focus', cityName, cities, 'filteredCities', 'city')"
                     @input="toggleSelect('city', 'input', cityName, cities, 'filteredCities', 'city')"
                     v-model="cityName"
                     placeholder="Enter city*"
                     :class="{ 'input-error': errors.city?.length, 'input-valid': city?.name !== undefined && errors.city?.length === 0 && city.name?.length > 0}"
                     class="select__touch" type="text"
                     :disabled="!Object.keys(country || {}).length || !isEdit">
              <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="cities select__options select__touch" v-if="selects.city">
                <div v-if="isLoadingCities" class="loader"></div>
                <ul v-else class="city__list select__options_list select__touch">
                  <template v-if="filteredCities.length || cityName.length > 0">
                    <template v-if="filteredCities.length">
                      <li @click="changeSelect('city', city, 'city', undefined, 'cityName')" class="city__item select__options_item select__touch" v-for="city in filteredCities" :key="city">{{ city.name }}</li>
                    </template>
                    <template v-else>
                      <span>Not found</span>
                    </template>
                  </template>
                  <template v-else>
                    <li @click="changeSelect('city', city, 'city', undefined, 'cityName')" class="city__item select__options_item select__touch" v-for="city in cities" :key="city">{{ city.name }}</li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
        </div>
        <div class="main__block-row big-padding">
          <div class="main__block-row-item">
            <span style="color: #4A69E2">Documentation</span>
          </div>
        </div>
        <div class="main__block-row">
          <div class="main__block-row-item">
            <label>
              <span>Personal ID</span>
              <template v-if="upload.personalId.name !== null && !isEdit || isFile(upload.personalId)">
                <a target="_blank" :href="getPersonalIdLink" class="upload__file">
                  <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'personalId')">
                  <span class="upload__file_active">
                 <img src="../../static/images/download.svg" alt="upload">Download
                </span>
                </a>
              </template>
              <template v-else>
                <label class="upload__file">
                  <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'personalId')">
                  <span>
                  <img src="../../static/images/upload-file.svg" alt="upload">Upload new
                </span>
                </label>
              </template>
            </label>
          </div>
          <div class="main__block-row-item">
            <label>
              <span>Personal drivers licence</span>
              <template v-if="upload.driversLicence.name !== null && !isEdit || isFile(upload.driversLicence)">
                <a target="_blank" :href="getDriversLicenceLink" class="upload__file">
                  <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'driversLicence')">
                  <span class="upload__file_active">
                 <img src="../../static/images/download.svg" alt="upload">Download
                </span>
                </a>
              </template>
              <template v-else>
                <label class="upload__file">
                  <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'driversLicence')">
                  <span>
                  <img src="../../static/images/upload-file.svg" alt="upload">Upload new
                </span>
                </label>
              </template>
            </label>
          </div>
        </div>
        <div class="main__block-row">
          <div class="main__block-row-item">
            <label>
              <span>Background criminal check</span>
              <template v-if="upload.criminalCheck.name !== null && !isEdit || isFile(upload.criminalCheck)">
                <a target="_blank" :href="getCriminalCheckLink" class="upload__file">
                  <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'criminalCheck')">
                  <span class="upload__file_active">
                 <img src="../../static/images/download.svg" alt="upload">Download
                </span>
                </a>
              </template>
              <template v-else>
                <label class="upload__file">
                  <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'criminalCheck')">
                  <span>
                  <img src="../../static/images/upload-file.svg" alt="upload">Upload new
                </span>
                </label>
              </template>
            </label>
          </div>
          <div class="main__block-row-item">
            <label>
              <span>Other</span>
              <label class="upload__file">
                <input type="file"
                       name="file"
                       accept="image/png, application/pdf, image/jpeg"
                       :disabled="!isEdit"
                       @change="uploadFile($event, 'other')"
                >
                <span class="upload__file_active" v-if="upload.other.length && upload.other.name !== null && !isEdit || isFile(upload.other)"><img src="../../static/images/download.svg" alt="upload">Download</span>
                <span v-else><img src="../../static/images/upload-file.svg" alt="upload">Upload new</span>
              </label>
            </label>
          </div>
        </div>
      </div>
      <div class="driver__photo desk-content">
        <label class="upload__file" style="height: 0">
          <input id="photo"
                 type="file"
                 name="file"
                 accept="image/png, image/jpeg"
                 :disabled="!isEdit"
                 @change="uploadFile($event, 'photo')">
        </label>
        <label for="photo" class="photo" :class="{ 'no__image': upload.photo.length === 0 && imgURL.length === 0 }" :style='{ backgroundImage: imgURL }' style="margin-top: 0">
          <span v-if="upload.photo.name === undefined">Photo<img src="../../static/images/information.svg" alt="information"></span>
        </label>
        <div class="photo__error">
          <div v-if="errors.photo.length" class="error">
            <span>{{ errors.photo[0] }}</span>
          </div>
        </div>
      </div>
    </div>
    <template v-if="isEdit">
      <hr class="main__block-hr" />
      <div class="main__block-buttons sticky-footer">
        <button class="main__block-buttons-item cancel" @click="cancelEdit()" type="button">Cancel</button>
        <button class="main__block-buttons-item create" @click="updateDriver()" type="button">Edit</button>
      </div>
    </template>
    <div v-else style="height: 32px;width: 100%"></div>
  </div>
  <v-notification
      :is-show="notification.isShow"
      :type="notification.type"
      @closeNotification="notification.isShow = false"
  />
</template>

<script>
import { api as axios } from '@/helpers/axios';
import toggleSelects from "../../mixins/toggleSelects.js";
import validations from "../../mixins/validations.js";
import uploadFile from "../../mixins/uploadFile.js";
import {mapGetters} from "vuex";
import { VueTelInput } from 'vue3-tel-input';
import 'vue3-tel-input/dist/vue3-tel-input.css';
import VNotification from "../../components/popups/v-notification.vue";
import notification from "../../mixins/notification.js";

export default {
  name: "drivers-item",
  mixins: [toggleSelects, validations, uploadFile],
  props: ['countries'],
  computed: {
    ...mapGetters(['getUser', 'getStatusEdit']),
    getCriminalCheckLink () {
      return process.env.VUE_APP_IMG_LINK + 'drivers/' + this.$route.params.id + '/' + this.upload.criminalCheck.name
    },
    getDriversLicenceLink () {
      return process.env.VUE_APP_IMG_LINK + 'drivers/' + this.$route.params.id + '/' + this.upload.driversLicence.name
    },
    getPersonalIdLink () {
      return process.env.VUE_APP_IMG_LINK + 'drivers/' + this.$route.params.id + '/' + this.upload.personalId.name
    }
  },
  components: {
    VNotification,
    VueTelInput
  },
  data() {
    return {
      isEdit: false,
      cities: [],
      isLoadingCities: false,
      status: 'view',
      upload: {
        personalId: {},
        driversLicence: {},
        criminalCheck: {},
        photo: {},
        other: {},
      },
      imgURL: '',
      selects: {
        country: false,
        city: false,
      },
      firstName: '',
      lastName: '',
      phone: '',
      email: '',
      permissions: '',
      country: {},
      city: {},
      formData: '',
      filteredCountries: [],
      filteredCities: [],
      countryName: '',
      cityName: '',
      initialData: {},
      state: '',
      errors: {
        firstName: [],
        lastName: [],
        phone: [],
        email: [],
        country: [],
        city: [],
        personalId: [],
        driversLicence: [],
        criminalCheck: [],
        photo: [],
        permissions: [],
        other: [],
      },
      notification: {
        type: '',
        isShow: false
      }
    }
  },
  methods: {
    isFile(x) {
      return x instanceof File
    },
    getCities(dataCountry) {
      this.isLoadingCities = true;
      axios.post(`${process.env.VUE_APP_API_DOMAIN}profile/cities`, {countryId: dataCountry.countryId}).then( resp => {
        this.cities = resp.data;
        this.isLoadingCities = false;
      })
    },
    getDriver() {
      axios.post(`${process.env.VUE_APP_API_DOMAIN}drivers/get`, {id: this.$route.params.id}).then( resp => {
        this.firstName = resp.data.first_name;
        this.lastName = resp.data.last_name;
        this.country = resp.data.country;
        this.city = resp.data.city;
        this.email = resp.data.email;
        this.phone = resp.data.phone;
        this.upload.personalId.name = resp.data.personal;
        this.upload.driversLicence.name = resp.data['licence'];
        this.upload.criminalCheck.name = resp.data['criminal_check'];
        this.upload.other.name = resp.data.other;
        this.upload.photo = {name: resp.data['photo']};
        this.imgURL = 'url("' + process.env.VUE_APP_IMG_LINK + 'drivers/' + resp.data.id + '/' + this.upload.photo.name + '"';
        this.initialData = resp.data;
        this.state = resp.data.state;
      })
    },
    inputPhone(phone, phoneObject) {
      this.errors.phone = [];
      if (phoneObject !== undefined){
        this.phone = phoneObject.formatted
        if (!phoneObject.valid){
          this.errors.phone.push('Not valid phone')
        }
      }
    },
    checkUpdate() {
      return this.firstName === this.initialData.first_name &&
      this.lastName === this.initialData.last_name &&
      this.country === this.initialData.country &&
      this.city === this.initialData.city &&
      this.email === this.initialData.email &&
      this.phone === this.initialData.phone &&
      this.upload.personalId.name === this.initialData.personal &&
      this.upload.driversLicence.name === this.initialData['licence'] &&
      this.upload.criminalCheck.name === this.initialData['criminal_check'] &&
      this.upload.photo.name === this.initialData['photo'] &&
      this.imgURL === 'url("https://api.drivermytripline.com/storage/drivers/' + this.initialData.id + '/' + this.upload.photo.name + '"'
    },
    updateDriver() {
      this.validationDriver();
      if (!this.checkErrors() && !this.checkUpdate()){
        this.notification.isShow = true;
        this.notification.type = 'save';
        notification.alert().then(resp => {
          this.notification.isShow = false;
          if (resp) {
            this.$store.commit('CHANGE_STATUS_LOAD', true);
            this.setDriver('update');
            axios.post(`${process.env.VUE_APP_API_DOMAIN}drivers/update`, this.formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              })
              .then( resp => {
                if (resp.data.status){
                  this.$store.commit('CHANGE_STATUS_LOAD', false);
                  this.$store.commit('CHANGE_EDIT', false);
                  this.notification.type = 'success';
                  this.notification.isShow = true;
                  this.isEdit = false;
                  // this.getDriver();
                  location.reload()
                }
              })
          }
        })
      } else if (this.checkUpdate()) {
        this.$store.commit('CHANGE_EDIT', false);
      }
    },
    removeDriver() {
      this.$store.commit('CHANGE_STATUS_LOAD', true);
      axios.post(`${process.env.VUE_APP_API_DOMAIN}drivers/remove`, {id: this.$route.params.id}).then(resp => {
        if (resp.data.status){
          this.$store.commit('CHANGE_STATUS_LOAD', false);
          this.$router.push('/drivers');
        }
      })
    },
    validationDriver() {
      console.log(this.upload)
      this.updateErrors();
      this.validation(this.firstName, 'firstName', ['require', 'english']);
      this.validation(this.lastName, 'lastName', ['require', 'english']);
      this.validation(this.phone, 'phone', ['require', 'numbers']);

      this.validation(this.email, 'email', ['require', 'email']);
      this.validation(this.country.name, 'country', ['require']);
      if (this.country.name !== undefined){
        this.validation(this.city.name, 'city', ['require']);
      }
      this.validation(this.upload.personalId.name, 'personalId', ['require']);
      this.validation(this.upload.driversLicence.name, 'driversLicence', ['require']);
      this.validation(this.upload.criminalCheck.name, 'criminalCheck', ['require']);
      this.validation(this.upload.photo.name, 'photo', ['require']);
    },
    setDriver(type) {
      let driverInputs = {
        'first_name' : this.firstName,
        'last_name' : this.lastName,
        'country_id' : this.country.id,
        'city_id' : this.city.id,
        'phone' : this.phone,
        'email' : this.email,
      }
      let formData = new FormData();
      formData.append('driver', JSON.stringify(driverInputs));
      formData.append('personal', this.upload.personalId);
      formData.append('licence', this.upload.driversLicence);
      formData.append('criminal_check', this.upload.criminalCheck);
      formData.append('photo', this.upload.photo);
      if (type === 'add'){
        formData.append('partner_id', this.getUser.id);
      } else {
        formData.append('id', this.$route.params.id);
      }
      this.formData = formData
    },
    addDriver() {
      this.validationDriver();
      if (!this.checkErrors()){
        this.$store.commit('CHANGE_STATUS_LOAD', true);
        this.setDriver('add');
        axios.post(`${process.env.VUE_APP_API_DOMAIN}drivers/add`, this.formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })
            .then( resp => {
              if (resp.data.status){
                this.$store.commit('CHANGE_STATUS_LOAD', false);
                this.$router.push('/drivers');
              }
            })
      }
    },
    cancelEdit() {
      this.notification.isShow = true;
      this.notification.type = 'cancel';
      notification.alert().then(resp => {
        if (resp) {
          this.isEdit = false;
          this.getDriver();
        }
        this.notification.isShow = false;
      })
    }
  },
  created() {
    if (this.$route.name === 'driver'){
      this.getDriver();
    }
  },
  watch: {
    country(newValue) {
      if (newValue?.name !== undefined) {
        this.countryName = newValue.name
      }
      if (this.city?.name === undefined) {
        this.cityName = ''
      }
    },
    city(newValue) {
      if (newValue?.name !== undefined) {
        this.cityName = newValue.name
      }
    },
  }
}
</script>

<style scoped lang="scss">
form{
  width: 100%;
  display: flex;
  justify-content: space-between;
  & > div{
    width: 26%;
  }
}
.driver__info {
  width: calc(100% - 274px);
}
.driver__photo {
  width: 274px;
}
.main__block-row-item {
  margin-right: 32px;
  position: relative;
}
.main__block{
  max-height: calc(100vh - 242px);
  overflow-y: auto;
}
.big-padding{
  padding: 20px 0 10px 0;
}
.edit__block-status{
  margin-right: 56px;
}
.driver__inner{
  width: 100%;
  display: flex;
}
@media (max-width: 1200px) {
  .main__block-row{
    width: 100%;
    flex-direction: column;
  }
  .main__block{
    height: auto;
    overflow: visible;
  }
  .driver__inner{
    flex-direction: column;
  }
  .driver__info{
    width: 100%;
  }
  .driver__photo{
    width: 100%;
  }
  .main__block{
    max-height: none;
    padding: 0 20px;
  }
  .main__block-row-item{
    margin-right: 0;
    justify-content: space-between !important;
  }
}
</style>
