<template>
  <template v-if="$route.name === 'drivers'">
    <div class="add__driver add__btn">
      <button @click="$router.push({name: 'driver-add'})" class="btn-black">+ ADD NEW DRIVER</button>
    </div>
    <v-content-header
        class="content-header"
        :items="['#', 'Name', 'Email', 'Number', 'Rols', 'Rating', 'Status', 'Tools']"
        :buttons=false
    />
    <div class="content-table">
      <div class="content-table__main">
        <div class="content-table__list">
          <div class="content-table__item" v-for="driver in resultingArray" :key="driver">
            <div class="content-table__item-value mobile-list__item-value" style="width: 5%;">
              <span class="mobile-list__title">#</span>
              <span>{{ driver.id }}</span>
            </div>
            <div class="content-table__item-value mobile-list__item-value" style="width: 15%;">
              <span class="mobile-list__title">Name</span>
              <span>{{ driver.first_name }} {{ driver.last_name }}</span>
            </div>
            <div class="content-table__item-value mobile-list__item-value" style="width: 15%;overflow: hidden">
              <span class="mobile-list__title">Email</span>
              <span>{{ driver.email }}</span>
            </div>
            <div class="content-table__item-value mobile-list__item-value" style="width: 15%;">
              <span class="mobile-list__title">Number</span>
              <span>{{ driver.phone }}</span>
            </div>
            <div class="content-table__item-value mobile-list__item-value" style="width: 15%;">
              <span class="mobile-list__title">Rols</span>
              <span>rols</span>
            </div>
            <div class="content-table__item-value mobile-list__item-value" style="width: 10%;">
              <span class="mobile-list__title">Rating</span>
              <span class="flex-center">
                <span>0</span> <img src="@/static/images/Star-middle.svg" alt="star">
              </span>
            </div>
            <div class="content-table__item-value mobile-list__item-value" style="width: 10%;">
              <span class="mobile-list__title">Status</span>
              <span :class="{ 'pending-color': driver.state === 'Pending time', 'approved-color': driver.state === 'Approved' }">{{ driver.state }}</span>
            </div>
            <div class="content-table__item-value mobile-list__item-value vehicles__tools" style="width: 15%;">
              <span class="mobile-list__title">Tools</span>
              <router-link class="link" :to="{ name: 'driver', params: {id: driver.id} }">Details</router-link>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination" v-if="showPagination">
      <div class="pagination__inner">
        <img v-if="currentPage !== 1" @click="getCurrentPageArray(currentPage - 1, drivers)" style="transform: rotate(180deg);" src="../../static/images/pagination-arrow.svg" alt="pagination-arrow">
        <template v-for="index in countPages" :key="index">
          <span v-if="currentPage !== 1 && currentPage !== 2 && index === currentPage - 1" class="pagination__ellipsis">...</span>
          <span v-if="getStatusShowPaginationItem(index)" :class="{ 'current-page':index === currentPage }" class="pagination__page" @click="getCurrentPageArray(index, drivers)">{{ index }}</span>
          <span v-if="currentPage !== countPages && currentPage !== countPages - 1 && index === currentPage + 1" class="pagination__ellipsis">...</span>
        </template>
        <img v-if="currentPage !== countPages" @click="getCurrentPageArray(currentPage + 1, drivers)" src="../../static/images/pagination-arrow.svg" alt="pagination-arrow">
      </div>
    </div>
  </template>
  <router-view/>
</template>

<script>
import { api } from '@/helpers/axios';
import {mapGetters} from "vuex";
import VContentHeader from "../../components/v-content-header.vue";
import pagination from "../../mixins/pagination.js";

export default {
  name: "p-drivers",
  components: {VContentHeader},
  props: ['countries'],
  mixins: [pagination],
  computed: {
    ...mapGetters(['getUser'])
  },
  data() {
    return {
      drivers: [],
    }
  },
  created() {
    api.post(`${process.env.VUE_APP_API_DOMAIN}drivers/all`, {partner_id: this.getUser.id}).then( resp => {
      this.drivers = resp.data;
      if (window.innerWidth < 600) {
        this.setElementsOnPage(2);
      }
      if (this.drivers?.length) {
        this.startPagination(this.drivers);
      }
    })
  }
}
</script>

<style scoped lang="scss">
.drivers {
  &__header {
    padding: 6px 10px;
    border: 1px solid rgba(25, 105, 169, 0.3);
    margin-top: 14px;
  }
  &__title_item{
    span{
      font-family: 'NunitoSans', sans-serif;
      font-size: 13px;
      color: #1969A9;
    }
  }
  &__title_item.name, &__name{
    width: 20%;
  }
  &__title_item.phone, &__phone{
    width: 20%;
  }
  &__title_item.email, &__email{
    width: 20%;
  }
  &__title_item.rols, &__rols{
    width: 12%;
  }
  &__title_item.rating, &__rating{
    width: 12%;
  }
  &__title_item.status, &__status{
    width: 12%;
  }
  &__title_item.tools, &__tools{
    width: 4%;
  }
}
.title{
  &__list{
    display: flex;
    justify-content: space-between;
  }
}
.flex-center {
  display: flex;
  align-items: center;
  img {
    position: relative;
    top: -2px;
  }
}
.drivers{
  margin-top: 14px;
  border-top: 1px solid rgba(25, 105, 169, 0.5);
  &__item{
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 16px 10px;
    border-bottom: 1px solid rgba(25, 105, 169, 0.5);
    & > div{
      padding-right: 20px;
      & > span{
        font-family: 'NunitoSans', sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}
@media (max-width: 1200px) {
  .content-table__item{
    display: flex;
    flex-direction: column;
    align-items: start;
    height: auto;
    padding-left: 20px;
    & > div{
      width: 100% !important;
      span, a{
        padding: 6px 0;
      }
    }
    margin-bottom: 24px;
    background: white;
    border-radius: 4px;
  }
  .content-header{
    display: none;
  }
  .content-table{
    margin-top: 10px;
    background: #E6E6E3;
  }
}
</style>
