<template>
  <div class="company">
    <div class="company__header sticky-header">
      <div class="company__header_left">
        <div class="company__title">
          <h2>Company details</h2>
        </div>
      </div>
      <div class="company__header_right">
        <div class="edit__block-status" style="margin-right: 56px">
          <img src="../../static/images/success-small.svg" alt="success-small">
          <span style="padding-left: 10px;color: #008B28;text-align: center;font-size: 14px;font-weight: 400;line-height: 20px;">Approved</span>
        </div>
<!--        <button @click="isEdit = !isEdit" class="company__header_edit btn-black">-->
<!--          <img src="../../static/images/edit.svg" alt="edit">-->
<!--          <span>Edit</span>-->
<!--        </button>-->
      </div>
    </div>
    <form>
      <div class="company__block">
        <div class="first__name form__input">
          <label for="name__of_company">Name of Company</label>
          <input :disabled="!isEdit" :class="{ 'input-error': errors.nameOfCompany.length, 'input-valid': errors.nameOfCompany.length === 0 && nameOfCompany.length > 0}" @input="validation(nameOfCompany, 'nameOfCompany', ['require', 'english'])" v-model="nameOfCompany" type="text" id="name__of_company">
          <div v-if="errors.nameOfCompany.length" class="error">
            <span>{{ errors.nameOfCompany[0] }}</span>
          </div>
        </div>
        <div class="email form__input">
          <label for="email">Email</label>
          <input :disabled="!isEdit" :class="{ 'input-error': errors.email.length, 'input-valid': errors.email.length === 0 && email.length > 0}" @input="validation(email, 'email', ['require', 'email'])"  v-model="email" type="text" id="email">
          <div v-if="errors.email.length" class="error">
            <span>{{ errors.email[0] }}</span>
          </div>
        </div>
        <div class="company__block">
          <div class="first__name form__input">
            <label for="first__name">First Name</label>
            <input :disabled="!isEdit" :class="{ 'input-error': errors.legalRepresentative.firstName.length, 'input-valid': errors.legalRepresentative.firstName.length === 0 && legalRepresentative.firstName.length > 0}" @input="validation(legalRepresentative.firstName, 'firstName', ['require', 'english'], 'legalRepresentative')" v-model="legalRepresentative.firstName" type="text" id="first__name">
            <div v-if="errors.legalRepresentative.firstName.length" class="error">
              <span>{{ errors.legalRepresentative.firstName[0] }}</span>
            </div>
          </div>
          <div class="date__of form__input">
            <label for="date__of">Date of</label>
            <vue-date-picker v-model="legalRepresentative.dateOf"  :disabled="!isEdit" format="dd.MM.yyyy" value-format="yyyy-MM-dd" noTz="true"/>
            <div v-if="errors.legalRepresentative.dateOf.length" class="error">
              <span>{{ errors.legalRepresentative.dateOf[0] }}</span>
            </div>
          </div>
          <div class="form__sub_title">
            <span>Legal representative info</span>
          </div>
          <div class="last__name form__input">
            <label for="last__name">Last Name</label>
            <input :disabled="!isEdit" :class="{ 'input-error': errors.legalRepresentative.lastName.length, 'input-valid': errors.legalRepresentative.lastName.length === 0 && legalRepresentative.lastName.length > 0}" @input="validation(legalRepresentative.lastName, 'lastName', ['require', 'english'], 'legalRepresentative')"  v-model="legalRepresentative.lastName" type="text" id="last__name">
            <div v-if="errors.legalRepresentative.lastName.length" class="error">
              <span>{{ errors.legalRepresentative.lastName[0] }}</span>
            </div>
          </div>
          <div class="country__residence form__input">
            <label for="country__residence">Country of residence</label>
            <input :disabled="!isEdit" :class="{ 'input-error': errors.legalRepresentative.countryResidence.length, 'input-valid': errors.legalRepresentative.countryResidence.length === 0 && legalRepresentative.countryResidence.length > 0}" @input="validation(legalRepresentative.countryResidence, 'countryResidence', ['require', 'english'], 'legalRepresentative')"  v-model="legalRepresentative.countryResidence" type="text" id="country__residence">
            <div v-if="errors.legalRepresentative.countryResidence.length" class="error">
              <span>{{ errors.legalRepresentative.countryResidence[0] }}</span>
            </div>
          </div>
        </div>
        <div class="company__block">
          <div class="form__sub_title">
            <span>Address legal representative info</span>
          </div>
          <div class="country form__btn_select select select__touch" ref="select" style="width: 48%">
            <label for="country">Country</label>
            <div class="select__touch input__select" id="country">
              <input :disabled="!isEdit" @blur="blurSelect('countryName', legalRepresentativeAddress.country, 'legalRepresentativeAddress')" @focus="toggleSelect('legalCountry', 'focus', legalRepresentativeAddress.countryName, countries, 'filteredLegalCountries', 'country')" @input="toggleSelect('legalCountry', 'input', legalRepresentativeAddress.countryName, countries, 'filteredLegalCountries', 'country')" v-model="legalRepresentativeAddress.countryName" :class="{ 'input-error': errors.legalRepresentativeAddress.country.length, 'input-valid': legalRepresentativeAddress.country.name !== undefined && errors.legalRepresentativeAddress.country.length === 0 && legalRepresentativeAddress.country.name.length > 0}" class="select__touch" type="text">
              <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="countries select__options select__touch" v-if="selects.legalCountry">
                <ul class="country__list select__options_list select__touch">
                  <template v-if="filteredLegalCountries.length || legalRepresentativeAddress.countryName.length > 0">
                    <template v-if="filteredLegalCountries.length">
                      <li @click="changeSelect('country', country, 'legalCountry', 'legalRepresentativeAddress', 'countryName')" class="country__item select__options_item select__touch" v-for="country in filteredLegalCountries" :key="country">{{country.name}}</li>
                    </template>
                    <template v-else>
                      <span>Not found</span>
                    </template>
                  </template>
                  <template v-else>
                    <li @click="changeSelect('country', country, 'legalCountry', 'legalRepresentativeAddress', 'countryName')" class="country__item select__options_item select__touch" v-for="country in countries" :key="country">{{country.name}}</li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
          <div v-if="errors.legalRepresentativeAddress.country.length" class="error">
            <span>{{ errors.legalRepresentativeAddress.country[0] }}</span>
          </div>
          <div class="city form__btn_select select select__touch" ref="select" style="width: 48%" v-if="legalRepresentativeAddress.country.name !== undefined">
            <label for="city">City</label>
            <div class="select__touch input__select" id="country">
              <input :disabled="!isEdit" @blur="blurSelect('cityName', legalRepresentativeAddress.city, 'legalRepresentativeAddress')" @focus="toggleSelect('legalCity', 'focus', legalRepresentativeAddress.cityName, citiesLegal, 'filteredLegalCities', 'city')" @input="toggleSelect('legalCity', 'input', legalRepresentativeAddress.cityName, citiesLegal, 'filteredLegalCities', 'city')" v-model="legalRepresentativeAddress.cityName" :class="{ 'input-error': errors.legalRepresentativeAddress.city.length, 'input-valid': legalRepresentativeAddress.city.name !== undefined && errors.legalRepresentativeAddress.city.length === 0 && legalRepresentativeAddress.city.name.length > 0}" class="select__touch" type="text">
              <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="countries select__options select__touch" v-if="selects.legalCity">
                <ul class="country__list select__options_list select__touch">
                  <template v-if="filteredLegalCities.length || legalRepresentativeAddress.cityName.length > 0">
                    <template v-if="filteredLegalCities.length">
                      <li @click="changeSelect('city', city, 'legalCity', 'legalRepresentativeAddress', 'cityName')" class="country__item select__options_item select__touch" v-for="city in filteredLegalCities" :key="city">{{city.name}}</li>
                    </template>
                    <template v-else>
                      <span>Not found</span>
                    </template>
                  </template>
                  <template v-else>
                    <li @click="changeSelect('city', city, 'legalCity', 'legalRepresentativeAddress', 'cityName')" class="city__item select__options_item select__touch" v-for="city in citiesLegal" :key="city">{{ city.name }}</li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
          <div v-if="errors.legalRepresentativeAddress.city.length" class="error">
            <span>{{ errors.legalRepresentativeAddress.city[0] }}</span>
          </div>
          <div class="address form__input">
            <label for="address_legal">Address</label>
            <input :disabled="!isEdit" :class="{ 'input-error': errors.legalRepresentativeAddress.address.length, 'input-valid': errors.legalRepresentativeAddress.address.length === 0 && legalRepresentativeAddress.address.length > 0}" @input="validation(legalRepresentativeAddress.address, 'address', ['require', 'english'], 'legalRepresentativeAddress')"  v-model="legalRepresentativeAddress.address" type="text" id="address_legal">
            <div v-if="errors.legalRepresentativeAddress.address.length" class="error">
              <span>{{ errors.legalRepresentativeAddress.address[0] }}</span>
            </div>
          </div>
          <div class="postal_code form__input">
            <label for="postal_code_legal">Postal code</label>
            <input :disabled="!isEdit" :class="{ 'input-error': errors.legalRepresentativeAddress.postalCode.length, 'input-valid': errors.legalRepresentativeAddress.postalCode.length === 0 && legalRepresentativeAddress.postalCode.length > 0}" @input="validation(legalRepresentativeAddress.postalCode, 'postalCode', ['require', 'numbers'], 'legalRepresentativeAddress')"  v-model="legalRepresentativeAddress.postalCode" type="text" id="postal_code_legal">
            <div v-if="errors.legalRepresentativeAddress.postalCode.length" class="error">
              <span>{{ errors.legalRepresentativeAddress.postalCode[0] }}</span>
            </div>
          </div>
        </div>
        <div class="company__block">
          <div class="form__sub_title">
            <span>Headquarters  address</span>
          </div>
          <div class="country form__btn_select select select__touch" style="width: 48%" ref="select">
            <label for="country">Country</label>
            <div class="select__touch input__select" id="country">
              <input :disabled="!isEdit" @blur="blurSelect('countryName', headquartersAddress.country, 'headquartersAddress')" @focus="toggleSelect('headquartersCountry', 'focus', headquartersAddress.countryName, countries, 'filteredLegalCountries', 'country')" @input="toggleSelect('headquartersCountry', 'input', headquartersAddress.countryName, countries, 'filteredHeadquartersCountries', 'country')" v-model="headquartersAddress.countryName" :class="{ 'input-error': errors.headquartersAddress.country.length, 'input-valid': headquartersAddress.country.name !== undefined && errors.headquartersAddress.country.length === 0 && headquartersAddress.country.name.length > 0}" class="select__touch" type="text">
              <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="countries select__options select__touch" v-if="selects.headquartersCountry">
                <ul class="country__list select__options_list select__touch">
                  <template v-if="filteredHeadquartersCountries.length || headquartersAddress.countryName.length > 0">
                    <template v-if="filteredHeadquartersCountries.length">
                      <li @click="changeSelect('country', country, 'headquartersCountry', 'headquartersAddress', 'countryName')" class="country__item select__options_item select__touch" v-for="country in filteredHeadquartersCountries" :key="country">{{country.name}}</li>
                    </template>
                    <template v-else>
                      <span>Not found</span>
                    </template>
                  </template>
                  <template v-else>
                    <li @click="changeSelect('country', country, 'headquartersCountry', 'headquartersAddress', 'countryName')" class="country__item select__options_item select__touch" v-for="country in countries" :key="country">{{country.name}}</li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
          <div v-if="errors.headquartersAddress.country.length" class="error">
            <span>{{ errors.headquartersAddress.country[0] }}</span>
          </div>
          <div class="city form__btn_select select select__touch" ref="select" style="width: 48%" v-if="headquartersAddress.country.name !== undefined">
            <label for="city">City</label>
            <div class="select__touch input__select" id="country">
              <input :disabled="!isEdit" @blur="blurSelect('cityName', headquartersAddress.city, 'headquartersAddress')" @focus="toggleSelect('headquartersCity', 'focus', headquartersAddress.cityName, citiesHeadquarters, 'filteredHeadquartersCities', 'city')" @input="toggleSelect('headquartersCity', 'input', headquartersAddress.cityName, citiesHeadquarters, 'filteredHeadquartersCities', 'city')" v-model="headquartersAddress.cityName" :class="{ 'input-error': errors.headquartersAddress.city.length, 'input-valid': headquartersAddress.city.name !== undefined && errors.headquartersAddress.city.length === 0 && headquartersAddress.city.name.length > 0}" class="select__touch" type="text">
              <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="countries select__options select__touch" v-if="selects.headquartersCity">
                <ul class="country__list select__options_list select__touch">
                  <template v-if="filteredHeadquartersCities.length || headquartersAddress.cityName.length > 0">
                    <template v-if="filteredHeadquartersCities.length">
                      <li @click="changeSelect('city', city, 'headquartersCity', 'headquartersAddress', 'cityName')" class="country__item select__options_item select__touch" v-for="city in filteredHeadquartersCities" :key="city">{{city.name}}</li>
                    </template>
                    <template v-else>
                      <span>Not found</span>
                    </template>
                  </template>
                  <template v-else>
                    <li @click="changeSelect('city', city, 'headquartersCity', 'headquartersAddress', 'cityName')" class="city__item select__options_item select__touch" v-for="city in citiesHeadquarters" :key="city">{{ city.name }}</li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
          <div v-if="errors.headquartersAddress.city.length" class="error">
            <span>{{ errors.headquartersAddress.city[0] }}</span>
          </div>
          <div class="address form__input">
            <label for="address_legal">Address</label>
            <input :disabled="!isEdit" :class="{ 'input-error': errors.headquartersAddress.address.length, 'input-valid': errors.headquartersAddress.address.length === 0 && headquartersAddress.address.length > 0}" @input="validation(headquartersAddress.address, 'address', ['require', 'english'], 'headquartersAddress')"  v-model="headquartersAddress.address" type="text" id="address_legal">
            <div v-if="errors.headquartersAddress.address.length" class="error">
              <span>{{ errors.headquartersAddress.address[0] }}</span>
            </div>
          </div>
          <div class="postal_code form__input">
            <label for="postal_code_legal">Postal code</label>
            <input :disabled="!isEdit" :class="{ 'input-error': errors.headquartersAddress.postalCode.length, 'input-valid': errors.headquartersAddress.postalCode.length === 0 && headquartersAddress.postalCode.length > 0}" @input="validation(headquartersAddress.postalCode, 'postalCode', ['require', 'numbers'], 'headquartersAddress')"  v-model="headquartersAddress.postalCode" type="text" id="postal_code_legal">
            <div v-if="errors.headquartersAddress.postalCode.length" class="error">
              <span>{{ errors.headquartersAddress.postalCode[0] }}</span>
            </div>
          </div>
        </div>
        <div class="company__block">
          <div class="form__sub_title">
            <span>Active billing information</span>
          </div>
          <div class="bank__account_country form__input">
            <label for="bank__account_country">Bank Account Country</label>
            <input :disabled="!isEdit" :class="{ 'input-error': errors.activeBillingInformation.bankAccountCountry.length, 'input-valid': errors.activeBillingInformation.bankAccountCountry.length === 0 && activeBillingInformation.bankAccountCountry.length > 0}" @input="validation(activeBillingInformation.bankAccountCountry, 'bankAccountCountry', ['require', 'english'], 'activeBillingInformation')"  v-model="activeBillingInformation.bankAccountCountry" type="text" id="bank__account_country">
            <div v-if="errors.activeBillingInformation.bankAccountCountry.length" class="error">
              <span>{{ errors.activeBillingInformation.bankAccountCountry[0] }}</span>
            </div>
          </div>
          <div class="vat__number form__input">
            <label for="vat__number">VAT number / IP number</label>
            <input :disabled="!isEdit" :class="{ 'input-error': errors.activeBillingInformation.vatNumber.length, 'input-valid': errors.activeBillingInformation.vatNumber.length === 0 && activeBillingInformation.vatNumber.length > 0}" @input="validation(activeBillingInformation.vatNumber, 'vatNumber', ['require', 'english'], 'activeBillingInformation')"  v-model="activeBillingInformation.vatNumber" type="text" id="vat__number">
            <div v-if="errors.activeBillingInformation.vatNumber.length" class="error">
              <span>{{ errors.activeBillingInformation.vatNumber[0] }}</span>
            </div>
          </div>
          <div class="company__id_number form__input">
            <label for="company__id_number">Company ID number</label>
            <input :disabled="!isEdit" :class="{ 'input-error': errors.activeBillingInformation.companyIdNumber.length, 'input-valid': errors.activeBillingInformation.companyIdNumber.length === 0 && activeBillingInformation.companyIdNumber.length > 0}" @input="validation(activeBillingInformation.companyIdNumber, 'companyIdNumber', ['require', 'numbers'], 'activeBillingInformation')"  v-model="activeBillingInformation.companyIdNumber" type="text" id="company__id_number">
            <div v-if="errors.activeBillingInformation.companyIdNumber.length" class="error">
              <span>{{ errors.activeBillingInformation.companyIdNumber[0] }}</span>
            </div>
          </div>
          <div class="iban form__input">
            <label for="iban">IBAN - International bank account number</label>
            <input :disabled="!isEdit" :class="{ 'input-error': errors.activeBillingInformation.IBAN.length, 'input-valid': errors.activeBillingInformation.IBAN.length === 0 && activeBillingInformation.IBAN.length > 0}" @input="validation(activeBillingInformation.IBAN, 'IBAN', ['require', 'english'], 'activeBillingInformation')"  v-model="activeBillingInformation.IBAN" type="text" id="iban">
            <div v-if="errors.activeBillingInformation.IBAN.length" class="error">
              <span>{{ errors.activeBillingInformation.IBAN[0] }}</span>
            </div>
          </div>
        </div>
        <div class="company__block">
          <div class="form__sub_title">
            <span>Documentation</span>
          </div>
          <div class="form__upload_file">
            <span>Business licence, required for transport services<br/> providers, in your country</span>
            <label>
              <label class="upload__file">
                <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" @change="uploadFile($event, 'businessLicence')">
                <span class="upload__file_active" v-if="upload.businessLicence.name !== null"><img src="../../static/images/download.svg" alt="upload">Download</span>
                <span v-else><img src="../../static/images/upload-file.svg" alt="upload">Upload new</span>
              </label>
            </label>
          </div>
          <div v-if="errors.businessLicence.length" class="error">
            <span>{{ errors.businessLicence[0] }}</span>
          </div>
          <div class="form__upload_file">
            <span>Certified articles of association</span>
            <label>
              <label class="upload__file">
                <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" @change="uploadFile($event, 'certifiedArticle')">
                <span class="upload__file_active" v-if="upload.certifiedArticle.name !== null"><img src="../../static/images/download.svg" alt="upload">Download</span>
                <span v-else><img src="../../static/images/upload-file.svg" alt="upload">Upload new</span>
              </label>
            </label>
          </div>
          <div v-if="errors.certifiedArticle.length" class="error">
            <span>{{ errors.certifiedArticle[0] }}</span>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div v-if="isEdit" class="main__block-buttons sticky-footer">
    <button class="main__block-buttons-item cancel" @click="cancelEdit()" type="button">Cancel</button>
    <button class="main__block-buttons-item create" @click="updateCompany()" type="button">Save</button>
  </div>
  <div v-else style="height: 32px;width: 100%"></div>
  <v-notification
      :is-show="notification.isShow"
      :type="notification.type"
      @closeNotification="notification.isShow = false"
  />
</template>

<script>
import validations from "../../mixins/validations";
import toggleSelects from "../../mixins/toggleSelects";
import uploadFile from "../../mixins/uploadFile";
import {mapGetters} from "vuex";
import { api } from '@/helpers/axios';
import VNotification from "../../components/popups/v-notification.vue";
import notification from "../../mixins/notification.js";
import VueDatePicker from "@vuepic/vue-datepicker";

export default {
  name: "v-company",
  components: {VueDatePicker, VNotification},
  mixins: [validations, toggleSelects, uploadFile],
  props: ['countries', 'citiesLegal', 'citiesHeadquarters', 'isLoadingCities', 'collectDataCompany', 'user', 'edit', 'saveDataCompanyInSession'],
  computed: {
    ...mapGetters(['getCompanyInSession']),
  },
  data() {
    return {
      isEdit: true,
      nameOfCompany: '',
      selects: {
        legalCountry: false,
        legalCity: false,
        headquartersCountry: false,
        headquartersCity: false,
      },
      email: '',
      legalRepresentative: {
        firstName: '',
        lastName: '',
        dateOf: '',
        countryResidence: '',
      },
      legalRepresentativeAddress: {
        country: {},
        city: {},
        address: '',
        postalCode: '',
        countryName : '',
        cityName: '',
      },
      filteredLegalCountries: [],
      filteredLegalCities: [],
      headquartersAddress: {
        country: {},
        city: {},
        address: '',
        postalCode: '',
        countryName : '',
        cityName: '',
      },
      filteredHeadquartersCountries: [],
      filteredHeadquartersCities: [],
      activeBillingInformation: {
        bankAccountCountry: '',
        companyIdNumber: '',
        vatNumber: '',
        IBAN: '',
      },
      upload: {
        businessLicence: {},
        certifiedArticle: {}
      },
      errors: {
        nameOfCompany: [],
        legalRepresentative: {
          firstName: [],
          lastName: [],
          dateOf: [],
          countryResidence: [],
        },
        activeBillingInformation: {
          bankAccountCountry: [],
          companyIdNumber: [],
          vatNumber: [],
          IBAN: [],
        },
        email: [],
        legalRepresentativeAddress: {
          country: [],
          city: [],
          address: [],
          postalCode: [],
        },
        headquartersAddress: {
          country: [],
          city: [],
          address: [],
          postalCode: [],
        },
        businessLicence: [],
        certifiedArticle: [],
      },
      notification: {
        type: '',
        isShow: false
      }
    }
  },
  methods: {
    companyValidation() {
      this.updateErrors();
      this.validation(this.nameOfCompany, 'nameOfCompany', ['require', 'english']);
      this.validation(this.legalRepresentative.firstName, 'firstName', ['require', 'english'], 'legalRepresentative');
      this.validation(this.legalRepresentative.lastName, 'lastName', ['require', 'english'], 'legalRepresentative');
      this.validation(this.legalRepresentative.dateOf, 'dateOf', ['require'], 'legalRepresentative');
      this.validation(this.legalRepresentative.countryResidence, 'countryResidence', ['require', 'english'], 'legalRepresentative');
      this.validation(this.activeBillingInformation.bankAccountCountry, 'bankAccountCountry', ['require', 'english'], 'activeBillingInformation');
      this.validation(this.activeBillingInformation.companyIdNumber, 'companyIdNumber', ['require', 'english'], 'activeBillingInformation');
      this.validation(this.activeBillingInformation.vatNumber, 'vatNumber', ['require', 'english'], 'activeBillingInformation');
      this.validation(this.activeBillingInformation.IBAN, 'IBAN', ['require', 'english'], 'activeBillingInformation');
      this.validation(this.email, 'email', ['require', 'email']);
      this.validation(this.legalRepresentativeAddress.country.name, 'country', ['require'], 'legalRepresentativeAddress');
      if (this.legalRepresentativeAddress.country.name !== undefined){
        this.validation(this.legalRepresentativeAddress.city.name, 'city', ['require'], 'legalRepresentativeAddress');
      }
      this.validation(this.legalRepresentativeAddress.address, 'address', ['require', 'english'], 'legalRepresentativeAddress');
      this.validation(this.legalRepresentativeAddress.postalCode, 'postalCode', ['require', 'numbers'], 'legalRepresentativeAddress');
      this.validation(this.headquartersAddress.country.name, 'country', ['require'], 'headquartersAddress');
      if (this.headquartersAddress.country.name !== undefined){
        this.validation(this.headquartersAddress.city.name, 'city', ['require'], 'headquartersAddress');
      }
      this.validation(this.headquartersAddress.address, 'address', ['require', 'english'], 'headquartersAddress');
      this.validation(this.headquartersAddress.postalCode, 'postalCode', ['require', 'numbers'], 'headquartersAddress');
      this.validation(this.upload.businessLicence.name, 'businessLicence', ['require']);
      this.validation(this.upload.certifiedArticle.name, 'certifiedArticle', ['require']);
    },
    getCompany() {
      this.nameOfCompany = this.user.company.name;
      this.email = this.user.company.email;
      this.legalRepresentative.firstName = this.user.company['represent_first_name'];
      this.legalRepresentative.lastName = this.user.company['represent_last_name'];
      this.legalRepresentative.countryResidence = this.user.company['represent_country'];
      this.legalRepresentative.dateOf = this.user.company['represent_date_of'] && new Date(this.user.company['represent_date_of']);
      this.legalRepresentativeAddress.country.name = this.user.company['address_country'];
      this.legalRepresentativeAddress.city.name = this.user.company['address_city'];
      this.legalRepresentativeAddress.address = this.user.company['address_address'];
      this.legalRepresentativeAddress.postalCode = this.user.company['address_postal_code'];
      this.headquartersAddress.country.name = this.user.company['head_country'];
      this.headquartersAddress.city.name = this.user.company['head_city'];
      this.headquartersAddress.address = this.user.company['head_address'];
      this.headquartersAddress.postalCode = this.user.company['head_postal_code'];
      this.activeBillingInformation.bankAccountCountry = this.user.company['billing_country'];
      this.activeBillingInformation.companyIdNumber = this.user.company['billing_company'];
      this.activeBillingInformation.vatNumber = this.user.company['vat'];
      this.activeBillingInformation.IBAN = this.user.company['iban'];
      this.upload.businessLicence = {};
      this.upload.businessLicence.name = this.user.company['licence'];
      this.upload.certifiedArticle = {};
      this.upload.certifiedArticle.name = this.user.company['certified'];
    },
    collectData() {
      let company = {
        'name': this.nameOfCompany,
        'email': this.email,
        'represent_first_name': this.legalRepresentative.firstName,
        'represent_last_name': this.legalRepresentative.lastName,
        'represent_country': this.legalRepresentative.countryResidence,
        'represent_date_of': this.legalRepresentative.dateOf.getFullYear() + '-' + (this.legalRepresentative.dateOf.getMonth() + 1).toString().padStart(2, '0') + '-' + this.legalRepresentative.dateOf.getDay().toString().padStart(2, '0'),
        'address_country': this.legalRepresentativeAddress.country.name,
        'address_city': this.legalRepresentativeAddress.city.name,
        'address_address': this.legalRepresentativeAddress.address,
        'address_postal_code': this.legalRepresentativeAddress.postalCode,
        'head_country': this.headquartersAddress.country.name,
        'head_city': this.headquartersAddress.city.name,
        'head_address': this.headquartersAddress.address,
        'head_postal_code': this.headquartersAddress.postalCode,
        'billing_country': this.activeBillingInformation.bankAccountCountry,
        'billing_company': this.activeBillingInformation.companyIdNumber,
        'vat': this.activeBillingInformation.vatNumber,
        'iban': this.activeBillingInformation.IBAN,
      }
      let files = {
        'licence': this.upload.businessLicence,
        'certified': this.upload.certifiedArticle,
      }
      return {company, files}
    },
    updateCompany() {
      this.companyValidation();
      if (!this.checkErrors()) {
        this.notification.type = 'save';
        this.notification.isShow = true;
        notification.alert().then(resp => {
          this.notification.isShow = false;
          if (resp) {
            this.$store.commit('CHANGE_STATUS_LOAD', true);
            let company = {
              'name': this.nameOfCompany,
              'email': this.email,
              'represent_first_name': this.legalRepresentative.firstName,
              'represent_last_name': this.legalRepresentative.lastName,
              'represent_country': this.legalRepresentative.countryResidence,
              'represent_date_of': this.legalRepresentative.dateOf.getFullYear() + '-' + (this.legalRepresentative.dateOf.getMonth() +1).toString().padStart(2, '0') + '-' + this.legalRepresentative.dateOf.getDate().toString(),
              'address_country': this.legalRepresentativeAddress.country.name,
              'address_city': this.legalRepresentativeAddress.city.name,
              'address_address': this.legalRepresentativeAddress.address,
              'address_postal_code': this.legalRepresentativeAddress.postalCode,
              'head_country': this.headquartersAddress.country.name,
              'head_city': this.headquartersAddress.city.name,
              'head_address': this.headquartersAddress.address,
              'head_postal_code': this.headquartersAddress.postalCode,
              'billing_country': this.activeBillingInformation.bankAccountCountry,
              'billing_company': this.activeBillingInformation.companyIdNumber,
              'vat': this.activeBillingInformation.vatNumber,
              'iban': this.activeBillingInformation.IBAN,
            }
            let formData = new FormData();
            formData.append('company', JSON.stringify(company));
            formData.append('licence', this.upload.businessLicence);
            formData.append('certified', this.upload.certifiedArticle);
            formData.append('user_id', this.user.id);
            api.post(`${process.env.VUE_APP_API_DOMAIN}company/${this.user.company.id}`, formData,
              {
                headers: {
                  'Content-Type': 'multipart/form-data'
                }
              })
              .then( resp => {
                if (resp.data.status) {
                  this.$store.commit('SET_COMPANY', resp.data.company);
                  this.$store.commit('CHANGE_STATUS_LOAD', false);
                  this.notification.type = 'success';
                  this.notification.isShow = true;
                  this.isEdit = false;
                }
              })
          }
        })

      }
    },
    cancelEdit() {
      this.notification.isShow = true;
      this.notification.type = 'cancel';
      notification.alert().then(resp => {
        if (resp) {
          this.isEdit = false;
          this.getCompany();
        }
        this.notification.isShow = false;
      })
    }
  },
  watch: {
    collectDataCompany: function (){
      this.companyValidation();
      if (!this.checkErrors()){
        this.$emit('collectDataCompany', { company: this.collectData().company, files: this.collectData().files })
      }
    },
    saveDataCompanyInSession() {
      if (this.user.status === 'new') {
        let companyLocal = {};
        for(let prop in this.collectData().company){
          companyLocal[prop] = this.collectData().company[prop];
        }
        companyLocal.address_country = this.legalRepresentativeAddress.country;
        companyLocal.address_city = this.legalRepresentativeAddress.city;
        companyLocal.head_country = this.headquartersAddress.country;
        companyLocal.head_city = this.headquartersAddress.city;
        this.$store.commit('SET_COMPANY', {'company': companyLocal, files: this.collectData().files})
      }
    },
    edit(newValue) {
      if (newValue === false) {
        this.getCompany();
      }
    },
    'legalRepresentativeAddress.country'(newValue) {
      if (newValue.name !== undefined) {
        this.legalRepresentativeAddress.countryName = newValue.name
      }
      if (this.legalRepresentativeAddress.city.name === undefined) {
        this.legalRepresentativeAddress.cityName = ''
      }
    },
    'legalRepresentativeAddress.city'(newValue) {
      if (newValue.name !== undefined) {
        this.legalRepresentativeAddress.cityName = newValue.name
      }
    },
    'headquartersAddress.country'(newValue) {
      if (newValue.name !== undefined) {
        this.headquartersAddress.countryName = newValue.name
      }
      if (this.headquartersAddress.city.name === undefined) {
        this.headquartersAddress.cityName = ''
      }
    },
    'headquartersAddress.city'(newValue) {
      if (newValue.name !== undefined) {
        this.headquartersAddress.cityName = newValue.name
      }
    },
  },
  created() {
    if (this.user.status === 'confirmed'){
      this.getCompany();
      this.legalRepresentativeAddress.countryName = this.legalRepresentativeAddress.country.name;
      this.legalRepresentativeAddress.cityName = this.legalRepresentativeAddress.city.name;
      this.headquartersAddress.countryName = this.headquartersAddress.country.name;
      this.headquartersAddress.cityName = this.headquartersAddress.city.name;
    } else if (this.user.status === 'new' && this.getCompanyInSession.company !== undefined) {
      this.nameOfCompany = this.getCompanyInSession.company.name || '';
      this.legalRepresentative.firstName = this.getCompanyInSession.company.represent_first_name || '';
      this.legalRepresentative.lastName = this.getCompanyInSession.company.represent_last_name || '';
      this.legalRepresentative.dateOf = this.getCompanyInSession.company.represent_date_of || '';
      this.legalRepresentative.countryResidence = this.getCompanyInSession.company.represent_country || '';
      this.email = this.getCompanyInSession.company.email || '';
      this.legalRepresentativeAddress.country = this.getCompanyInSession.company.address_country || '';
      this.legalRepresentativeAddress.city = this.getCompanyInSession.company.address_city || '';
      this.legalRepresentativeAddress.address = this.getCompanyInSession.company.address_address || '';
      this.legalRepresentativeAddress.postalCode = this.getCompanyInSession.company.address_postal_code || '';
      this.headquartersAddress.country = this.getCompanyInSession.company.head_country || '';
      this.headquartersAddress.city = this.getCompanyInSession.company.head_city || '';
      this.headquartersAddress.address = this.getCompanyInSession.company.head_address || '';
      this.headquartersAddress.postalCode = this.getCompanyInSession.company.head_postal_code || '';
      this.activeBillingInformation.bankAccountCountry = this.getCompanyInSession.company.billing_country || '';
      this.activeBillingInformation.companyIdNumber = this.getCompanyInSession.company.billing_company || '';
      this.activeBillingInformation.vatNumber = this.getCompanyInSession.company.vat || '';
      this.activeBillingInformation.IBAN = this.getCompanyInSession.company.iban || '';
      this.legalRepresentativeAddress.countryName = this.getCompanyInSession.company.address_country.name || '';
      this.legalRepresentativeAddress.cityName = this.getCompanyInSession.company.address_city.name || '';
      this.headquartersAddress.countryName = this.getCompanyInSession.company.head_country.name || '';
      this.headquartersAddress.cityName = this.getCompanyInSession.company.head_city.name || '';
      this.upload.businessLicence = this.getCompanyInSession.files.licence || '';
      this.upload.certifiedArticle = this.getCompanyInSession.files.certified || '';
      this.companyValidation();
    }
  }
}
</script>

<style scoped lang="scss">
.company__top, .company__bottom{
  display: flex;
  justify-content: space-between;
  & > div{
    width: 26%;
  }
}
.company__bottom .company__center{
  padding-top: 52px;
}
.company__bottom .company__right{
  padding-top: 42px;
}
.form__sub_title{
  color: #4A69E2;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  margin: 16px 0;
  width: 80%;
}
.sub__title_margin-big{
  margin: 36px 0;
}
.mytripline__cooperation_title span{
  font-size: 14px;
  line-height: 20px;
  display: flex;
  align-items: center;
  color: #1969A9;
}
.mytripline__cooperation_btn button{
  background: #1969A9;
  border-radius: 7px;
  width: 100%;
  height: 32px;
  border: none;
  color: white;
}
.mytripline__cooperation{
  margin-top: 18px;
}
.company__block{
  width: 100%;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.form__input{
  width: 48%;
  input{
    border-radius: 8px;
    border: 1px solid var(--dark-gray, #232321);
  }
}
.company{
  &__title h2{
    color: #4A69E2;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
  &__header{
    display: flex;
    justify-content: space-between;
    &_right{
      display: flex;
    }
    &_edit{
      display: flex;
      align-items: center;
      padding: 8px 16px;
      span{
        font-size: 14px;
        line-height: 14px;
      }
      img{
        padding-bottom: 2px;
      }
    }
  }
}
@media (max-width: 600px) {
  .company{
    width: 100%;
  }
  .form__input{
    width: 100%;
  }
  .form__upload_file{
    justify-content: end;
  }
  .company__header{
    flex-direction: column;
  }
  .company__header_right{
    justify-content: space-between;
  }
}
</style>
