<template>
  <v-nav-menu
      :user="getUser"
      :status-nav-company="statusNavCompany"
      @updateData="updateData()"
  />
  <div class="main__block">
    <router-view
        :countries="countries"
        :cities="citiesProfile"
        :is-loading-cities="isLoadingCities"
        @getCities="getCities($event)"
        :collect-data-profile="isCollectDataProfile"
        :collect-data-company="isCollectDataCompany"
        @collectDataProfile="getDataProfile($event)"
        @collectDataCompany="getDataCompany($event)"
        :save-data-company-in-session="isSaveCompanyDataInSession"
        :user="getUser"
        :edit="getStatusEdit"
        :cities-headquarters="citiesHeadquarters"
        :cities-legal="citiesLegal"
    />
  </div>
  <div class="block__btn" v-if="getUser.status === 'new'">
    <button @click="redirectCompany()" v-if="this.$route.name === 'profile'" class="btn">
      <span>next</span>
      <img src="../../static/images/next-arrow.svg" alt="next">
    </button>
    <button @click="sendData()" v-if="this.$route.name === 'company'" class="btn">
      <span>send</span>
    </button>
  </div>
</template>

<script>
import VNavMenu from "../../components/v-nav-menu.vue";

import { api } from '@/helpers/axios';
import { mapGetters } from 'vuex'
export default {
  name: "p-account",
  components: {VNavMenu},
  props: ['countries'],
  computed: {
    ...mapGetters(['getUser', 'getStatusEdit'])
  },
  data() {
    return {
      navMenuItem: '',
      citiesHeadquarters: [],
      citiesLegal: [],
      citiesProfile: [],
      isLoadingCities: false,
      isCollectDataCompany: false,
      isCollectDataProfile: false,
      profile: {},
      profileFiles: {},
      company: {},
      companyFiles: {},
      editItem: 'all',
      statusNavCompany: false,
      isSaveCompanyDataInSession: false,
    }
  },
  methods: {
    getCities(dataCountry) {
      this.isLoadingCities = true;
      api.post(`${process.env.VUE_APP_API_DOMAIN}profile/cities`, {countryId: dataCountry.countryId}).then( resp => {
        if (dataCountry.select === 'headquartersCountry'){
          this.citiesHeadquarters = resp.data
        }
        if (dataCountry.select === 'legalCountry'){
          this.citiesLegal = resp.data
        }
        if (dataCountry.select === 'country') {
          this.citiesProfile = resp.data
        }
        this.isLoadingCities = false;
      })
    },
    redirectCompany() {
      this.isCollectDataProfile = !this.isCollectDataProfile;
    },
    sendData() {
      this.isCollectDataCompany = !this.isCollectDataCompany;
    },
    getDataProfile(data){
      this.profile = data.profile;
      this.profileFiles = data.files;
      if (this.getUser.status === 'new'){
        this.$router.push({name: 'company'})
      } else {
        this.setData();
      }
    },
    getDataCompany(data){
      this.company = data.company;
      this.companyFiles = data.files
      this.setData()
    },
    setData() {
      this.$store.commit('CHANGE_STATUS_LOAD', true);
      let formData = new FormData();
        formData.append('profile', JSON.stringify(this.profile));
        formData.append('passport', this.profileFiles.passport);
        formData.append('driverLicence', this.profileFiles.driver_licence);
        formData.append('criminalCheck', this.profileFiles.criminal_check);
        formData.append('photo', this.profileFiles.photo);
        formData.append('company', JSON.stringify(this.company));
        formData.append('licence', this.companyFiles.licence);
        formData.append('certified', this.companyFiles.certified);
        formData.append('user_id', this.getUser.id);
      api.post(`${process.env.VUE_APP_API_DOMAIN}profile/update`, formData,
          {
            headers: {
              'Content-Type': 'multipart/form-data'
            }
          })
          .then( resp => {
            if (resp.data.status) {
              this.$store.commit('SET_USER', resp.data.user);
              this.$store.commit('CHANGE_STATUS_LOAD', false);
              if (this.getUser.status === 'confirmed'){
                this.$store.commit('CHANGE_EDIT', false)
              }
            }
          })
    },
    updateData() {
      this.isCollectDataProfile = !this.isCollectDataProfile;
      this.isCollectDataCompany = !this.isCollectDataCompany;
      if (this.$route.name === 'profile'){
        this.company = this.getUser.company
        this.companyFiles.licence = { name: this.getUser.company.licence }
        this.companyFiles.certified = { name: this.getUser.company.certified }
      } else {
        this.profile = this.getUser.profile
        this.profile.phone = this.getUser.phone
        this.profileFiles.personalId = { name: this.getUser.profile.personalId }
        this.profileFiles.driver_licence = { name: this.getUser.profile.driver_licence }
        this.profileFiles.criminal_check = { name: this.getUser.profile.criminal_check }
        this.profileFiles.photo = { name: this.getUser.profile.photo }
      }
    }
  },
  created() {
    if (this.getUser.status === 'confirmed'){
      this.statusNavCompany = true;
      this.citiesProfile = this.getUser.profile.cities;
      this.citiesLegal = this.getUser.company.cities_address;
      this.citiesHeadquarters = this.getUser.company.cities_head;
    }
  },
  beforeRouteUpdate() {
    if (this.$route.name === 'company') {
      this.isSaveCompanyDataInSession = !this.isSaveCompanyDataInSession;
    }
  },
}
</script>

<style scoped lang="scss">
.main__block{
  margin-top: 8px;
  max-height: calc(100vh - 270px);
  overflow-y: auto;
  width: 100%;
}
@media (max-width: 1200px) {
  .main__block{
    height: auto;
    overflow: visible;
  }
  .main__block{
    max-height: none;
    padding: 0 20px;
  }
}
</style>
