<template>
  <div class="main__block-row profile-mobile-header sticky-header">
    <div class="main__block-row-item">
      <span class="main__block-title">Profile</span>
    </div>
<!--    todo: remove-->
<!--    <div class="main__block-row-item" style="display: flex; justify-content: flex-end; margin-right: 0">-->
<!--      <button @click="isEdit = !isEdit" type="button" class="btn-black">-->
<!--        <img src="../../static/images/edit.svg" alt="edit">-->
<!--        <span>EDIT</span>-->
<!--      </button>-->
<!--    </div>-->
  </div>
  <div class="profile__photo mobile-content">
    <label class="upload__file" style="height: 0">
      <input id="photo" class="" type="file" name="file" accept="image/png, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'photo')">
    </label>
    <span>Photo</span>
    <label for="photo" class="photo" :class="{ 'no__image': upload.photo.length === 0 && imgURL.length === 0 }" :style='{ backgroundImage: imgURL }' style="margin-top: 0">
      <span v-if="upload.photo.name === undefined">Photo<img src="../../static/images/information.svg" alt="information"></span>
    </label>
    <div class="photo__error">
      <div v-if="errors.photo.length" class="error">
        <span>{{ errors.photo[0] }}</span>
      </div>
    </div>
  </div>
  <div class="profile__info">
    <div class="main__block-row">
      <div class="main__block-row-item">
        <label>
          <span>Permissions</span>
          <input type="text" value="Partner" disabled>
        </label>
      </div>
      <div class="main__block-row-item">
        <label>
          <span>Status</span>
          <input type="text" :value="user.status" disabled>
        </label>
      </div>
    </div>
    <div class="main__block-row">
      <div class="main__block-row-item">
        <label>
          <span>First name</span>
          <input type="text" v-model="firstName" :disabled="!isEdit">
        </label>
      </div>
      <div class="main__block-row-item">
        <label>
          <span>Last name</span>
          <input type="text" v-model="lastName" :disabled="!isEdit">
        </label>
      </div>
    </div>
    <div class="main__block-row">
      <div class="main__block-row-item">
        <label>
          <span>Phone number</span>
          <vue-tel-input class="phone__input_iti" style="z-index: 10002" @input="inputPhone" :disabled="!isEdit" :value="phone" mode="international"></vue-tel-input>
        </label>
      </div>
      <div class="main__block-row-item">
        <label>
          <span>Email</span>
          <input type="text" v-model="email" :disabled="!isEdit">
        </label>
      </div>
    </div>
    <div class="main__block-row big-padding">
      <div class="main__block-row-item">
        <span style="color: #4A69E2">Address</span>
      </div>
    </div>
    <div class="main__block-row">
      <div class="main__block-row-item">
        <label for="country">Country</label>
        <div class="select__touch input__select" id="country">
          <input @blur="blurSelect('countryName', country)"
                 @focus="toggleSelect('country', 'focus', countryName, countries, 'filteredCountries', 'country')"
                 @input="toggleSelect('country', 'input', countryName, countries, 'filteredCountries', 'country')"
                 v-model="countryName"
                 :disabled="!isEdit"
                 placeholder="Enter country*"
                 :class="{ 'input-error': errors.country.length, 'input-valid': country.name !== undefined && errors.country.length === 0 && country.name.length > 0}"
                 class="select__touch" type="text">
          <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
        </div>
        <transition name="anime-select">
          <div class="countries select__options select__touch" v-if="selects.country">
            <ul class="country__list select__options_list select__touch">
              <template v-if="filteredCountries.length">
                <li @click="changeSelect('country', country, 'country')" class="country__item select__options_item select__touch" v-for="country in filteredCountries" :key="country">{{country.name}}</li></template>
              <template v-else>
                <li @click="changeSelect('country', country, 'country')" class="country__item select__options_item select__touch" v-for="country in countries" :key="country">{{country.name}}</li></template>
            </ul>
          </div>
        </transition>
      </div>
      <div class="main__block-row-item">
        <label for="city">City</label>
        <div class="select__touch input__select" id="city">
          <input @blur="blurSelect('cityName', city)"
                 @focus="toggleSelect('city', 'focus', cityName, cities, 'filteredCities', 'city')"
                 @input="toggleSelect('city', 'input', cityName, cities, 'filteredCities', 'city')"
                 v-model="cityName"
                 placeholder="Enter city*"
                 :class="{ 'input-error': errors.city.length, 'input-valid': city.name !== undefined && errors.city.length === 0 && city.name.length > 0}"
                 class="select__touch" type="text"
                 :disabled="!Object.keys(country).length || !isEdit">
          <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
        </div>
        <transition name="anime-select">
          <div class="cities select__options select__touch" v-if="selects.city">
            <div v-if="isLoadingCities" class="loader"></div>
            <ul v-else class="city__list select__options_list select__touch">
              <template v-if="filteredCities.length || cityName.length > 0">
                <template v-if="filteredCities.length">
                  <li @click="changeSelect('city', city, 'city', undefined, 'cityName')" class="city__item select__options_item select__touch" v-for="city in filteredCities" :key="city">{{ city.name }}</li>
                </template>
                <template v-else>
                  <span>Not found</span>
                </template>
              </template>
              <template v-else>
                <li @click="changeSelect('city', city, 'city', undefined, 'cityName')" class="city__item select__options_item select__touch" v-for="city in cities" :key="city">{{ city.name }}</li>
              </template>
            </ul>
          </div>
        </transition>
      </div>
    </div>
    <div class="main__block-row big-padding">
      <div class="main__block-row-item">
        <span style="color: #4A69E2">Documentation</span>
      </div>
    </div>
    <div class="main__block-row">
      <div class="main__block-row-item">
        <label>
          <span>Personal ID</span>
          <template v-if="upload.personalId.name !== null && !isEdit">
            <a target="_blank" class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'personalId')">
              <span class="upload__file_active">
                 <img src="../../static/images/download.svg" alt="upload">Uploaded
                </span>
            </a>
          </template>
          <template v-else>
            <label class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'personalId')">
              <span>
                  <img src="../../static/images/upload-file.svg" alt="upload">Upload new
                </span>
            </label>
          </template>
          <div v-if="errors.personalId.length" class="error">
            <span>{{ errors.personalId[0] }}</span>
          </div>
        </label>
      </div>
      <div class="main__block-row-item">
        <label>
          <span>Personal drivers licence</span>
          <template v-if="upload.driversLicence.name !== null && !isEdit">
            <a target="_blank" class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'driversLicence')">
              <span class="upload__file_active">
                 <img src="../../static/images/download.svg" alt="upload">Uploaded
                </span>
            </a>
          </template>
          <template v-else>
            <label class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'driversLicence')">
              <span>
                  <img src="../../static/images/upload-file.svg" alt="upload">Upload new
                </span>
            </label>
          </template>
          <div v-if="errors.driversLicence.length" class="error">
            <span>{{ errors.driversLicence[0] }}</span>
          </div>
        </label>
      </div>
    </div>
    <div class="main__block-row">
      <div class="main__block-row-item">
        <label>
          <span>Background criminal check</span>
          <template v-if="upload.criminalCheck.name !== null && !isEdit">
            <a target="_blank" class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'criminalCheck')">
              <span class="upload__file_active">
                 <img src="../../static/images/download.svg" alt="upload">Uploaded
                </span>
            </a>
          </template>
          <template v-else>
            <label class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'criminalCheck')">
              <span>
                  <img src="../../static/images/upload-file.svg" alt="upload">Upload new
                </span>
            </label>
          </template>
          <div v-if="errors.criminalCheck.length" class="error">
            <span>{{ errors.criminalCheck[0] }}</span>
          </div>
        </label>
      </div>
      <div class="main__block-row-item">
        <label>
          <span>Other</span>
          <label class="upload__file">
            <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'other')">
            <span class="upload__file_active" v-if="upload.other.name"><img src="../../static/images/download.svg" alt="upload">Uploaded</span>
            <span v-else><img src="../../static/images/upload-file.svg" alt="upload">Upload new</span>
          </label>
          <div v-if="errors.other.length" class="error">
            <span>{{ errors.other[0] }}</span>
          </div>
        </label>
      </div>
    </div>
  </div>
  <div class="profile__photo desk-content">
    <label class="upload__file" style="height: 0">
      <input id="photo" class="" type="file" name="file" accept="image/png, image/jpeg" :disabled="!isEdit" @change="uploadFile($event, 'photo')">
    </label>
    <span>Photo</span>
    <label for="photo" class="photo" :class="{ 'no__image': upload.photo.length === 0 && imgURL.length === 0 }" :style='{ backgroundImage: imgURL }' style="margin-top: 0">
      <span v-if="upload.photo.name === undefined">Photo<img src="../../static/images/information.svg" alt="information"></span>
    </label>
    <div class="photo__error">
      <div v-if="errors.photo.length" class="error">
        <span>{{ errors.photo[0] }}</span>
      </div>
    </div>
  </div>
  <div v-if="isEdit" class="main__block-buttons sticky-footer">
    <button class="main__block-buttons-item cancel" @click="cancelEdit()" type="button">Cancel</button>
    <button class="main__block-buttons-item create" @click="updateProfile()" type="button">Save</button>
  </div>
  <div v-else style="height: 32px;width: 100%"></div>
  <v-notification
      :is-show="notification.isShow"
      :type="notification.type"
      @closeNotification="notification.isShow = false"
  />
</template>

<script>
import toggleSelects from "../../mixins/toggleSelects";
import validations from "../../mixins/validations";
import uploadFile from "../../mixins/uploadFile";
import { api } from '@/helpers/axios';
import { VueTelInput } from 'vue3-tel-input';
import {mapGetters} from "vuex";
import VNotification from "../../components/popups/v-notification.vue";
import notification from "../../mixins/notification.js";

export default {
  name: "v-profile",
  mixins: [toggleSelects, validations, uploadFile ],
  props: ['countries', 'cities', 'isLoadingCities', 'collectDataProfile', 'user', 'edit'],
  computed: {
    ...mapGetters(['getProfileInSession']),
    getCriminalCheckLink () {
      return process.env.VUE_APP_IMG_LINK + 'profiles/' + this.user.id + '/' + this.upload.criminalCheck.name
    },
    getDriversLicenceLink () {
      return process.env.VUE_APP_IMG_LINK + 'profiles/' + this.user.id + '/' + this.upload.driversLicence.name
    },
    getPersonalIdLink () {
      return process.env.VUE_APP_IMG_LINK + 'profiles/' + this.user.id + '/' + this.upload.personalId.name
    }
  },
  components: {
    VNotification,
    VueTelInput
  },
  data() {
    return {
      isEdit: true,
      upload: {
        personalId: {},
        driversLicence: {},
        criminalCheck: {},
        photo: {},
        other: {},
      },
      imgURL: '',
      selects: {
        country: false,
        city: false,
      },
      firstName: '',
      lastName: '',
      phone: '',
      whatsapp: '',
      email: '',
      country: {},
      city: {},
      cityName: '',
      countryName: '',
      filteredCities: [],
      filteredCountries: [],
      errors: {
        firstName: [],
        lastName: [],
        phone: [],
        whatsapp: [],
        email: [],
        country: [],
        city: [],
        personalId: [],
        driversLicence: [],
        criminalCheck: [],
        photo: [],
        other: {},
      },
      notification: {
        type: '',
        isShow: false
      }
    }
  },
  methods: {
    profileValidation() {
      this.updateErrors();
      this.validation(this.firstName, 'firstName', ['require', 'english']);
      this.validation(this.lastName, 'lastName', ['require', 'english']);
      this.validation(this.phone, 'phone', ['require', 'numbers']);
      this.validation(this.whatsapp, 'whatsapp', ['require', 'numbers']);
      this.validation(this.email, 'email', ['require', 'email']);
      this.validation(this.country.name, 'country', ['require']);
      if (this.country.name !== undefined){
        this.validation(this.city.name, 'city', ['require']);
      }
      this.validation(this.upload.personalId.name, 'personalId', ['require']);
      this.validation(this.upload.driversLicence.name, 'driversLicence', ['require']);
      this.validation(this.upload.criminalCheck.name, 'criminalCheck', ['require']);
      this.validation(this.upload.photo.name, 'photo', ['require']);
    },
    inputPhone(phone, phoneObject) {
      this.errors.phone = [];
      if (phoneObject !== undefined){
        this.phone = phoneObject.formatted
        if (!phoneObject.valid && phone.length > 0){
          this.errors.phone.push('Not valid phone')
        }
      }
    },
    getProfile() {
      this.firstName = this.user.profile.first_name;
      this.lastName = this.user.profile.last_name;
      this.whatsapp = this.user.profile.whatsapp;
      this.country.name = this.user.profile.country;
      this.city = {}
      this.city.name = this.user.profile.city;
      this.email = this.user.email;
      this.phone = this.user.phone;
      this.upload.personalId = {};
      this.upload.personalId.name = this.user.profile.passport || '';
      this.upload.driversLicence = {};
      this.upload.driversLicence.name = this.user.profile.driver_licence || '';
      this.upload.criminalCheck = {};
      this.upload.criminalCheck.name = this.user.profile.criminal_check || '';
      this.upload.photo = {};
      this.upload.photo = {name: this.user.profile.photo};
      this.imgURL = `url("${process.env.VUE_APP_BACKEND_DOMAIN}${this.upload.photo.name}")`
      // this.imgURL = 'url("' + process.env.VUE_APP_IMG_LINK + 'profiles/' + this.user.id + '/' + this.upload.photo.name + '"'
    },
    forceFileDownload(response, title) {
      const url = window.URL.createObjectURL(new Blob([response.data]))
      const link = document.createElement('a')
      link.href = url
      link.setAttribute('download', title)
      document.body.appendChild(link)
      link.click()
    },
    downloadWithAxios(nameImg, title) {
      let url = process.env.VUE_APP_IMG_LINK + 'profiles/' + this.user.id + '/' + nameImg;
      // url = 'https://img1.akspic.ru/attachments/crops/2/2/4/0/50422/50422-senokosnoye_ugodye-pole-selskoe_hozyajstvo-zakat-risovoe_pole-2560x1440.jpg'
      // url = 'https://c.dns-shop.ru/thumb/st4/fit/100/100/51c2b2d3b7b278f9d20febd16ff18f4f/99b0302df72984673e65ac3ce39441cf6a02f1462ab150c73259639c0a8dccdf.jpg.webp';
      // url = 'https://www.mytripline.com/img/home-head.jpg';
      api({
        method: 'get',
        url,
        responseType: 'arraybuffer',
        headers: {
          'Access-Control-Allow-Origin' : '*',
          // 'Access-Control-Allow-Credentials': true
        }
      }).then((response) => {
        this.forceFileDownload(response, title)
      }).catch((error) => console.log(error))
    },
    updateProfile() {
      this.profileValidation();
      if (!this.checkErrors()){
        this.notification.type = 'save';
        this.notification.isShow = true;
        notification.alert().then(resp => {
          this.notification.isShow = false;
          if (resp) {
            this.$store.commit('CHANGE_STATUS_LOAD', true);
            let profile = {
              'first_name' : this.firstName,
              'last_name' : this.lastName,
              'whatsapp' : this.whatsapp,
              'country' : this.country.name,
              'city' : this.city.name,
              // 'phone' : this.phone,
              // 'email' : this.email,
            }
            let files = {
              'passport' : this.upload.personalId,
              'driver_licence' : this.upload.driversLicence,
              'criminal_check' : this.upload.criminalCheck,
              'photo' : this.upload.photo,
            }
            if (this.user.status === 'new') {
              let profileLocal = {};
              for(let prop in profile){
                profileLocal[prop] = profile[prop];
              }
              profileLocal.country = this.country
              profileLocal.city = this.city
              profileLocal.imgURL = this.imgURL
              this.$store.commit('SET_PROFILE', {'profile': profile, files})
            }
            let formData = new FormData();
            formData.append('profile', JSON.stringify(profile));
            formData.append('passport', this.upload.personalId);
            formData.append('driverLicence', this.upload.driversLicence);
            formData.append('criminalCheck', this.upload.criminalCheck);
            formData.append('photo', this.upload.photo);
            formData.append('user_id', this.user.id);
            formData.append('phone', this.phone);
            api.post(`${process.env.VUE_APP_API_DOMAIN}profile/update`, formData,
                {
                  headers: {
                    'Content-Type': 'multipart/form-data'
                  }
                })
                .then( resp => {
                  if (resp.data.status) {
                    this.$store.commit('SET_USER', resp.data.user);
                    this.$store.commit('CHANGE_STATUS_LOAD', false);
                    this.notification.type = 'success';
                    this.notification.isShow = true;
                    this.isEdit = false;
                  }
                })
          }
        })
      }
    },
    cancelEdit() {
      this.notification.isShow = true;
      this.notification.type = 'cancel';
      notification.alert().then(resp => {
        if (resp) {
          this.isEdit = false;
          this.getProfile();
        }
        this.notification.isShow = false;
      })
    }
  },
  watch: {
    collectDataProfile: function (){
      this.profileValidation();
      if (!this.checkErrors()){
        let profile = {
          'first_name' : this.firstName,
          'last_name' : this.lastName,
          'whatsapp' : this.whatsapp,
          'country' : this.country.name,
          'city' : this.city.name,
          'phone' : this.phone,
          'email' : this.email,
        }
        let files = {
          'passport' : this.upload.personalId,
          'driver_licence' : this.upload.driversLicence,
          'criminal_check' : this.upload.criminalCheck,
          'photo' : this.upload.photo,
        }
        if (this.user.status === 'new') {
          let profileLocal = {};
          for(let prop in profile){
            profileLocal[prop] = profile[prop];
          }
          profileLocal.country = this.country
          profileLocal.city = this.city
          profileLocal.imgURL = this.imgURL
          this.$store.commit('SET_PROFILE', {'profile': profileLocal, files})
        }
        this.$emit('collectDataProfile', {profile, files})
      }
    },
    edit(newValue) {
      if (newValue === false) {
        this.getProfile()
      }
    },
    country(newValue) {
      if (newValue.name !== undefined) {
        this.countryName = newValue.name
      }
      if (this.city.name === undefined) {
        this.cityName = ''
      }
    },
    city(newValue) {
      if (newValue.name !== undefined) {
        this.cityName = newValue.name
      }
    },
  },
  created() {
    if (this.user.status === 'confirmed' || this.user.status === 'checking') {
      this.getProfile();
      this.countryName = this.country.name;
      this.cityName = this.city.name;
    } else if (this.user.status === 'new' && this.getProfileInSession.profile !== undefined) {
      let profile = this.getProfileInSession.profile
      let files = this.getProfileInSession.files
      this.firstName = profile.first_name
      this.lastName = profile.last_name
      this.phone = profile.phone
      this.whatsapp = profile.whatsapp
      this.email = profile.email
      this.country = profile.country
      this.city = profile.city
      this.upload.personalId = files.passport
      this.upload.driversLicence = files.driver_licence
      this.upload.criminalCheck = files.criminal_check
      this.upload.photo = files.photo
      this.imgURL = profile.imgURL
    }
  }
}
</script>

<style scoped lang="scss">
form{
  display: flex;
  justify-content: space-between;
  & > div{
    width: 26%;
  }
}
.profile__info {
  width: calc(100% - 274px);
}
.profile__photo {
  width: 274px;
}
.main__block-row-item {
  margin-right: 32px;
  position: relative;
}
.big-padding{
  padding: 20px 0 10px 0;
}
@media (max-width: 1200px) {
  .main__block-row{
    width: 100%;
    flex-direction: column;
  }
  .main__block{
    height: auto;
    overflow: visible;
    max-height: none;
  }
  .profile__inner{
    flex-direction: column;
  }
  .profile__info{
    width: 100%;
  }
  .profile__photo{
    width: 100%;
  }
  .main__block{
    max-height: none;
    padding: 0 20px;
  }
  .main__block-row-item{
    margin-right: 0;
    justify-content: space-between !important;
  }
  .profile-mobile-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    & > div{
      width: 82px;
    }
  }
}
</style>
