<template>
  <div class="load-api" v-if="getStatusLoad">
<!--    <div class="loader"></div>-->
    <img src="./static/images/loader.png" class="loader2" alt="loader">
    <div style="margin-left: 12px;" v-if="$store.state.loadPercent && $store.state.loadPercent !== 100">
      <p>{{ $store.state.loadPercent }}%</p>
    </div>
  </div>
    <component :is="layout" v-if="isAuthEnd">
      <router-view/>
    </component>
</template>

<script>
import LayoutLogin from './layouts/login.vue'
import LayoutDefault from './layouts/default.vue'
import LayoutVerification from './layouts/verification.vue'
import {mapGetters} from "vuex";
import VNotification from "./components/popups/v-notification.vue";
import { api } from '@/helpers/axios';

export default {
  name: 'App',
  components: {
    VNotification,
    LayoutLogin,
    LayoutDefault,
    LayoutVerification
  },
  data() {
    return {
      isAuthEnd: false,
    }
  },
  computed: {
    ...mapGetters(['getStatusLoad', 'getUser']),
    layout() {
      return this.$route.meta.layout
    }
  },
  methods: {
    auth() {
      let token = localStorage.getItem('token')
      api.post(`${process.env.VUE_APP_API_DOMAIN}user/auth`, {token}).then(async (resp) => {
        console.log('route path: ' + this.$route.path)
        if (resp.data.status){
          if (resp.data.user.status === 'new') {
            this.$router.replace('/verification/profile')
          } else if (resp.data.user.status === 'checking') {
            this.$router.replace('/verification/success')
          }
          this.$store.commit('SET_USER', resp.data.user)
          if (resp.data.user.status === 'confirmed') {
            const { data: drivers } = await api.post(`${process.env.VUE_APP_API_DOMAIN}drivers/all`, {partner_id: this.getUser.id})
            const { data: vehicles } = await api.post(`${process.env.VUE_APP_API_DOMAIN}vehicles/all`, {user_id: this.getUser.id})
            if (drivers.filter(x => x.state === 'Approved').length > 0 && vehicles.filter(x => x.state === 'Approved').length > 0) {
              this.$store.commit('SET_SHOW_BOOKING', true)
            } else {
              this.$store.commit('SET_SHOW_BOOKING', false)
            }

            if (this.$route.path === '/' || this.$route.name === 'login') {
              this.$router.replace('/drivers?page=1')
            }
          }
        } else if (this.$route.path !== '/verification/new-password') {
          this.$router.replace('/login')
        }
        this.isAuthEnd = true
      })
    },
  },
  watch: {
    '$route.name':function (newValue) {
      console.log(newValue)
    },
  },
  created() {
    this.auth()
  },
}
</script>

<style lang="scss">
.load-api{
  //backdrop-filter: blur(5px);
  position: fixed;
  height: 100lvh;
  width: 100%;
  display: flex;
  //flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  z-index: 1000000000;
  .loader{
    background: none;
    position: absolute;
    height: 60px;
    width: 60px;
    border: 4px solid black;
    border-top: 4px solid #1969A9;
  }
}
.checking__popup{
  backdrop-filter: blur(6px);
  position: fixed;
  height: 100vh;
  width: 100%;
  z-index: 1000000;
  display: flex;
  align-items: center;
  justify-content: center;
  &_inner{
    background: white;
    padding: 60px 30px 30px 30px;
    box-shadow: 0 4px 45px 20px rgba(59, 58, 58, 0.089);
    border-radius: 7px;
    display: flex;
    flex-direction: column;
    align-items: center;
    img{
      width: 60px;
      margin-bottom: 20px;
    }
    span{
      text-align: center;
      font-family: 'Poppins', sans-serif;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      line-height: 30px;
      /* or 125% */

      display: flex;
      align-items: center;
    }
  }
}
@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.loader2 {
  width: 80px;
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}
</style>
