<template>
  <div>
    <button @click="$router.push({name: 'vehicle-add'})" class="btn-black">+ ADD NEW VEHICLES</button>
  </div>
  <v-content-header
      class="content-header"
      :items="['#', 'Marka', 'Model', 'Year', 'Licence plate', 'Color', 'Class', 'Status', 'Tools']"
  />
  <div class="content-table">
    <div class="content-table__main">
      <div class="content-table__list">
        <div class="content-table__item" v-for="vehicle in resultingArray" :key="vehicle">
          <div class="content-table__item-value mobile-list__item-value" style="width: 5%">
            <span class="mobile-list__title">#</span>
            <span>{{ vehicle.id }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 15%">
            <span class="mobile-list__title">Marka</span>
            <span>{{ vehicle.mark }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 15%">
            <span class="mobile-list__title">Model</span>
            <span>{{ vehicle.model }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 5%">
            <span class="mobile-list__title">Year</span>
            <span>{{ vehicle.year }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 15%">
            <span class="mobile-list__title">Licence plate</span>
            <span>{{ vehicle.licence }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 10%">
            <span class="mobile-list__title">Color</span>
            <span>{{ vehicle.color }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 10%">
            <span class="mobile-list__title">Class</span>
            <span>{{ vehicle.class }}</span>
          </div>
          <div class="content-table__item-value mobile-list__item-value" style="width: 10%">
            <span class="mobile-list__title">Status</span>
            <span
                :class="{ 'pending-color': vehicle.state === 'Pending time', 'approved-color': vehicle.state === 'Approved' }">{{
                vehicle.state
              }}</span>
          </div>
          <div class="content-table__item-value vehicles__tools mobile-list__item-value" style="width: 15%">
            <span class="mobile-list__title">Tools</span>
            <router-link class="link" :to="{ name: 'vehicle', params: {id: vehicle.id} }">Details</router-link>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pagination" v-if="showPagination">
    <div class="pagination__inner">
      <img v-if="currentPage !== 1" @click="getCurrentPageArray(currentPage - 1, vehicles)"
           style="transform: rotate(180deg);" src="../../static/images/pagination-arrow.svg" alt="pagination-arrow">
      <template v-for="index in countPages" :key="index">
        <span v-if="currentPage !== 1 && currentPage !== 2 && index === currentPage - 1" class="pagination__ellipsis">...</span>
        <span v-if="getStatusShowPaginationItem(index)" :class="{ 'current-page':index === currentPage }"
              class="pagination__page" @click="getCurrentPageArray(index, vehicles)">{{ index }}</span>
        <span v-if="currentPage !== countPages && currentPage !== countPages - 1 && index === currentPage + 1"
              class="pagination__ellipsis">...</span>
      </template>
      <img v-if="currentPage !== countPages" @click="getCurrentPageArray(currentPage + 1, vehicles)"
           src="../../static/images/pagination-arrow.svg" alt="pagination-arrow">
    </div>
  </div>
</template>

<script>
import {mapGetters} from "vuex";
import VContentHeader from "../../components/v-content-header.vue";
import pagination from "../..//mixins/pagination.js";
import { api } from '@/helpers/axios';

export default {
  name: "p-vehicles",
  components: {VContentHeader},
  props: ['countries'],
  mixins: [pagination],
  computed: {
    ...mapGetters(['getUser'])
  },
  data() {
    return {
      vehicles: [],
    }
  },
  created() {
    api.post(`${process.env.VUE_APP_API_DOMAIN}vehicles/all`, {user_id: this.getUser.id}).then(resp => {
      this.vehicles = resp.data;
      if (window.innerWidth < 600) {
        this.setElementsOnPage(2);
      }
      if (this.vehicles?.length) {
        this.startPagination(this.vehicles);
      }
    })
  }
}
</script>

<style scoped lang="scss">
.vehicles {
  &__title_item.name, &__name {
    width: 24%;
  }

  &__title_item.year, &__year {
    width: 13%;
  }

  &__title_item.license__plate, &__license_plate {
    width: 13%;
  }

  &__title_item.color, &__color {
    width: 13%;
  }

  &__title_item.service__class, &__service_class {
    width: 13%;
  }

  &__title_item.state, &__state {
    width: 20%;
  }

  &__title_item.tools, &__tools {
    width: 4%;
  }
}

.title {
  &__list {
    display: flex;
    justify-content: space-between;
  }
}

.vehicles {
  margin-top: 14px;
  border-top: 1px solid rgba(25, 105, 169, 0.5);

  &__item {
    min-height: 60px;
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 16px 10px;
    border-bottom: 1px solid rgba(25, 105, 169, 0.5);

    & > div {
      padding-right: 20px;

      & > span {
        font-family: 'NunitoSans', sans-serif;
        font-size: 14px;
        line-height: 20px;
        color: rgba(0, 0, 0, 0.9);
      }
    }
  }
}

@media (max-width: 1200px) {
  .content-table__item {
    display: flex;
    flex-direction: column;
    align-items: start;
    height: auto;
    padding-left: 20px;

    & > div {
      width: 100% !important;

      span, a {
        padding: 6px 0;
      }
    }

    margin-bottom: 24px;
    background: white;
    border-radius: 4px;
  }
  .content-header {
    display: none;
  }
  .content-table {
    margin-top: 10px;
    background: #E6E6E3;
  }
}
</style>
