<template>
  <div class="wrapper__small">
    <router-link to="/vehicles" class="back"><img src="../../static/images/back-arrow.svg" alt="arrow"> &nbsp; Back to vehicles</router-link>
    <div class="main__block modal-padding">
      <div class="main__block-row mobile-header sticky-header">
        <div class="main__block-row-item">
          <span class="main__block-title">New vehicle</span>
        </div>
        <div class="main__block-row-item" style="display: flex;justify-content: flex-end;">
          <button @click="$router.push({name: 'vehicles'})" type="button" class="btn-close">
            <img src="../../static/images/close.svg" alt="cancel">
          </button>
        </div>
      </div>
      <div class="main__block-row">
        <div class="verification-select main__block-row-item">
          <div class="city form__btn_select select select__touch" ref="select">
            <label for="vehicles">Vehicle</label>
            <div class="select__touch input__select" id="vehicles">
              <input @blur="blurSelect('carMarkName', carMark)"
                     @focus="toggleSelect('carMark', 'focus', carMarkName, cars, 'filteredCars', 'carMark')"
                     @input="toggleSelect('carMark', 'input', carMarkName, cars, 'filteredCars', 'carMark')"
                     v-model="carMarkName"
                     placeholder="Enter vehicle*"
                     class="select__touch" type="text"/>
              <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="cities select__options select__touch" v-if="selects.carMark">
                <ul class="city__list select__options_list select__touch">
                  <template v-if="filteredCars.length || carMarkName.length > 0">
                    <template v-if="filteredCars.length">
                      <li @click="changeSelect('carMark', car, 'carMark', undefined, 'carMarkName')" class="city__item select__options_item select__touch" v-for="car in filteredCars" :key="car">{{ car.name }}</li>
                    </template>
                    <template v-else>
                      <span>Not found</span>
                    </template>
                  </template>
                  <template v-else>
                    <li @click="changeSelect('carMark', car, 'carMark', undefined, 'carMarkName')" class="city__item select__options_item select__touch" v-for="car in filteredCars" :key="car">{{ car.name }}</li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
          <div v-if="errors.carMark.length" class="error">
            <span>{{ errors.carMark[0] }}</span>
          </div>
        </div>
        <div class="verification-select main__block-row-item">
          <div class="city form__btn_select select select__touch" ref="select">
            <label for="serviceClass">Service class</label>
            <div class="select__touch input__select" id="serviceClass">
              <input @blur="blurSelect('serviceClassName', serviceClass)"
                     @focus="toggleSelect('serviceClass', 'focus', serviceClassName, serviceClasses, 'filteredServiceClasses', 'serviceClass')"
                     @input="toggleSelect('serviceClass', 'input', serviceClassName, serviceClasses, 'filteredServiceClasses', 'serviceClass')"
                     v-model="serviceClassName"
                     placeholder="Enter vehicle*"
                     class="select__touch" type="text"/>
              <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="cities select__options select__touch" v-if="selects.serviceClass">
                <ul class="city__list select__options_list select__touch">
                  <template v-if="filteredServiceClasses.length || serviceClassName.length > 0">
                    <template v-if="filteredServiceClasses.length">
                      <li @click="changeSelect('serviceClass', car, 'serviceClass', undefined, 'serviceClassName')" class="city__item select__options_item select__touch" v-for="car in filteredServiceClasses" :key="car">{{ car.title }}</li>
                    </template>
                    <template v-else>
                      <span>Not found</span>
                    </template>
                  </template>
                  <template v-else>
                    <li @click="changeSelect('carModel', car, 'carModel', undefined, 'serviceClassName')" class="city__item select__options_item select__touch" v-for="car in filteredServiceClasses" :key="car">{{ car.title }}</li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
          <div v-if="errors.serviceClass.length" class="error">
            <span>{{ errors.serviceClass[0] }}</span>
          </div>
        </div>
      </div>
      <div class="main__block-row">
        <div class="verification-select main__block-row-item">
          <div class="city form__btn_select select select__touch" ref="select">
            <label for="carModel">Vehicle model</label>
            <div class="select__touch input__select" id="carModel">
              <input @blur="blurSelect('cityName', carModel)"
                     @focus="toggleSelect('carModel', 'focus', carModelName, carModels, 'filteredCarModels', 'carModel')"
                     @input="toggleSelect('carModel', 'input', carModelName, carModels, 'filteredCarModels', 'carModel')"
                     v-model="carModelName"
                     placeholder="Enter vehicle*"
                     :disabled="carMark.name === undefined"
                     class="select__touch" type="text"/>
              <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="cities select__options select__touch" v-if="selects.carModel">
                <ul class="city__list select__options_list select__touch">
                  <template v-if="filteredCarModels.length || carModelName.length > 0">
                    <template v-if="filteredCarModels.length">
                      <li @click="changeSelect('carModel', car, 'carModel', undefined, 'carModelName')" class="city__item select__options_item select__touch" v-for="car in filteredCarModels" :key="car">{{ car.name }}</li>
                    </template>
                    <template v-else>
                      <span>Not found</span>
                    </template>
                  </template>
                  <template v-else>
                    <li @click="changeSelect('carModel', car, 'carModel', undefined, 'carModelName')" class="city__item select__options_item select__touch" v-for="car in filteredCarModels" :key="car">{{ car.name }}</li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
          <div v-if="errors.carMark.length" class="error">
            <span>{{ errors.carMark[0] }}</span>
          </div>
        </div>
        <div class="verification-select main__block-row-item">
          <div class="city form__btn_select select select__touch" ref="select">
            <label for="year">Year</label>
            <div class="select__touch input__select" id="year">
              <input @blur="blurSelect('yearInput', year)"
                     @focus="toggleSelect('year', 'focus', yearInput, years, 'filteredYears', 'year')"
                     @input="toggleSelect('year', 'input', yearInput, years, 'filteredYears', 'year')"
                     v-model="yearInput"
                     placeholder="Enter vehicle*"
                     class="select__touch" type="text"/>
              <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="cities select__options select__touch" v-if="selects.year">
                <ul class="city__list select__options_list select__touch">
                  <template v-if="filteredYears.length || yearInput.length > 0">
                    <template v-if="filteredYears.length">
                      <li @click="changeSelect('year', year, 'year', undefined, 'yearInput')" class="city__item select__options_item select__touch" v-for="year in filteredYears" :key="year">{{ year }}</li>
                    </template>
                    <template v-else>
                      <span>Not found</span>
                    </template>
                  </template>
                  <template v-else>
                    <li @click="changeSelect('year', year, 'year', undefined, 'yearInput')" class="city__item select__options_item select__touch" v-for="year in filteredYears" :key="year">{{ year }}</li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
          <div v-if="errors.year.length" class="error">
            <span>{{ errors.year[0] }}</span>
          </div>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item">
          <label>
            <span>License plate</span>
            <input type="text" placeholder="Enter License plate*" v-model="licensePlate">
            <div v-if="errors.licensePlate.length" class="error">
              <span>{{ errors.licensePlate[0] }}</span>
            </div>
          </label>
        </div>
        <div class="verification-select main__block-row-item">
          <div class="city form__btn_select select select__touch" ref="select">
            <label for="color">Color</label>
            <div class="select__touch input__select" id="color">
              <input @blur="blurSelect('colorInput', color)"
                     @focus="toggleSelect('color', 'focus', colorInput, colors, 'filteredColors', 'color')"
                     @input="toggleSelect('color', 'input', colorInput, colors, 'filteredColors', 'color')"
                     v-model="colorInput"
                     placeholder="Enter vehicle*"
                     class="select__touch" type="text"/>
              <img class="select__arrow select__touch" src="../../static/images/select-arrow.svg" alt="select">
            </div>
            <transition name="anime-select">
              <div class="cities select__options select__touch" v-if="selects.color">
                <ul class="city__list select__options_list select__touch">
                  <template v-if="filteredColors.length || colorInput.length > 0">
                    <template v-if="filteredColors.length">
                      <li @click="changeSelect('color', color, 'color', undefined, 'colorInput')" class="city__item select__options_item select__touch" v-for="color in filteredColors" :key="color">{{ color }}</li>
                    </template>
                    <template v-else>
                      <span>Not found</span>
                    </template>
                  </template>
                  <template v-else>
                    <li @click="changeSelect('color', color, 'color', undefined, 'colorInput')" class="city__item select__options_item select__touch" v-for="color in filteredColors" :key="color">{{ color }}</li>
                  </template>
                </ul>
              </div>
            </transition>
          </div>
          <div v-if="errors.color.length" class="error">
            <span>{{ errors.color[0] }}</span>
          </div>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item">
          <span style="color: #4A69E2">Documentation</span>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item">
          <label>
            <span>Car registration</span>
            <label class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" @change="uploadFile($event, 'carRegistration')">
              <span class="upload__file_active" v-if="upload.carRegistration.name !== undefined"><img src="../../static/images/download.svg" alt="upload">Download</span>
              <span v-else><img src="../../static/images/upload-file.svg" alt="upload">Upload new</span>
            </label>
            <div v-if="errors.carRegistration.length" class="error">
              <span>{{ errors.carRegistration[0] }}</span>
            </div>
          </label>
        </div>
        <div class="main__block-row-item">
          <label>
            <span>Car technical inspection</span>
            <label class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" @change="uploadFile($event, 'technicalInspection')">
              <span class="upload__file_active" v-if="upload.technicalInspection.name !== undefined"><img src="../../static/images/download.svg" alt="upload">Download</span>
              <span v-else><img src="../../static/images/upload-file.svg" alt="upload">Upload new</span>
            </label>
            <div v-if="errors.technicalInspection.length" class="error">
              <span>{{ errors.technicalInspection[0] }}</span>
            </div>
          </label>
        </div>
      </div>
      <div class="main__block-row">
        <div class="main__block-row-item">
          <label>
            <span>Third-party insurance, green card</span>
            <label class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" @change="uploadFile($event, 'greenCard')">
              <span class="upload__file_active" v-if="upload.greenCard.name !== undefined"><img src="../../static/images/download.svg" alt="upload">Download</span>
              <span v-else><img src="../../static/images/upload-file.svg" alt="upload">Upload new</span>
            </label>
            <div v-if="errors.greenCard.length" class="error">
              <span>{{ errors.greenCard[0] }}</span>
            </div>
          </label>
        </div>
        <div class="main__block-row-item">
          <label>
            <span>Other</span>
            <label class="upload__file">
              <input type="file" name="file" accept="image/png, application/pdf, image/jpeg" @change="uploadFile($event, 'other')">
              <span class="upload__file_active" v-if="upload.other.name !== undefined"><img src="../../static/images/download.svg" alt="upload">Download</span>
              <span v-else><img src="../../static/images/upload-file.svg" alt="upload">Upload new</span>
            </label>
            <div v-if="errors.other.length" class="error">
              <span>{{ errors.other[0] }}</span>
            </div>
          </label>
        </div>
      </div>
      <div class="photos__list">
        <div class="photos__item" v-for="(img, index) in imgURL" :key="index">
          <img :src="img" alt="img">
          <button class="remove-img" @click="removePhoto(index)">
            <img src="../../static/images/close.svg" alt="cancel">
          </button>
        </div>
      </div>
      <div v-if="imgURL.length < 4" class="photos" style="height: 150px;width: 100%; border: 2px dashed #C1C1C1;position: relative">
        <div class="not-photos">
          <img src="../../static/images/drop-file.svg" alt="drop-file">
          <span>Drop files here or click to upload.</span>
        </div>
        <input type="file" accept="image/png, image/jpeg"  style="height: 100%;width: 100%;opacity: 0;z-index: 10000;position: absolute;left: 0;top: 0" @change="uploadFile($event, 'photosCar')"/>
      </div>
      <div v-if="errors.photosCar.length" class="error">
        <span>{{ errors.photosCar[0] }}</span>
      </div>
      <div class="main__block-buttons sticky-footer">
        <button class="main__block-buttons-item cancel" @click="$router.push({name: 'vehicles'})" type="button">Cancel</button>
        <button class="main__block-buttons-item create" :class="errorAdd ? 'gray-btn' : ''" @click="addVehicle()" type="button">Create</button>
      </div>
    </div>
  </div>
</template>

<script>
import toggleSelects from "../../mixins/toggleSelects.js";
import validations from "../../mixins/validations.js";
import uploadFile from "../../mixins/uploadFile.js";
import removePhoto from "../../mixins/uploadFile.js";
import {mapGetters} from "vuex";
import { api as axios } from '@/helpers/axios';

export default {
  name: "vehicles-item",
  mixins: [toggleSelects, validations, uploadFile, removePhoto ],
  props: ['countries'],
  computed: {
    ...mapGetters(['getUser', 'getStatusEdit'])
  },
  data() {
    return {
      upload: {
        carRegistration: {},
        technicalInspection: {},
        greenCard: {},
        photosCar: [],
        other: {},
      },
      errorAdd: false,
      licensePlate: '',
      imgURL: [],
      selects: {
        country: false,
        city: false,
        carMark: false,
        carModel: false,
        year: false,
        color: false,
        serviceClass: false,
      },
      cars: [],
      filteredCars: [],
      carMark: {},
      carMarkName: '',
      carModels: [],
      filteredCarModels: [],
      carModel: {},
      carModelName: '',
      years: [],
      filteredYears: [],
      year: '',
      yearInput: '',
      colors: ['Black', 'White', 'Silver', 'Red', 'Green', 'Yellow', 'Blue', 'Brown'],
      filteredColors: [],
      color: '',
      colorInput: '',
      serviceClasses: [],
      filteredServiceClasses: [],
      serviceClass: '',
      serviceClassName: '',
      formData: '',
      vehicleId: '',
      initialData: {},
      errors: {
        carRegistration: [],
        technicalInspection: [],
        greenCard: [],
        carMark: [],
        carModel: [],
        year: [],
        color: [],
        serviceClass: [],
        licensePlate: [],
        photosCar: [],
        other: [],
      },
    }
  },
  methods: {
    getCities(dataCountry) {
      this.isLoadingCities = true;
      axios.post(`${process.env.VUE_APP_API_DOMAIN}profile/cities`, {countryId: dataCountry.countryId}).then( resp => {
        this.cities = resp.data
        this.isLoadingCities = false;
      })
    },
    getCars() {
      axios.get('https://cars-base.ru/api/cars').then( resp => {
        this.cars = [];
        let cars = this.cars;
        resp.data.forEach(function (item){
          if (!(/[а-яё]/i).test(item.name)){
            cars.push(item)
          }
        })
      })
    },
    getCarModels() {
      axios.get(`https://cars-base.ru/api/cars/${this.carMark.id}`).then( resp => {
        this.carModels = resp.data
        this.carModels.forEach(function (item){
          item.name = item.name.replace('Класс', 'Class')
        })
      })
    },
    validationsVehicle() {
      this.updateErrors();
      this.validation(this.carMark.name, 'carMark', ['require']);
      if (this.carMark.name !== undefined){
        this.validation(this.carModel.name, 'carModel', ['require']);
      }
      this.validation(this.year, 'year', ['require']);
      this.validation(this.licensePlate, 'licensePlate', ['require', 'english']);
      this.validation(this.color, 'color', ['require']);
      this.validation(this.serviceClass, 'serviceClass', ['require']);
      this.validation(this.upload.carRegistration.name, 'carRegistration', ['require']);
      this.validation(this.upload.technicalInspection.name, 'technicalInspection', ['require']);
      this.validation(this.upload.greenCard.name, 'greenCard', ['require']);
      if (this.upload.photosCar.length < 4){
        this.errors.photosCar.push('Add 4 photos');
      }
    },
    getVehicle() {
      axios.post(`${process.env.VUE_APP_API_DOMAIN}vehicles/get`, { id: this.$route.params.id}).then( resp => {
        this.carMark.name = resp.data.mark;
        this.carModel.name = resp.data.model;
        this.year = resp.data.year;
        this.licensePlate = resp.data.licence;
        this.color = resp.data.color;
        this.serviceClass = { 'title': resp.data.class };
        this.upload.carRegistration = {};
        this.upload.carRegistration.name = resp.data.registration;
        this.upload.technicalInspection = {};
        this.upload.technicalInspection.name = resp.data.inspection;
        this.upload.greenCard = {};
        this.upload.greenCard.name = resp.data['green_card'];
        this.upload.photosCar = {};
        this.upload.photosCar = resp.data.photos;
        this.carMarkName = resp.data.mark.name || '';
        this.carModelName = resp.data.model.name || '';
        this.imgURL = [];
        this.vehicleId = resp.data.id
        for (let i = 0; i < resp.data.photos.length; i++){
          this.imgURL.push(process.env.VUE_APP_IMG_LINK + 'vehicles/' + resp.data.id + '/' + resp.data.photos[i].photo)
        }
        this.initialData = resp.data;
      })
    },
    removeVehicle() {
      this.$store.commit('CHANGE_STATUS_LOAD', true);
      axios.post(`${process.env.VUE_APP_API_DOMAIN}vehicles/remove`, { id: this.$route.params.id}).then( resp => {
        if (resp.data.status){
          this.$store.commit('CHANGE_STATUS_LOAD', false);
          this.$router.push('/vehicles')
        }
      })
    },
    getYears() {
      let years = [];
      let limitYears = 10;
      if (this.serviceClass.title === 'Luxury sedan'){
        limitYears = 5;
      }
      for (let i = new Date().getFullYear(); i >= new Date().getFullYear() - limitYears; i--) {
        years.push(i)
      }
      this.years = years
    },
    setVehicle(type) {
      let vehicleInputs = {
        'mark': this.carMark.name,
        'model': this.carModel.name,
        'year': this.year,
        'licence': this.licensePlate,
        'color': this.color,
        'class': this.serviceClass.title,
      }
      let formData = new FormData();
      formData.append('vehicle', JSON.stringify(vehicleInputs));
      formData.append('registration', this.upload.carRegistration);
      formData.append('inspection', this.upload.technicalInspection);
      formData.append('greenCard', this.upload.greenCard);
      for (let i = 0; i < 4; i++) {
        if (type === 'update'){
          if (this.upload.photosCar[i].photo !== undefined){
            formData.append('photos[oldFiles][]', this.upload.photosCar[i].photo);
          } else {
            formData.append('photos[newFiles][]', this.upload.photosCar[i]);
          }
        } else {
          formData.append('photos[]', this.upload.photosCar[i]);
        }
      }
      formData.append('user_id', this.getUser.id);
      if (type === 'update'){
        formData.append('id', this.vehicleId)
      }
      this.formData = formData
    },
    checkUpdate() {
      return this.carMark.name === this.initialData.mark &&
          this.carModel.name === this.initialData.model &&
          this.year === this.initialData.year &&
          this.licensePlate === this.initialData.licence &&
          this.color === this.initialData.color &&
          this.serviceClass.title === this.initialData.class  &&
          this.upload.carRegistration.name === this.initialData.registration &&
          this.upload.technicalInspection.name === this.initialData.inspection &&
          this.upload.greenCard.name === this.initialData['green_card'] &&
          this.upload.photosCar === this.initialData.photos
    },
    updateVehicle(){
      this.validationsVehicle();
      if (!this.checkErrors() && !this.checkUpdate()){
        this.$store.commit('CHANGE_STATUS_LOAD', true);
        this.setVehicle('update');
        axios.post(`${process.env.VUE_APP_API_DOMAIN}vehicles/update`, this.formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })
            .then( resp => {
              if (resp.data.status){
                this.$store.commit('CHANGE_STATUS_LOAD', false);
                this.$store.commit('CHANGE_EDIT', false)
              }
            })
      } else if (this.checkUpdate()) {
        this.$store.commit('CHANGE_EDIT', false)
      }
    },
    getCarBodies() {
      axios.post(`${process.env.VUE_APP_API_DOMAIN}vehicles/body-types`, this.formData,).then( resp => {
        this.serviceClasses = resp.data
      })
    },
    addVehicle() {
      this.validationsVehicle();
      if (!this.checkErrors()){
        this.$store.commit('CHANGE_STATUS_LOAD', true);
        this.setVehicle('add');
        axios.post(`${process.env.VUE_APP_API_DOMAIN}vehicles/add`, this.formData,
            {
              headers: {
                'Content-Type': 'multipart/form-data'
              }
            })
            .then( resp => {
              if (resp.data.status){
                this.$store.commit('CHANGE_STATUS_LOAD', false);
                this.$router.push('/vehicles');
              }
            })
      }
    }
  },
  created() {
    if (this.$route.name === 'vehicle'){
      this.getVehicle();
    }
    this.getYears();
    this.getCars();
    this.getCarBodies();
  },
  watch: {
    errors: {
      handler(){
        this.errorAdd = this.checkErrors()
      },
      deep: true
    },
    'getStatusEdit' :function (newValue){
      if (!newValue) {
        this.getVehicle();
      }
    },
    carMark(newValue) {
      if (newValue.name !== undefined) {
        this.carMarkName = newValue.name
      }
    },
    carModel(newValue) {
      if (newValue.name !== undefined) {
        this.carModelName = newValue.name
      }
    },
    serviceClass(newValue) {
      if (newValue.title !== undefined) {
        this.serviceClassName = newValue.title
      }
    },
    year(newValue) {
      if (newValue > 0) {
        this.yearInput = newValue
      }
    },
    color(newValue) {
      if (newValue.length > 0) {
        this.colorInput = newValue
      }
    }
  }
}
</script>

<style scoped lang="scss">
.gray-btn {
  background: #585858;
}

.photos__item {
  position: relative;
}

.remove-img {
  position: absolute;
  z-index: 100;
  right: 5px;
  top: 5px;
  background: transparent;
  border: 0;

  img {
    display: flex;
    width: 16px!important;
  }
}

.main__block-row-item {
  margin-right: 32px;
}
.not-photos{
  position: absolute;
  height: 60px;
  width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  top: calc(50% - 30px);
  left: 30%;
  img{
    width: 24px;
    margin-bottom: 15px;
  }
  span{
    color: #212121;
    text-align: center;
    font-family: "Nunito Sans", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
  }
}
.photos{
  margin-top: 40px;
  &__list{
    width: 100%;
    display: flex;
    margin-top: 20px;
  }
  &__item{
    height: 150px;
    width: 25%;
    img{
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.main__block{
  height: calc(100vh - 242px);
  overflow-y: auto;
}
.main__block-buttons{
  margin-top: 40px;
}
@media (max-width: 1200px) {
  .main__block-row{
    width: 100%;
    flex-direction: column;
  }
  .main__block{
    height: auto;
    overflow: visible;
  }
  .main__block{
    max-height: none;
    padding: 0 20px;
  }
  .main__block-row-item{
    margin-right: 0;
    justify-content: space-between !important;
  }
  .mobile-header{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    & > div:first-child{
      width: 140px;
    }
    & > div:last-child{
      width: 32px;
    }
  }
}
</style>
