<template>
  <div class="main">
    <div class="left">
      <v-sidebar
          class="sidebar-desktop"
      />
      <v-burger
          class="sidebar-mobile"
      />
    </div>
    <div class="right">
      <v-header/>
      <div class="content">
        <div class="wrapper">
          <div class="content__inner">
            <router-view
                :countries="countries"
            />
          </div>
        </div>
        <v-footer/>
      </div>
    </div>
  </div>
</template>

<script>
import VHeader from "../components/v-header.vue";
import VSidebar from "../components/v-sidebar.vue";
import { api } from '@/helpers/axios';
import VFooter from "../components/v-footer.vue";
import VBurger from "../components/v-burger.vue";

export default {
  name: "l-default",
  components: {VFooter, VSidebar, VHeader, VBurger},
  data() {
    return {
      countries: [],
    }
  },
  methods: {
    getCountries() {
      api.post(`${process.env.VUE_APP_API_DOMAIN}profile/countries`).then( resp => {
        this.countries = resp.data
      })
    },
  },
  created() {
    this.getCountries();
  }
}
</script>

<style scoped lang="scss">
.main{
  display: flex;
}
.left{
  width: 14%;
  z-index: 1000000;
}
.right{
  width: 86%;
  background: #E7E7E3;
}
.sidebar-mobile{
  display: none;
}
.content{
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: calc(100vh - 96px);
}
@media (max-width: 1200px) {
  .main{
    flex-direction: column;
  }
  .left{
    width: 100%;
    position: sticky;
    top: 0;
    z-index: 100000000;
  }
  .sidebar-desktop{
    display: none;
  }
  .sidebar-mobile{
    display: block;
  }
  .right{
    width: 100%;
  }
}
</style>
