<template>
  <div class="login">
    <div class="login__left">
<!--      <img class="background" src="../static/images/background_login.jpg" alt="background">-->
      <div class="content">
<!--        <div class="logo">
          <img src="../static/images/Logo.svg" alt="logo">
        </div>
        <div class="text">
          <span>Every detail matters,<br/>although detail is just a word.</span>
        </div>-->
      </div>
    </div>
    <div class="login__right">
      <router-view/>
    </div>
  </div>
</template>

<script>
export default {
  name: "l-login",
}
</script>

<style scoped lang="scss">
.login{
  width: calc(100% - 80px);
  height: calc(100vh - 80px);
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  margin: 40px;
  border-radius: 16px;
  background: white;
  box-sizing: border-box;
}
.content{
  width: 60%;
  position: absolute;
  left: 28px;
  margin-left: 8%;
  top: 0;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  .logo{
    width: 100%;
    margin-left: -14%;
    margin-bottom: -10px;
    img{
      width: 100%;
    }
  }
  span{
    color: #FFF;
    font-family: NunitoSans, sans-serif;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 47px;
  }
}
.background{
  width: 100%;
  height: calc(100vh - 80px);
  position: absolute;
  object-fit: cover;
}
.login__left{
  width: 50%;
  height: 100%;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("../static/images/background_login.png");
  background-size: cover;
  background-position: center;
}
.login__right{
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1200px) {
  .login{
    background-image: url("../static/images/background_login.jpg");
    background-size: 100% !important;
    background-position: center;
    //background-repeat: no-repeat;
    flex-direction: column;
    &__form{
      min-width: 200px;
      width: 100%;
      margin: 0 20px;
      border-radius: 18px;
      background: rgba(255, 255, 255, 0.70);
    }
    &__right{
      width: 100%;
    }
    &__left{
      width: 100%;
      background: none;
    }
  }
  .content{
    position: relative;
    width: 300px;
    .logo{
      width: 300px;
      margin-left: -45px;
    }
    span{
      font-size: 20px;
      line-height: normal;
      font-family: "Nunito Sans", sans-serif;
      font-weight: 600;
    }
  }
}
@media (max-width: 600px) {
  .login{
    background-image: url("../static/images/bg-mobile.jpg");
    width: 100%;
    margin: 0;
    height: auto;
    border-radius: 0;
    min-height: 100vh;
  }
  .content{
    margin-bottom: 27px;
  }
  .login__form{
    padding: 40px 16px;
  }
  .content span {
    font-size: 16px;
    font-weight: 400;
  }
  .text{
    text-align: center;
    width: 220px;
    margin-top: 10px;
  }
  .logo{
    margin-top: 20px;
  }
}
</style>
