<template>
<div class="layout">
  <div class="main" id="main">
    <div v-if="this.$route.path !== '/verification/success'" class="left">
      <v-verification-sidebar
          :step="step"
      />
    </div>
    <div class="right" :class="{ 'full-width': this.$route.path === '/verification/success' }">
      <router-view
          @changeStep="this.step = $event"
      />
    </div>
  </div>
</div>
</template>

<script>
import VVerificationSidebar from "../components/verification/v-sidebar.vue";
export default {
  name: "l-default",
  components: {VVerificationSidebar},
  data() {
    return {
      step: 0,
    }
  }
}
</script>

<style scoped lang="scss">
.layout{
  padding: 1%;
  box-sizing: border-box;
  height: 100vh;
  width: 100%;
}
.main{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: space-between;
}
.left{
  width: 19%;
}
.right{
  width: 80%;
  background: white;
  border-radius: 16px;
}
.content{
  &__inner{
    align-items: center;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  padding-top: 40px;
  height: 100%;
}
.full-width{
  width: 100%;
}
@media (max-width: 1200px) {
  .main{
    display: flex;
    flex-direction: column;
    .left, .right{
      width: 100%;
    }
    .left{
      height: 280px;
      margin-bottom: 18px;
    }
  }
  .layout{
    padding: 24px;
  }
  //.page{
  //  height: calc(100svh - 300px);
  //}
}
@media (max-width: 600px) {
  .main{
    .left{
      height: 180px;
    }
  }
  //.page{
  //  height: calc(100svh - 250px);
  //}
}
</style>
  